@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.grid {
  max-width: 1200px;
}

.grid-col {
  height: 60px;
  float: left;
}
.grid.overlay {
  height: 100vh;
  width: 100%;
  padding: 8px;
  display: block;
  margin: auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
}
.grid.overlay .grid-col._1of12 {
  width: 8.3333%;
  padding: 8px;
}
.grid.overlay .grid-col._2of12 {
  width: 16.6667%;
  padding: 8px;
}
.grid.overlay .grid-col._3of12 {
  width: 25%;
  padding: 8px;
}
.grid.overlay .grid-col._4of12 {
  width: 33.3333%;
  padding: 8px;
}
.grid.overlay .grid-col._5of12 {
  width: 41.6667%;
  padding: 8px;
}
.grid.overlay .grid-col._6of12 {
  width: 50%;
  padding: 8px;
}
.grid.overlay .grid-col._7of12 {
  width: 58.3333%;
  padding: 8px;
}
.grid.overlay .grid-col._8of12 {
  width: 66.6667%;
  padding: 8px;
}
.grid.overlay .grid-col._9of12 {
  width: 75%;
  padding: 8px;
}
.grid.overlay .grid-col._10of12 {
  width: 83.3333%;
  padding: 8px;
}
.grid.overlay .grid-col._11of12 {
  width: 91.6667%;
  padding: 8px;
}
.grid.overlay .grid-col._12of12 {
  width: 100%;
  padding: 8px;
}
.grid.overlay .col .inner {
  background-color: red;
  background-color: rgba(255, 0, 0, 0.3);
}
.grid .inner {
  height: 100%;
}

.grid {
  width: 100%;
  padding: 0;
}
.grid.master {
  display: block;
  margin: auto;
  padding: 8px;
}
.grid.demo .grid-col._1of1 {
  width: 100%;
  padding: 8px;
}
.grid.demo .grid-col._1of2 {
  width: 50%;
  padding: 8px;
}
.grid.demo .grid-col._2of2 {
  width: 100%;
  padding: 8px;
}
.grid.demo .grid-col._1of3 {
  width: 33.3333%;
  padding: 8px;
}
.grid.demo .grid-col._2of3 {
  width: 66.6667%;
  padding: 8px;
}
.grid.demo .grid-col._3of3 {
  width: 100%;
  padding: 8px;
}
.grid.demo .grid-col._1of4 {
  width: 25%;
  padding: 8px;
}
.grid.demo .grid-col._2of4 {
  width: 50%;
  padding: 8px;
}
.grid.demo .grid-col._3of4 {
  width: 75%;
  padding: 8px;
}
.grid.demo .grid-col._4of4 {
  width: 100%;
  padding: 8px;
}
.grid.demo .grid-col._1of5 {
  width: 20%;
  padding: 8px;
}
.grid.demo .grid-col._2of5 {
  width: 40%;
  padding: 8px;
}
.grid.demo .grid-col._3of5 {
  width: 60%;
  padding: 8px;
}
.grid.demo .grid-col._4of5 {
  width: 80%;
  padding: 8px;
}
.grid.demo .grid-col._5of5 {
  width: 100%;
  padding: 8px;
}
.grid.demo .grid-col._1of6 {
  width: 16.6667%;
  padding: 8px;
}
.grid.demo .grid-col._2of6 {
  width: 33.3333%;
  padding: 8px;
}
.grid.demo .grid-col._3of6 {
  width: 50%;
  padding: 8px;
}
.grid.demo .grid-col._4of6 {
  width: 66.6667%;
  padding: 8px;
}
.grid.demo .grid-col._5of6 {
  width: 83.3333%;
  padding: 8px;
}
.grid.demo .grid-col._6of6 {
  width: 100%;
  padding: 8px;
}
.grid.demo .grid-col._1of7 {
  width: 14.2857%;
  padding: 8px;
}
.grid.demo .grid-col._2of7 {
  width: 28.5714%;
  padding: 8px;
}
.grid.demo .grid-col._3of7 {
  width: 42.8571%;
  padding: 8px;
}
.grid.demo .grid-col._4of7 {
  width: 57.1429%;
  padding: 8px;
}
.grid.demo .grid-col._5of7 {
  width: 71.4286%;
  padding: 8px;
}
.grid.demo .grid-col._6of7 {
  width: 85.7143%;
  padding: 8px;
}
.grid.demo .grid-col._7of7 {
  width: 100%;
  padding: 8px;
}
.grid.demo .grid-col._1of8 {
  width: 12.5%;
  padding: 8px;
}
.grid.demo .grid-col._2of8 {
  width: 25%;
  padding: 8px;
}
.grid.demo .grid-col._3of8 {
  width: 37.5%;
  padding: 8px;
}
.grid.demo .grid-col._4of8 {
  width: 50%;
  padding: 8px;
}
.grid.demo .grid-col._5of8 {
  width: 62.5%;
  padding: 8px;
}
.grid.demo .grid-col._6of8 {
  width: 75%;
  padding: 8px;
}
.grid.demo .grid-col._7of8 {
  width: 87.5%;
  padding: 8px;
}
.grid.demo .grid-col._8of8 {
  width: 100%;
  padding: 8px;
}
.grid.demo .grid-col._1of9 {
  width: 11.1111%;
  padding: 8px;
}
.grid.demo .grid-col._2of9 {
  width: 22.2222%;
  padding: 8px;
}
.grid.demo .grid-col._3of9 {
  width: 33.3333%;
  padding: 8px;
}
.grid.demo .grid-col._4of9 {
  width: 44.4444%;
  padding: 8px;
}
.grid.demo .grid-col._5of9 {
  width: 55.5556%;
  padding: 8px;
}
.grid.demo .grid-col._6of9 {
  width: 66.6667%;
  padding: 8px;
}
.grid.demo .grid-col._7of9 {
  width: 77.7778%;
  padding: 8px;
}
.grid.demo .grid-col._8of9 {
  width: 88.8889%;
  padding: 8px;
}
.grid.demo .grid-col._9of9 {
  width: 100%;
  padding: 8px;
}
.grid.demo .grid-col._1of10 {
  width: 10%;
  padding: 8px;
}
.grid.demo .grid-col._2of10 {
  width: 20%;
  padding: 8px;
}
.grid.demo .grid-col._3of10 {
  width: 30%;
  padding: 8px;
}
.grid.demo .grid-col._4of10 {
  width: 40%;
  padding: 8px;
}
.grid.demo .grid-col._5of10 {
  width: 50%;
  padding: 8px;
}
.grid.demo .grid-col._6of10 {
  width: 60%;
  padding: 8px;
}
.grid.demo .grid-col._7of10 {
  width: 70%;
  padding: 8px;
}
.grid.demo .grid-col._8of10 {
  width: 80%;
  padding: 8px;
}
.grid.demo .grid-col._9of10 {
  width: 90%;
  padding: 8px;
}
.grid.demo .grid-col._10of10 {
  width: 100%;
  padding: 8px;
}
.grid.demo .grid-col._1of11 {
  width: 9.0909%;
  padding: 8px;
}
.grid.demo .grid-col._2of11 {
  width: 18.1818%;
  padding: 8px;
}
.grid.demo .grid-col._3of11 {
  width: 27.2727%;
  padding: 8px;
}
.grid.demo .grid-col._4of11 {
  width: 36.3636%;
  padding: 8px;
}
.grid.demo .grid-col._5of11 {
  width: 45.4545%;
  padding: 8px;
}
.grid.demo .grid-col._6of11 {
  width: 54.5455%;
  padding: 8px;
}
.grid.demo .grid-col._7of11 {
  width: 63.6364%;
  padding: 8px;
}
.grid.demo .grid-col._8of11 {
  width: 72.7273%;
  padding: 8px;
}
.grid.demo .grid-col._9of11 {
  width: 81.8182%;
  padding: 8px;
}
.grid.demo .grid-col._10of11 {
  width: 90.9091%;
  padding: 8px;
}
.grid.demo .grid-col._11of11 {
  width: 100.0%;
  padding: 8px;
}
.grid.demo .grid-col._1of12 {
  width: 8.3333%;
  padding: 8px;
}
.grid.demo .grid-col._2of12 {
  width: 16.6667%;
  padding: 8px;
}
.grid.demo .grid-col._3of12 {
  width: 25%;
  padding: 8px;
}
.grid.demo .grid-col._4of12 {
  width: 33.3333%;
  padding: 8px;
}
.grid.demo .grid-col._5of12 {
  width: 41.6667%;
  padding: 8px;
}
.grid.demo .grid-col._6of12 {
  width: 50%;
  padding: 8px;
}
.grid.demo .grid-col._7of12 {
  width: 58.3333%;
  padding: 8px;
}
.grid.demo .grid-col._8of12 {
  width: 66.6667%;
  padding: 8px;
}
.grid.demo .grid-col._9of12 {
  width: 75%;
  padding: 8px;
}
.grid.demo .grid-col._10of12 {
  width: 83.3333%;
  padding: 8px;
}
.grid.demo .grid-col._11of12 {
  width: 91.6667%;
  padding: 8px;
}
.grid.demo .grid-col._12of12 {
  width: 100%;
  padding: 8px;
}
.grid.demo .inner {
  background-color: blue;
  background-color: rgba(0, 0, 255, 0.3);
}
.grid.demo .grid-col:before {
  content: attr(class) !important;
  margin: auto;
  font-size: 11px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: orange;
  display: table-header-group;
  text-align: center;
}
.grid.demo .grid-col {
  display: table;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body:before {
  background-color: #FCF8E3;
  border-bottom: 1px solid #FBEED5;
  border-left: 1px solid #FBEED5;
  color: #C09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
@media (min-width: 20em) {
  body:before {
    content: "mobile ≥ 320px (20em)";
  }
}
@media (min-width: 30em) {
  body:before {
    content: "mobileLandscape ≥ 480px (30em)";
  }
}
@media (min-width: 46.25em) {
  body:before {
    content: "tablet ≥ 740px (46.25em)";
  }
}
@media (min-width: 61.25em) {
  body:before {
    content: "desktop ≥ 980px (61.25em)";
  }
}
@media (min-width: 81.25em) {
  body:before {
    content: "wide ≥ 1300px (81.25em)";
  }
}

/*# sourceMappingURL=grid-samples.css.map */