@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.grid {
  max-width: 1200px;
}

.grid [class*=-col] {
  height: 60px;
  float: left;
}
.grid.overlay {
  height: 100vh;
  width: 100%;
  padding: 8px;
  display: block;
  margin: auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
}
.grid.overlay .grid-col-1 {
  width: 8.3333%;
  padding: 8px;
}
.grid.overlay .grid-col-2 {
  width: 16.6667%;
  padding: 8px;
}
.grid.overlay .grid-col-3 {
  width: 25%;
  padding: 8px;
}
.grid.overlay .grid-col-4 {
  width: 33.3333%;
  padding: 8px;
}
.grid.overlay .grid-col-5 {
  width: 41.6667%;
  padding: 8px;
}
.grid.overlay .grid-col-6 {
  width: 50%;
  padding: 8px;
}
.grid.overlay .grid-col-7 {
  width: 58.3333%;
  padding: 8px;
}
.grid.overlay .grid-col-8 {
  width: 66.6667%;
  padding: 8px;
}
.grid.overlay .grid-col-9 {
  width: 75%;
  padding: 8px;
}
.grid.overlay .grid-col-10 {
  width: 83.3333%;
  padding: 8px;
}
.grid.overlay .grid-col-11 {
  width: 91.6667%;
  padding: 8px;
}
.grid.overlay .grid-col-12 {
  width: 100%;
  padding: 8px;
}
.grid.overlay .col .inner {
  background-color: red;
  background-color: rgba(255, 0, 0, 0.3);
}
.grid .inner {
  height: 100%;
}

.grid {
  width: 100%;
  padding: 0;
}
.grid.master {
  display: block;
  margin: auto;
  padding: 8px;
}
.grid.demo .grid-col-1 {
  width: 8.3333%;
  padding: 8px;
}
.grid.demo .grid-col-1 .inner:before {
  content: "1";
  margin: auto;
}
.grid.demo .grid-col-2 {
  width: 16.6667%;
  padding: 8px;
}
.grid.demo .grid-col-2 .inner:before {
  content: "2";
  margin: auto;
}
.grid.demo .grid-col-3 {
  width: 25%;
  padding: 8px;
}
.grid.demo .grid-col-3 .inner:before {
  content: "3";
  margin: auto;
}
.grid.demo .grid-col-4 {
  width: 33.3333%;
  padding: 8px;
}
.grid.demo .grid-col-4 .inner:before {
  content: "4";
  margin: auto;
}
.grid.demo .grid-col-5 {
  width: 41.6667%;
  padding: 8px;
}
.grid.demo .grid-col-5 .inner:before {
  content: "5";
  margin: auto;
}
.grid.demo .grid-col-6 {
  width: 50%;
  padding: 8px;
}
.grid.demo .grid-col-6 .inner:before {
  content: "6";
  margin: auto;
}
.grid.demo .grid-col-7 {
  width: 58.3333%;
  padding: 8px;
}
.grid.demo .grid-col-7 .inner:before {
  content: "7";
  margin: auto;
}
.grid.demo .grid-col-8 {
  width: 66.6667%;
  padding: 8px;
}
.grid.demo .grid-col-8 .inner:before {
  content: "8";
  margin: auto;
}
.grid.demo .grid-col-9 {
  width: 75%;
  padding: 8px;
}
.grid.demo .grid-col-9 .inner:before {
  content: "9";
  margin: auto;
}
.grid.demo .grid-col-10 {
  width: 83.3333%;
  padding: 8px;
}
.grid.demo .grid-col-10 .inner:before {
  content: "10";
  margin: auto;
}
.grid.demo .grid-col-11 {
  width: 91.6667%;
  padding: 8px;
}
.grid.demo .grid-col-11 .inner:before {
  content: "11";
  margin: auto;
}
.grid.demo .grid-col-12 {
  width: 100%;
  padding: 8px;
}
.grid.demo .grid-col-12 .inner:before {
  content: "12";
  margin: auto;
}
.grid.demo .inner {
  background-color: blue;
  background-color: rgba(0, 0, 255, 0.3);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body:before {
  background-color: #FCF8E3;
  border-bottom: 1px solid #FBEED5;
  border-left: 1px solid #FBEED5;
  color: #C09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
@media (min-width: 20em) {
  body:before {
    content: "mobile ≥ 320px (20em)";
  }
}
@media (min-width: 30em) {
  body:before {
    content: "mobileLandscape ≥ 480px (30em)";
  }
}
@media (min-width: 46.25em) {
  body:before {
    content: "tablet ≥ 740px (46.25em)";
  }
}
@media (min-width: 61.25em) {
  body:before {
    content: "desktop ≥ 980px (61.25em)";
  }
}
@media (min-width: 81.25em) {
  body:before {
    content: "wide ≥ 1300px (81.25em)";
  }
}

/*# sourceMappingURL=grid-samples.css.map */