html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font: 1.6rem/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 4rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
}
p + * {
  margin-top: 0.8rem;
}
p + * + * {
  margin-top: 0.8rem;
}

.large {
  font-size: 2rem;
}

.dev-controls {
  position: fixed;
  z-index: 100;
  background: #ccc;
  width: 100%;
  padding: 0.4rem;
  box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.5);
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
  opacity: 0.1;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.dev-controls:hover {
  opacity: 1;
}

.grid.overlay {
  height: 100vh;
  padding: 0 0.4rem;
  display: block;
  margin: auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
}
.grid.overlay [class*=-col] {
  height: 100%;
  padding: 0 0.4rem;
}
.grid.overlay .inner {
  background: rgba(255, 0, 0, 0.3);
  height: 100%;
}
.grid-gutter-outer {
  width: 100%;
}

.container-set-width, #gridOverlay {
  max-width: 100rem;
  display: block;
  margin: auto;
}

.grid .grid-col-1 {
  width: 8.3333%;
  position: relative;
}
.grid .grid-col-push-1 {
  margin-left: 8.3333%;
}
.grid .grid-col-flip-left-1 {
  left: 8.3333%;
}
.grid .grid-col-flip-right-1 {
  right: 8.3333%;
}
.grid .grid-col-2 {
  width: 16.6667%;
  position: relative;
}
.grid .grid-col-push-2 {
  margin-left: 16.6667%;
}
.grid .grid-col-flip-left-2 {
  left: 16.6667%;
}
.grid .grid-col-flip-right-2 {
  right: 16.6667%;
}
.grid .grid-col-3 {
  width: 25%;
  position: relative;
}
.grid .grid-col-push-3 {
  margin-left: 25%;
}
.grid .grid-col-flip-left-3 {
  left: 25%;
}
.grid .grid-col-flip-right-3 {
  right: 25%;
}
.grid .grid-col-4 {
  width: 33.3333%;
  position: relative;
}
.grid .grid-col-push-4 {
  margin-left: 33.3333%;
}
.grid .grid-col-flip-left-4 {
  left: 33.3333%;
}
.grid .grid-col-flip-right-4 {
  right: 33.3333%;
}
.grid .grid-col-5 {
  width: 41.6667%;
  position: relative;
}
.grid .grid-col-push-5 {
  margin-left: 41.6667%;
}
.grid .grid-col-flip-left-5 {
  left: 41.6667%;
}
.grid .grid-col-flip-right-5 {
  right: 41.6667%;
}
.grid .grid-col-6 {
  width: 50%;
  position: relative;
}
.grid .grid-col-push-6 {
  margin-left: 50%;
}
.grid .grid-col-flip-left-6 {
  left: 50%;
}
.grid .grid-col-flip-right-6 {
  right: 50%;
}
.grid .grid-col-7 {
  width: 58.3333%;
  position: relative;
}
.grid .grid-col-push-7 {
  margin-left: 58.3333%;
}
.grid .grid-col-flip-left-7 {
  left: 58.3333%;
}
.grid .grid-col-flip-right-7 {
  right: 58.3333%;
}
.grid .grid-col-8 {
  width: 66.6667%;
  position: relative;
}
.grid .grid-col-push-8 {
  margin-left: 66.6667%;
}
.grid .grid-col-flip-left-8 {
  left: 66.6667%;
}
.grid .grid-col-flip-right-8 {
  right: 66.6667%;
}
.grid .grid-col-9 {
  width: 75%;
  position: relative;
}
.grid .grid-col-push-9 {
  margin-left: 75%;
}
.grid .grid-col-flip-left-9 {
  left: 75%;
}
.grid .grid-col-flip-right-9 {
  right: 75%;
}
.grid .grid-col-10 {
  width: 83.3333%;
  position: relative;
}
.grid .grid-col-push-10 {
  margin-left: 83.3333%;
}
.grid .grid-col-flip-left-10 {
  left: 83.3333%;
}
.grid .grid-col-flip-right-10 {
  right: 83.3333%;
}
.grid .grid-col-11 {
  width: 91.6667%;
  position: relative;
}
.grid .grid-col-push-11 {
  margin-left: 91.6667%;
}
.grid .grid-col-flip-left-11 {
  left: 91.6667%;
}
.grid .grid-col-flip-right-11 {
  right: 91.6667%;
}
.grid .grid-col-12 {
  width: 100%;
  position: relative;
}
.grid .grid-col-push-12 {
  margin-left: 100%;
}
.grid .grid-col-flip-left-12 {
  left: 100%;
}
.grid .grid-col-flip-right-12 {
  right: 100%;
}
.grid [class*=grid-col] {
  float: left;
}
.grid .grid-col-1, .grid .grid-col-2, .grid .grid-col-3, .grid .grid-col-4, .grid .grid-col-5, .grid .grid-col-6, .grid .grid-col-7, .grid .grid-col-8, .grid .grid-col-9, .grid .grid-col-10, .grid .grid-col-11, .grid .grid-col-12, .grid .demo-bg-1.grid-nums .grid-col-1, .demo-bg-1.grid-nums .grid .grid-col-1, .grid .demo-bg-1.grid-nums .grid-col-2, .demo-bg-1.grid-nums .grid .grid-col-2, .grid .demo-bg-1.grid-nums .grid-col-3, .demo-bg-1.grid-nums .grid .grid-col-3, .grid .demo-bg-1.grid-nums .grid-col-4, .demo-bg-1.grid-nums .grid .grid-col-4, .grid .demo-bg-1.grid-nums .grid-col-5, .demo-bg-1.grid-nums .grid .grid-col-5, .grid .demo-bg-1.grid-nums .grid-col-6, .demo-bg-1.grid-nums .grid .grid-col-6, .grid .demo-bg-1.grid-nums .grid-col-7, .demo-bg-1.grid-nums .grid .grid-col-7, .grid .demo-bg-1.grid-nums .grid-col-8, .demo-bg-1.grid-nums .grid .grid-col-8, .grid .demo-bg-1.grid-nums .grid-col-9, .demo-bg-1.grid-nums .grid .grid-col-9, .grid .demo-bg-1.grid-nums .grid-col-10, .demo-bg-1.grid-nums .grid .grid-col-10, .grid .demo-bg-1.grid-nums .grid-col-11, .demo-bg-1.grid-nums .grid .grid-col-11, .grid .demo-bg-1.grid-nums .grid-col-12, .demo-bg-1.grid-nums .grid .grid-col-12 {
  padding: 0.4rem;
}
.grid .col-group {
  padding: 0;
}
.grid .col-group-descend > [class*=grid-col] {
  padding: 0;
}
.grid-gutter-outer {
  padding: 0.4rem;
  clear: both;
}

.code-example {
  background-color: #eee;
  font-size: 2rem;
  padding: 0.4rem 0.8rem;
}

code, pre {
  white-space: pre;
}

pre {
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.demo-bg-1.grid-nums .grid-col-1 {
  width: 8.3333%;
  position: relative;
}
.demo-bg-1.grid-nums .grid-col-1 .inner:before {
  content: "1";
  margin: auto;
}
.demo-bg-1.grid-nums .grid-col-push-1 {
  margin-left: 8.3333%;
}
.demo-bg-1.grid-nums .grid-col-flip-left-1 {
  left: 8.3333%;
}
.demo-bg-1.grid-nums .grid-col-flip-right-1 {
  right: 8.3333%;
}
.demo-bg-1.grid-nums .grid-col-2 {
  width: 16.6667%;
  position: relative;
}
.demo-bg-1.grid-nums .grid-col-2 .inner:before {
  content: "2";
  margin: auto;
}
.demo-bg-1.grid-nums .grid-col-push-2 {
  margin-left: 16.6667%;
}
.demo-bg-1.grid-nums .grid-col-flip-left-2 {
  left: 16.6667%;
}
.demo-bg-1.grid-nums .grid-col-flip-right-2 {
  right: 16.6667%;
}
.demo-bg-1.grid-nums .grid-col-3 {
  width: 25%;
  position: relative;
}
.demo-bg-1.grid-nums .grid-col-3 .inner:before {
  content: "3";
  margin: auto;
}
.demo-bg-1.grid-nums .grid-col-push-3 {
  margin-left: 25%;
}
.demo-bg-1.grid-nums .grid-col-flip-left-3 {
  left: 25%;
}
.demo-bg-1.grid-nums .grid-col-flip-right-3 {
  right: 25%;
}
.demo-bg-1.grid-nums .grid-col-4 {
  width: 33.3333%;
  position: relative;
}
.demo-bg-1.grid-nums .grid-col-4 .inner:before {
  content: "4";
  margin: auto;
}
.demo-bg-1.grid-nums .grid-col-push-4 {
  margin-left: 33.3333%;
}
.demo-bg-1.grid-nums .grid-col-flip-left-4 {
  left: 33.3333%;
}
.demo-bg-1.grid-nums .grid-col-flip-right-4 {
  right: 33.3333%;
}
.demo-bg-1.grid-nums .grid-col-5 {
  width: 41.6667%;
  position: relative;
}
.demo-bg-1.grid-nums .grid-col-5 .inner:before {
  content: "5";
  margin: auto;
}
.demo-bg-1.grid-nums .grid-col-push-5 {
  margin-left: 41.6667%;
}
.demo-bg-1.grid-nums .grid-col-flip-left-5 {
  left: 41.6667%;
}
.demo-bg-1.grid-nums .grid-col-flip-right-5 {
  right: 41.6667%;
}
.demo-bg-1.grid-nums .grid-col-6 {
  width: 50%;
  position: relative;
}
.demo-bg-1.grid-nums .grid-col-6 .inner:before {
  content: "6";
  margin: auto;
}
.demo-bg-1.grid-nums .grid-col-push-6 {
  margin-left: 50%;
}
.demo-bg-1.grid-nums .grid-col-flip-left-6 {
  left: 50%;
}
.demo-bg-1.grid-nums .grid-col-flip-right-6 {
  right: 50%;
}
.demo-bg-1.grid-nums .grid-col-7 {
  width: 58.3333%;
  position: relative;
}
.demo-bg-1.grid-nums .grid-col-7 .inner:before {
  content: "7";
  margin: auto;
}
.demo-bg-1.grid-nums .grid-col-push-7 {
  margin-left: 58.3333%;
}
.demo-bg-1.grid-nums .grid-col-flip-left-7 {
  left: 58.3333%;
}
.demo-bg-1.grid-nums .grid-col-flip-right-7 {
  right: 58.3333%;
}
.demo-bg-1.grid-nums .grid-col-8 {
  width: 66.6667%;
  position: relative;
}
.demo-bg-1.grid-nums .grid-col-8 .inner:before {
  content: "8";
  margin: auto;
}
.demo-bg-1.grid-nums .grid-col-push-8 {
  margin-left: 66.6667%;
}
.demo-bg-1.grid-nums .grid-col-flip-left-8 {
  left: 66.6667%;
}
.demo-bg-1.grid-nums .grid-col-flip-right-8 {
  right: 66.6667%;
}
.demo-bg-1.grid-nums .grid-col-9 {
  width: 75%;
  position: relative;
}
.demo-bg-1.grid-nums .grid-col-9 .inner:before {
  content: "9";
  margin: auto;
}
.demo-bg-1.grid-nums .grid-col-push-9 {
  margin-left: 75%;
}
.demo-bg-1.grid-nums .grid-col-flip-left-9 {
  left: 75%;
}
.demo-bg-1.grid-nums .grid-col-flip-right-9 {
  right: 75%;
}
.demo-bg-1.grid-nums .grid-col-10 {
  width: 83.3333%;
  position: relative;
}
.demo-bg-1.grid-nums .grid-col-10 .inner:before {
  content: "10";
  margin: auto;
}
.demo-bg-1.grid-nums .grid-col-push-10 {
  margin-left: 83.3333%;
}
.demo-bg-1.grid-nums .grid-col-flip-left-10 {
  left: 83.3333%;
}
.demo-bg-1.grid-nums .grid-col-flip-right-10 {
  right: 83.3333%;
}
.demo-bg-1.grid-nums .grid-col-11 {
  width: 91.6667%;
  position: relative;
}
.demo-bg-1.grid-nums .grid-col-11 .inner:before {
  content: "11";
  margin: auto;
}
.demo-bg-1.grid-nums .grid-col-push-11 {
  margin-left: 91.6667%;
}
.demo-bg-1.grid-nums .grid-col-flip-left-11 {
  left: 91.6667%;
}
.demo-bg-1.grid-nums .grid-col-flip-right-11 {
  right: 91.6667%;
}
.demo-bg-1.grid-nums .grid-col-12 {
  width: 100%;
  position: relative;
}
.demo-bg-1.grid-nums .grid-col-12 .inner:before {
  content: "12";
  margin: auto;
}
.demo-bg-1.grid-nums .grid-col-push-12 {
  margin-left: 100%;
}
.demo-bg-1.grid-nums .grid-col-flip-left-12 {
  left: 100%;
}
.demo-bg-1.grid-nums .grid-col-flip-right-12 {
  right: 100%;
}
.demo-bg-1.grid-nums [class*=grid-col] {
  float: left;
}
.demo-bg-1.grid-gutter-outer {
  background: rgba(255, 0, 0, 0.1);
}
.demo-bg-1 .inner {
  background: rgba(255, 0, 0, 0.2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.demo-bg-2 .grid-gutter-outer {
  background-color: #5F9ED9;
}
.demo-bg-2 .inner {
  background-color: rgba(255, 255, 255, 0.75);
}
.demo-bg-2 .col-single.with-names .inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.demo-bg-2 .col-single.with-names .inner p {
  margin: auto;
  color: rgba(255, 255, 255, 0.5);
}
.demo-bg-2 .col-single .inner {
  background-color: rgba(0, 0, 0, 0.5);
}
.demo + .demo {
  margin-top: 3.2rem;
}
.demo-outer {
  display: block;
  margin: auto;
}
.demo-borders > [class*=grid-col] {
  border-left: 1px solid rgba(255, 0, 0, 0.4);
  border-right: 1px solid rgba(255, 0, 0, 0.4);
  border-top: 0;
  border-bottom: 0;
}
.demo-borders > [class*=grid-col]:first-child {
  border-left: none;
}
.demo-borders > [class*=grid-col]:last-child {
  border-right: none;
}
.demo-borders > [class*=grid-col-flip] {
  border-right: none;
  border-left: none;
}
.demo-borders > [class*=grid-col-flip]:first-child {
  border-left: 1px solid rgba(255, 0, 0, 0.4);
}
.demo-borders > [class*=grid-col-flip]:last-child {
  border-right: 1px solid rgba(255, 0, 0, 0.4);
}

.inner {
  min-height: 4rem;
}

.with-names .inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.with-names .inner p {
  margin: auto;
  color: rgba(0, 0, 0, 0.75);
}

.clearfix:after, .inner:after {
  content: "";
  display: table;
  clear: both;
}

/*# sourceMappingURL=style.css.map */