html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

main * ~ *:not([class*=i-col]):not(.i-row):not(.i-outer):not(main):not(h2):not(h3):not(h4):not(section):not(li):not(dt),
section > :first-child:not(h2),
dl:first-child {
  margin: 0 0 3rem 0;
}

.demo-bg-1 .i-outer {
  background: rgba(255, 112, 112, 0.3);
}
.demo-bg-1 .i-outer .i-inner {
  background: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.demo-bg-1 .i-inner {
  background: rgba(255, 112, 112, 0.3);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.demo.simple-demo-1 .i-outer {
  padding: 0.4rem;
  clear: both;
}
.demo.simple-demo-1 .i-row {
  padding: 0;
}
.demo.simple-demo-1 .i-row:first-of-type {
  padding-top: 0;
}
.demo.simple-demo-1 .i-row:last-of-type {
  padding-bottom: 0;
}
.demo.simple-demo-1 .i-col-1 {
  width: 33.3333%;
}
.demo.simple-demo-1 .i-col-2 {
  width: 66.6667%;
}
.demo.simple-demo-1 .i-col-3 {
  width: 100%;
}
.demo.simple-demo-1 [class*=i-col] {
  padding: 0.4rem;
  min-height: 0.1rem;
  position: relative;
  float: left;
}
.demo.simple-demo-1 [class*=i-col].i-g {
  padding: 0;
}
@media (min-width: 600px) {
  .demo.simple-demo-1 .i-outer {
    padding: 0.4rem;
    clear: both;
  }
  .demo.simple-demo-1 .i-row {
    padding: 0;
  }
  .demo.simple-demo-1 .i-row:first-of-type {
    padding-top: 0;
  }
  .demo.simple-demo-1 .i-row:last-of-type {
    padding-bottom: 0;
  }
  .demo.simple-demo-1 .i-sm-1 {
    width: 33.3333%;
  }
  .demo.simple-demo-1 .i-sm-2 {
    width: 66.6667%;
  }
  .demo.simple-demo-1 .i-sm-3 {
    width: 100%;
  }
  .demo.simple-demo-1 [class*=i-sm] {
    padding: 0.4rem;
    min-height: 0.1rem;
    position: relative;
    float: left;
  }
  .demo.simple-demo-1 [class*=i-sm].i-g {
    padding: 0;
  }
}
.demo-bg-2 .i-outer {
  background-color: rgba(255, 112, 112, 0.3);
}
.demo-bg-2 .i-inner {
  background-color: #FFF;
}
.demo-bg-2 .i-single.i-names .i-inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.demo-bg-2 .i-single.i-names .i-inner p {
  margin: auto;
  color: white;
}
.demo-bg-2 .i-single .i-inner {
  background-color: #FF7070;
}
.demo-bg-3 .i-outer {
  padding: 0;
  clear: both;
}
.demo-bg-3 .i-row {
  padding: 1rem 0;
}
.demo-bg-3 .i-row:first-of-type {
  padding-top: 0;
}
.demo-bg-3 .i-row:last-of-type {
  padding-bottom: 0;
}
.demo-bg-3 .i-col-1 {
  width: 8.3333%;
}
.demo-bg-3 .i-col-2 {
  width: 16.6667%;
}
.demo-bg-3 .i-col-3 {
  width: 25%;
}
.demo-bg-3 .i-col-4 {
  width: 33.3333%;
}
.demo-bg-3 .i-col-5 {
  width: 41.6667%;
}
.demo-bg-3 .i-col-6 {
  width: 50%;
}
.demo-bg-3 .i-col-7 {
  width: 58.3333%;
}
.demo-bg-3 .i-col-8 {
  width: 66.6667%;
}
.demo-bg-3 .i-col-9 {
  width: 75%;
}
.demo-bg-3 .i-col-10 {
  width: 83.3333%;
}
.demo-bg-3 .i-col-11 {
  width: 91.6667%;
}
.demo-bg-3 .i-col-12 {
  width: 100%;
}
.demo-bg-3 .i-o-1 {
  margin-left: 8.3333%;
}
.demo-bg-3 .i-o-2 {
  margin-left: 16.6667%;
}
.demo-bg-3 .i-o-3 {
  margin-left: 25%;
}
.demo-bg-3 .i-o-4 {
  margin-left: 33.3333%;
}
.demo-bg-3 .i-o-5 {
  margin-left: 41.6667%;
}
.demo-bg-3 .i-o-6 {
  margin-left: 50%;
}
.demo-bg-3 .i-o-7 {
  margin-left: 58.3333%;
}
.demo-bg-3 .i-o-8 {
  margin-left: 66.6667%;
}
.demo-bg-3 .i-o-9 {
  margin-left: 75%;
}
.demo-bg-3 .i-o-10 {
  margin-left: 83.3333%;
}
.demo-bg-3 .i-o-11 {
  margin-left: 91.6667%;
}
.demo-bg-3 .i-o-12 {
  margin-left: 100%;
}
.demo-bg-3 [class*=i-col] {
  padding: 0;
  min-height: 0.1rem;
  position: relative;
  float: left;
}
.demo-bg-3 [class*=i-col].i-g {
  padding: 0;
}
@media (min-width: 800px) {
  .demo-bg-3 .i-outer {
    padding: 0;
    clear: both;
  }
  .demo-bg-3 .i-row {
    padding: 1rem 0;
  }
  .demo-bg-3 .i-row:first-of-type {
    padding-top: 0;
  }
  .demo-bg-3 .i-row:last-of-type {
    padding-bottom: 0;
  }
  .demo-bg-3 .i-md-1 {
    width: 8.3333%;
  }
  .demo-bg-3 .i-md-2 {
    width: 16.6667%;
  }
  .demo-bg-3 .i-md-3 {
    width: 25%;
  }
  .demo-bg-3 .i-md-4 {
    width: 33.3333%;
  }
  .demo-bg-3 .i-md-5 {
    width: 41.6667%;
  }
  .demo-bg-3 .i-md-6 {
    width: 50%;
  }
  .demo-bg-3 .i-md-7 {
    width: 58.3333%;
  }
  .demo-bg-3 .i-md-8 {
    width: 66.6667%;
  }
  .demo-bg-3 .i-md-9 {
    width: 75%;
  }
  .demo-bg-3 .i-md-10 {
    width: 83.3333%;
  }
  .demo-bg-3 .i-md-11 {
    width: 91.6667%;
  }
  .demo-bg-3 .i-md-12 {
    width: 100%;
  }
  .demo-bg-3 .i-md-fl-1 {
    left: 8.3333%;
  }
  .demo-bg-3 .i-md-fr-1 {
    right: 8.3333%;
  }
  .demo-bg-3 .i-md-fl-2 {
    left: 16.6667%;
  }
  .demo-bg-3 .i-md-fr-2 {
    right: 16.6667%;
  }
  .demo-bg-3 .i-md-fl-3 {
    left: 25%;
  }
  .demo-bg-3 .i-md-fr-3 {
    right: 25%;
  }
  .demo-bg-3 .i-md-fl-4 {
    left: 33.3333%;
  }
  .demo-bg-3 .i-md-fr-4 {
    right: 33.3333%;
  }
  .demo-bg-3 .i-md-fl-5 {
    left: 41.6667%;
  }
  .demo-bg-3 .i-md-fr-5 {
    right: 41.6667%;
  }
  .demo-bg-3 .i-md-fl-6 {
    left: 50%;
  }
  .demo-bg-3 .i-md-fr-6 {
    right: 50%;
  }
  .demo-bg-3 .i-md-fl-7 {
    left: 58.3333%;
  }
  .demo-bg-3 .i-md-fr-7 {
    right: 58.3333%;
  }
  .demo-bg-3 .i-md-fl-8 {
    left: 66.6667%;
  }
  .demo-bg-3 .i-md-fr-8 {
    right: 66.6667%;
  }
  .demo-bg-3 .i-md-fl-9 {
    left: 75%;
  }
  .demo-bg-3 .i-md-fr-9 {
    right: 75%;
  }
  .demo-bg-3 .i-md-fl-10 {
    left: 83.3333%;
  }
  .demo-bg-3 .i-md-fr-10 {
    right: 83.3333%;
  }
  .demo-bg-3 .i-md-fl-11 {
    left: 91.6667%;
  }
  .demo-bg-3 .i-md-fr-11 {
    right: 91.6667%;
  }
  .demo-bg-3 .i-md-fl-12 {
    left: 100%;
  }
  .demo-bg-3 .i-md-fr-12 {
    right: 100%;
  }
  .demo-bg-3 [class*=i-md] {
    padding: 0;
    min-height: 0.1rem;
    position: relative;
    float: left;
  }
  .demo-bg-3 [class*=i-md].i-g {
    padding: 0;
  }
}
.demo-bg-3 .i-outer {
  background: transparent;
}
.demo-bg-3 .i-outer .i-inner {
  background: rgba(255, 112, 112, 0.3);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.demo-bg-3 .i-inner {
  background: rgba(255, 112, 112, 0.3);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.demo-outer {
  display: block;
  margin: auto;
}
.demo-borders [class*=i-col] {
  border-left: 1px solid #FF7070;
  border-right: 1px solid #FF7070;
  border-top: 0;
  border-bottom: 0;
}
.demo-borders [class*=i-col]:first-child {
  border-left: none;
}
.demo-borders [class*=i-col]:last-child {
  border-right: none;
}
@media (min-width: 800px) {
  .demo-borders [class*=i-col]:first-child {
    border-left: 1px solid #FF7070;
    border-right: none;
  }
  .demo-borders [class*=i-col]:last-child {
    border-right: 1px solid #FF7070;
    border-left: none;
  }
}
.demo-borders > [class*=i-col-f] {
  border-right: none;
  border-left: none;
}
.demo-borders > [class*=i-col-f]:first-child {
  border-left: 1px solid #FF7070;
}
.demo-borders > [class*=i-col-f]:last-child {
  border-right: 1px solid #FF7070;
}

.i-inner {
  min-height: 4rem;
}

.demo .i-inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.demo .i-inner p {
  margin: auto;
  text-align: center;
  color: black;
}

.eg header {
  background: rgba(255, 112, 112, 0.2);
}
.eg header h1 {
  color: #FF7070;
}
.eg-bg-1 .i-inner {
  background: #FFF;
  border: 0.8rem solid rgba(255, 112, 112, 0.3);
  padding: 2rem;
}
.eg .i-outer {
  padding: 0;
  clear: both;
}
.eg .i-row {
  padding: 1rem 0;
}
.eg .i-row:first-of-type {
  padding-top: 0;
}
.eg .i-row:last-of-type {
  padding-bottom: 0;
}
.eg .i-col-1 {
  width: 8.3333%;
}
.eg .i-col-2 {
  width: 16.6667%;
}
.eg .i-col-3 {
  width: 25%;
}
.eg .i-col-4 {
  width: 33.3333%;
}
.eg .i-col-5 {
  width: 41.6667%;
}
.eg .i-col-6 {
  width: 50%;
}
.eg .i-col-7 {
  width: 58.3333%;
}
.eg .i-col-8 {
  width: 66.6667%;
}
.eg .i-col-9 {
  width: 75%;
}
.eg .i-col-10 {
  width: 83.3333%;
}
.eg .i-col-11 {
  width: 91.6667%;
}
.eg .i-col-12 {
  width: 100%;
}
.eg [class*=i-col] {
  padding: 0.5rem;
  min-height: 0.1rem;
  position: relative;
  float: left;
}
.eg [class*=i-col].i-g {
  padding: 0;
}
@media (min-width: 600px) {
  .eg .i-outer {
    padding: 0;
    clear: both;
  }
  .eg .i-row {
    padding: 1rem 0;
  }
  .eg .i-row:first-of-type {
    padding-top: 0;
  }
  .eg .i-row:last-of-type {
    padding-bottom: 0;
  }
  .eg .i-sm-1 {
    width: 8.3333%;
  }
  .eg .i-sm-2 {
    width: 16.6667%;
  }
  .eg .i-sm-3 {
    width: 25%;
  }
  .eg .i-sm-4 {
    width: 33.3333%;
  }
  .eg .i-sm-5 {
    width: 41.6667%;
  }
  .eg .i-sm-6 {
    width: 50%;
  }
  .eg .i-sm-7 {
    width: 58.3333%;
  }
  .eg .i-sm-8 {
    width: 66.6667%;
  }
  .eg .i-sm-9 {
    width: 75%;
  }
  .eg .i-sm-10 {
    width: 83.3333%;
  }
  .eg .i-sm-11 {
    width: 91.6667%;
  }
  .eg .i-sm-12 {
    width: 100%;
  }
  .eg [class*=i-sm] {
    padding: 2rem;
    min-height: 0.1rem;
    position: relative;
    float: left;
  }
  .eg [class*=i-sm].i-g {
    padding: 0;
  }
}
.eg .container-width {
  max-width: 120rem;
}

dt {
  color: #FF7070;
  font-size: 2rem;
}
dt code {
  background: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font: 1.6rem/1.6 "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  counter-reset: counter;
}

h1 {
  color: #FFF;
  font: normal 600 5rem/1 "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin: 0 0 0 -.4rem;
  padding: 2rem 0;
}
h1 span {
  margin: 0 0 0 .4rem;
  font-size: 1.6rem;
  display: block;
  font-weight: 300;
  padding-bottom: .6rem;
}
@media (min-width: 600px) {
  h1 {
    font: normal 600 8rem/1 "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  h1 span {
    font-size: 2rem;
  }
}

h2, h3, h4, h5, h6 {
  color: inherit;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}

p {
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}
.i-names p, .i-nums p {
  font-size: 1.4rem;
}

.text-center {
  text-align: center;
}

.i-outer.demo [class*=i-row] {
  margin: 0;
}

.large {
  font-size: 2rem;
}

section {
  margin-bottom: 6rem;
}
section:not(.intro) {
  padding-top: 3rem;
}

.demo {
  position: relative;
}
section.demo {
  counter-increment: counter;
}
section.demo:before {
  content: "Demo " counter(counter);
  text-transform: uppercase;
  font-weight: 600;
  background-color: #FFF;
  position: absolute;
  text-align: right;
  color: #FF7070;
  top: -1rem;
  right: 0;
  font-size: 1.3rem;
  letter-spacing: .1rem;
  padding: 0 0 0 2rem;
  z-index: 1;
}
section.demo:after {
  content: "";
  top: -.1rem;
  left: -2rem;
  height: 1.5rem;
  position: absolute;
  border-top: 0.1rem solid rgba(255, 112, 112, 0.3);
  z-index: 0;
  width: 100%;
}
@media (min-width: 800px) {
  section.demo:after {
    border-left: 0.1rem solid rgba(255, 112, 112, 0.3);
  }
}

footer .sig {
  position: relative;
}
footer .sig p {
  font-size: 1.4rem;
}
footer .sig .name {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1rem;
}

mark {
  background: rgba(255, 112, 112, 0.3);
}

.code-example {
  background-color: #eee;
  font-size: 2rem;
  padding: 0.4rem 0.8rem;
}

code, pre {
  white-space: pre;
}

pre.snippet code {
  background: rgba(255, 112, 112, 0.1);
  display: block;
  font-size: 1.5rem;
  padding: 2rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
pre.snippet:before {
  content: attr(rel);
  background: #555;
  display: block;
  color: #fff;
  padding: .6rem 2rem;
  text-transform: uppercase;
  font: normal 600 1.2rem "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

pre {
  -moz-tab-size: 4;
       tab-size: 4;
}

code {
  background: rgba(255, 112, 112, 0.1);
}

.comment {
  color: #999;
}

.container-outer {
  padding: 0 1.5rem;
}
@media (min-width: 600px) {
  .container-outer {
    padding: 0 2rem;
  }
}
.container-width {
  max-width: 80rem;
  display: block;
  margin: auto;
  float: none !important;
}

.i-outer {
  padding: 0.4rem;
  clear: both;
}

.i-row {
  padding: 0;
}
.i-row:first-of-type {
  padding-top: 0;
}
.i-row:last-of-type {
  padding-bottom: 0;
}

.i-col-1 {
  width: 8.3333%;
}

.i-col-2 {
  width: 16.6667%;
}

.i-col-3 {
  width: 25%;
}

.i-col-4 {
  width: 33.3333%;
}

.i-col-5 {
  width: 41.6667%;
}

.i-col-6 {
  width: 50%;
}

.i-col-7 {
  width: 58.3333%;
}

.i-col-8 {
  width: 66.6667%;
}

.i-col-9 {
  width: 75%;
}

.i-col-10 {
  width: 83.3333%;
}

.i-col-11 {
  width: 91.6667%;
}

.i-col-12 {
  width: 100%;
}

[class*=i-col] {
  padding: 0.4rem;
  min-height: 0.1rem;
  position: relative;
  float: left;
}
[class*=i-col].i-g {
  padding: 0;
}

@media (min-width: 400px) {
  .i-outer {
    padding: 0.4rem;
    clear: both;
  }

  .i-row {
    padding: 0;
  }
  .i-row:first-of-type {
    padding-top: 0;
  }
  .i-row:last-of-type {
    padding-bottom: 0;
  }

  .i-xs-1 {
    width: 8.3333%;
  }

  .i-xs-2 {
    width: 16.6667%;
  }

  .i-xs-3 {
    width: 25%;
  }

  .i-xs-4 {
    width: 33.3333%;
  }

  .i-xs-5 {
    width: 41.6667%;
  }

  .i-xs-6 {
    width: 50%;
  }

  .i-xs-7 {
    width: 58.3333%;
  }

  .i-xs-8 {
    width: 66.6667%;
  }

  .i-xs-9 {
    width: 75%;
  }

  .i-xs-10 {
    width: 83.3333%;
  }

  .i-xs-11 {
    width: 91.6667%;
  }

  .i-xs-12 {
    width: 100%;
  }

  [class*=i-xs] {
    padding: 0.4rem;
    min-height: 0.1rem;
    position: relative;
    float: left;
  }
  [class*=i-xs].i-g {
    padding: 0;
  }
}
.col-descend .i-row > [class*=grid-col] {
  padding: 0;
}

header {
  overflow: hidden;
  padding: 1rem 0;
  margin-bottom: 3rem;
  position: relative;
  background: #FF7070;
}

main {
  clear: both;
}

a, a:link, a:focus, a:hover {
  color: #FF7070;
}

.clearfix:after, .i-row:after, .i-inner:after, .demo:after {
  content: "";
  display: table;
  clear: both;
}

/*# sourceMappingURL=style.css.map */