html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font: 1.6rem/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 4rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
}
p + * {
  margin-top: 1.6rem;
}
p + * + * {
  margin-top: 1.6rem;
}

.large {
  font-size: 2rem;
}

.dev-controls {
  position: fixed;
  z-index: 100;
  background: #ccc;
  width: 100%;
  padding: 0.8rem;
  box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.5);
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
  opacity: 0.1;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.dev-controls:hover {
  opacity: 1;
}

.grid.overlay {
  height: 100vh;
  padding: 0 0.8rem;
  display: block;
  margin: auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
}
.grid.overlay [class*=-col] {
  height: 100%;
  padding: 0 0.8rem;
}
.grid.overlay .inner {
  background-color: red;
  background-color: rgba(255, 0, 0, 0.3);
  height: 100%;
}
.grid-gutter-outer {
  width: 100%;
}

.container-set-width, #gridOverlay {
  max-width: 100rem;
  display: block;
  margin: auto;
}

.grid .grid-col-1 {
  width: 8.3333%;
}
.grid .grid-col-2 {
  width: 16.6667%;
}
.grid .grid-col-3 {
  width: 25%;
}
.grid .grid-col-4 {
  width: 33.3333%;
}
.grid .grid-col-5 {
  width: 41.6667%;
}
.grid .grid-col-6 {
  width: 50%;
}
.grid .grid-col-7 {
  width: 58.3333%;
}
.grid .grid-col-8 {
  width: 66.6667%;
}
.grid .grid-col-9 {
  width: 75%;
}
.grid .grid-col-10 {
  width: 83.3333%;
}
.grid .grid-col-11 {
  width: 91.6667%;
}
.grid .grid-col-12 {
  width: 100%;
}
.grid [class*=grid-col] {
  float: left;
}
.grid .grid-col-1, .grid .grid-col-2, .grid .grid-col-3, .grid .grid-col-4, .grid .grid-col-5, .grid .grid-col-6, .grid .grid-col-7, .grid .grid-col-8, .grid .grid-col-9, .grid .grid-col-10, .grid .grid-col-11, .grid .grid-col-12, .grid .demo.demo-1 .grid-col-1, .demo.demo-1 .grid .grid-col-1, .grid .demo.demo-1 .grid-col-2, .demo.demo-1 .grid .grid-col-2, .grid .demo.demo-1 .grid-col-3, .demo.demo-1 .grid .grid-col-3, .grid .demo.demo-1 .grid-col-4, .demo.demo-1 .grid .grid-col-4, .grid .demo.demo-1 .grid-col-5, .demo.demo-1 .grid .grid-col-5, .grid .demo.demo-1 .grid-col-6, .demo.demo-1 .grid .grid-col-6, .grid .demo.demo-1 .grid-col-7, .demo.demo-1 .grid .grid-col-7, .grid .demo.demo-1 .grid-col-8, .demo.demo-1 .grid .grid-col-8, .grid .demo.demo-1 .grid-col-9, .demo.demo-1 .grid .grid-col-9, .grid .demo.demo-1 .grid-col-10, .demo.demo-1 .grid .grid-col-10, .grid .demo.demo-1 .grid-col-11, .demo.demo-1 .grid .grid-col-11, .grid .demo.demo-1 .grid-col-12, .demo.demo-1 .grid .grid-col-12 {
  padding: 0.8rem;
}
.grid .col-group {
  padding: 0;
}
.grid .col-single {
  clear: both;
}
.grid-gutter-outer {
  padding: 0.8rem;
  clear: both;
}

.inner {
  min-height: 6rem;
}

.code-example {
  background-color: #eee;
  font-size: 2rem;
  padding: 0.8rem 1.6rem;
}

code, pre {
  white-space: pre;
}

pre {
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.demo.demo-1.grid-gutter-outer {
  background-color: red;
  background-color: rgba(255, 0, 0, 0.1);
}
.demo.demo-1 .inner {
  background-color: red;
  background-color: rgba(255, 0, 0, 0.2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.demo.demo-1 .grid-col-1 {
  width: 8.3333%;
}
.demo.demo-1 .grid-col-1 .inner:before {
  content: "1";
  margin: auto;
}
.demo.demo-1 .grid-col-2 {
  width: 16.6667%;
}
.demo.demo-1 .grid-col-2 .inner:before {
  content: "2";
  margin: auto;
}
.demo.demo-1 .grid-col-3 {
  width: 25%;
}
.demo.demo-1 .grid-col-3 .inner:before {
  content: "3";
  margin: auto;
}
.demo.demo-1 .grid-col-4 {
  width: 33.3333%;
}
.demo.demo-1 .grid-col-4 .inner:before {
  content: "4";
  margin: auto;
}
.demo.demo-1 .grid-col-5 {
  width: 41.6667%;
}
.demo.demo-1 .grid-col-5 .inner:before {
  content: "5";
  margin: auto;
}
.demo.demo-1 .grid-col-6 {
  width: 50%;
}
.demo.demo-1 .grid-col-6 .inner:before {
  content: "6";
  margin: auto;
}
.demo.demo-1 .grid-col-7 {
  width: 58.3333%;
}
.demo.demo-1 .grid-col-7 .inner:before {
  content: "7";
  margin: auto;
}
.demo.demo-1 .grid-col-8 {
  width: 66.6667%;
}
.demo.demo-1 .grid-col-8 .inner:before {
  content: "8";
  margin: auto;
}
.demo.demo-1 .grid-col-9 {
  width: 75%;
}
.demo.demo-1 .grid-col-9 .inner:before {
  content: "9";
  margin: auto;
}
.demo.demo-1 .grid-col-10 {
  width: 83.3333%;
}
.demo.demo-1 .grid-col-10 .inner:before {
  content: "10";
  margin: auto;
}
.demo.demo-1 .grid-col-11 {
  width: 91.6667%;
}
.demo.demo-1 .grid-col-11 .inner:before {
  content: "11";
  margin: auto;
}
.demo.demo-1 .grid-col-12 {
  width: 100%;
}
.demo.demo-1 .grid-col-12 .inner:before {
  content: "12";
  margin: auto;
}
.demo.demo-1 [class*=grid-col] {
  float: left;
}
.demo.demo-2.grid-gutter-outer {
  background-color: black;
}
.demo.demo-2 .col-single {
  background-color: black;
}
.demo.demo-2 .col-single .inner {
  background-color: red;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.demo.demo-2 .col-single .inner:before {
  content: 'single child';
  margin: auto;
  color: black;
}
.demo.demo-2 .col-group .inner {
  background-color: turquoise;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.demo.demo-2 .col-group .inner:before {
  content: 'group child';
  margin: auto;
  color: black;
}
.demo.demo-2 .col-group > .inner {
  background-color: black;
}
.demo.demo-3.grid-gutter-outer {
  background-color: green;
  background-color: rgba(0, 128, 0, 0.1);
}
.demo.demo-3 .col-single {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.2);
}
.demo.demo-3 .inner {
  background-color: green;
  background-color: rgba(0, 128, 0, 0.2);
}
.demo.demo-4.grid-gutter-outer {
  background-color: green;
  background-color: rgba(0, 128, 0, 0.1);
}
.demo.demo-4 .col-single,
.demo.demo-4 .inner {
  background-color: green;
  background-color: rgba(0, 128, 0, 0.2);
}
.demo + .demo {
  margin-top: 3.2rem;
}
.demo-outer {
  display: block;
  margin: auto;
}

.bg-1 {
  background-color: green;
  background-color: rgba(0, 128, 0, 0.3);
}
.bg-1 > .inner {
  background: orange;
}
.bg-2 {
  background-color: cyan;
  background-color: rgba(0, 255, 255, 0.3);
}
.bg-2 [class*=grid] .inner {
  background: orange;
}

.filler {
  background: #fff;
}

.clearfix:after, .inner:after {
  content: "";
  display: table;
  clear: both;
}

/*# sourceMappingURL=style.css.map */