.demo {
	&-bg-1 {
		.i-outer {
			background: $demo-bg-1;
			.i-inner {
				background: #fff;
				display: flex;
			}
		}
		.i-inner {
			background: rgba($demo-bg-1, 0.3);
			display: flex;
		}
	}
	&.simple-demo-1 {
		@include interior(
			$grid-cols: 3,
			$vert-space: 0
		);
		@media(min-width: $sm) {
			@include interior(
				$grid-cols: 3,
				$vert-space: 0,
				$mq: sm
			);
		}
	}		

	&-bg-2 {
		.i-outer {
			background-color: $demo-bg-1;
		}
		.i-inner {
			background-color: $demo-bg-1--group;
		}
		.i-single {
			&.i-names {
				.i-inner {
					display: flex;
					p {
						margin: auto;
						color: lighten($demo-bg-1--single, 100);
					}					
				}
			}
			.i-inner {
				background-color: $demo-bg-1--single;
			}
		}
	}
	&-bg-3 {
		@include interior(
			$grid-outer: 0,
			$grid-gutter-width: 0,
			$push: true
		);
		@media(min-width: $md) {
			@include interior(
				$grid-outer: 0,
				$grid-gutter-width: 0,
				$flip: true,
				$mq: md
			);			
		}
		.i-outer {
			background: transparent;
			.i-inner {
				background: rgba($demo-bg-1, 0.3);
				display: flex;
			}
		}
		.i-inner {
			background: rgba($demo-bg-1, 0.3);
			display: flex;
		}
	}
	
	&-outer {
		display: block;
		margin: auto;
	}
	&-borders {
		[class*=i-col] {
			border-left: $demo-bg-1--border;
			border-right: $demo-bg-1--border;
			border-top: 0;
			border-bottom: 0;
			&:first-child {
				border-left: none;
			}
			&:last-child {
				border-right: none;
			}
			@media(min-width: $md){
				&:first-child {
					border-left: $demo-bg-1--border;
					border-right: none;
				}
				&:last-child {
					border-right: $demo-bg-1--border;
					border-left: none;
				}
			}
		}
		> [class*=i-col-f] {
			border-right: none;
			border-left: none;
			&:first-child {
				border-left: $demo-bg-1--border;
			}
			&:last-child {
				border-right: $demo-bg-1--border;
			}
		}
	}
}
.i-inner {
	min-height: 4rem;
	@extend .clearfix;
}
.demo .i-inner {
	display: flex;
	p {
		margin: auto;
		text-align: center;
		color: darken($demo-bg-1--group, 100);
	}				
}

// Example layouts (pages)
.eg {
	header {
		background: rgba($demo-bg-1, 0.2);
		[class*=i-col] {
			padding-top: 0;
			padding-bottom: 0;
		}
		h1 {
			color: $theme-bg-1;
		}
	}
	&-bg-1 {
		.i-inner {
			background: rgba($theme-bg-1, 0.1);
			border: .8rem solid $demo-border-colour-1;
		}
	}
	&#{&}1 {
		aside {
			.i-inner {
				padding: $grid-gutter-width--2;
			}
		}
	}
	&#{&}2 {
		aside {
			.i-inner {
				@media(min-width: $sm) {
					padding: 0 0 0 $grid-gutter-width--2;
				}
				border: none;
				background: none;
			}
		}
	}
	@include interior(
		$grid-outer: 0,
		$grid-gutter-width: 1rem
	);
	@media(min-width: $xs) {
		@include interior(
			$grid-outer: 0,
			$grid-gutter-width: $grid-gutter-width--2,
			$mq: xs
		);
	}
	@media(min-width: $sm) {
		@include interior(
			$grid-outer: 0,
			$grid-gutter-width: $grid-gutter-width--2,
			$mq: sm
		);
	}
	@media(min-width: $md) {
		@include interior(
			$grid-outer: 0,
			$grid-gutter-width: $grid-gutter-width--2,
			$flip: true,
			$mq: md
		);
	}
	.container-width {
		max-width: 120rem;
	}
	.i-row {
		clear: both;
	}
}

dt {
	color: $font-color-1;
	font-size: $font-size-large;
	code {
		background: transparent;
	}
}

// Product lister
.product-lister {
	@media(max-width: $sm) {
		.container {
			&-outer {
				padding-left: 1.5rem;
				padding-right: 1.5rem;
			}
		}
	}
	@include interior(
		$grid-outer: 0,
		$grid-gutter-width: $grid-gutter-width--2
	);
	@media(min-width: $xs) {
		@include interior(
			$grid-outer: 0,
			$grid-gutter-width: $grid-gutter-width--2,
			$mq: xs
		);
	}
	@media(min-width: $sm) {
		@include interior(
			$grid-outer: 0,
			$grid-gutter-width: $grid-gutter-width--2,
			$mq: sm
		);
	}
	@media(min-width: $md) {
		@include interior(
			$grid-outer: 0,
			$grid-gutter-width: $grid-gutter-width--2,
			$mq: md
		);
	}
	@media(min-width: $lg) {
		@include interior(
			$grid-outer: 0,
			$grid-gutter-width: $grid-gutter-width--2,
			$mq: lg
		);
	}

	.i-inner {
		min-height: 20rem;
	}
}