.grid-overlay > div {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  border-left: 1px solid red;
  border-right: 1px solid red;
}
.grid-visible {
  .grid-overlay {
    display: flex;
    flex-flow: row nowrap;
    pointer-events: none;
  }
}
