// Needs to be a mixin()!!!
@mixin grid-overlay(
  $width: 100%,
  $max-width: $grid-overlay-width,
  $centred: false,
  $right: false,
  $grid-offset: $grid-gutter/2,
  $grid-gutter: $grid-gutter
) {
  .grid-overlay {
    display: none;
    max-width: $max-width;
    width: $width;
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 2;
    padding: 0 $grid-offset;
    @if $centred == true {
      left: 50%;
      transform: translateX(-50%);
    } @else if $right == true  {
      right: 0;
    } @else {
      left: 0;
    }
    flex-flow: row nowrap;
    > div {
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
      border-left: 1px solid red;
      border-right: 1px solid red;
      @include col(4, $grid-gutter: $grid-gutter);
    }
  }
}

@include grid-overlay($grid-offset: $container-padding-horizontal-small);

@media(max-width: $screen-large) {
  .grid-overlay > div {
    &:nth-of-type(odd) {
      display: none;
    }
  }
}
@media(max-width: $screen-small-max) {
  @include grid-overlay($grid-offset: $container-padding-horizontal-smaller, $grid-gutter: $grid-gutter/2.5);
}

@media(min-width: $screen-medium) {
  @include grid-overlay($grid-offset: $container-padding-horizontal);
}

.grid-overlay-active .grid-overlay {
  display: flex;
}
