// -----------------------------------------------------------------------------
// Layout
// -----------------------------------------------------------------------------

%container {
   max-width: $wrapper-width-large;
   margin: auto;
}

%flex-container {
   display: flex;
   flex-flow: row wrap;
}

.container {
   @extend %container;
   padding: 0 $container-padding-horizontal;
}

.grid {
  @include grid();
}
