// -----------------------------------------------------------------------------
// Layout
// -----------------------------------------------------------------------------

%flex-container {
  display: flex;
  flex-flow: row wrap;
}

body {
  display: flex;
  flex-flow: row wrap;
}

.container {
  margin: auto;
  max-width: $wrapper-width-large;
  @include auto-columns(
    $map: $breakpoints,
    $container: true
  );
}

.container-outer {
  background: $brand-color-light;
}

.grid {
  @include grid($gutter: 0);
}
