// -----------------------------------------------------------------------------
// Layout
// -----------------------------------------------------------------------------

%flex-container {
  display: flex;
  flex-flow: row wrap;
}

// Position the footer always at the bottom, regardless of how much content
// there is.
html {
  display: flex;
}

body {
  display: flex;
  flex-flow: column;
}

#main-article {
  height: 100%;
}

#main-footer {
  margin-top: auto;
}

.container {
  margin: auto;
  max-width: $wrapper-width-large;
  @include auto-columns(
    $map: $breakpoints,
    $container: true
  );
}

.container-outer {
  background: $brand-color-light;
}

.grid {
  @include grid($gutter: 0);
}
