//** Units
//
// Screen widths (min-width)
$screen-small: 569px !default;
$screen-medium: 700px !default;
$screen-large: 900px !default;
$screen-larger: 1200px !default;
$screen-whopper: 1400px !default;

// Screen widths max-width
$screen-small-max: ($screen-small)-1 !default;
$screen-medium-max: ($screen-medium)-1 !default;
$screen-large-max: ($screen-large)-1 !default;
$screen-larger-max: ($screen-larger)-1 !default;
$screen-whopper-max: ($screen-whopper)-1 !default;
