// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

//** Columns
//
// Number of columns
$max-columns: 12 !default;

//** Fonts
//
// Default font units, required for functions amongst other things.
$font-base: 1rem !default;
$line-height-base: 1 !default;
$base-line-unit: $font-base*$line-height-base !default;
$helvetica-cap-height: 0.68 !default
$serif-cap-height: 0.66 !default
$cap-height: $helvetica-cap-height !default;
$font-size-body: $font-base !default;

// Font weights
$font-weight-border-with-content: bold !default

// Font families
$font-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-serif: serif, georgia !default;
$font-monospace: "Inconsolata", monospace, courier !default;

// Apply font families to generic variables
$font-family-base: $font-sans-serif !default;
$font-family-headings: $font-sans-serif !default;
$font-family-inline-code: $font-monospace !default;

$light-border: 1px solid #555 !default;

//** Horizontal alignment
$horizontal-offset: column-width(2) !default;
$horizontal-offset-larger: column-width(4) !default;

//** Grid
$grid-color: red !default;
$grid-bg: transparent !default;
$grid-bg-size: 100vw .5rem !default;

//** Spacing
//
// Default spacing units
$vertical-space: font-scale(3) !default;
$horizontal-space: font-scale(2) !default;
$vertical-space-small: $vertical-space / 4 !default;
$horizontal-space-small: $horizontal-space / 2 !default;
$m: $horizontal-space !default;

// Gutters
$grid-gutter: $horizontal-space !default;

// Container gutters
$container-gutter: $grid-gutter/2 !default;

// $container-gutter: 6rem;

$container-gutter-small: $container-gutter/2 !default;
$container-gutter-smaller: $container-gutter-small/2 !default;

//** Screens
//
// Screen widths (min-width)
$screen-smaller: 400px !default;
$screen-small: 569px !default;
$screen-medium: 700px !default;
$screen-large: 900px !default;
$screen-larger: 1200px !default;
$screen-largest: 1400px !default;
$screen-whopper: 2000px !default;

// Screen widths (max-width)
$screen-small-max: ($screen-small)-1 !default;
$screen-medium-max: ($screen-medium)-1 !default;
$screen-large-max: ($screen-large)-1 !default;
$screen-larger-max: ($screen-larger)-1 !default;
$screen-largest-max: ($screen-largest)-1 !default;
$screen-whopper-max: ($screen-whopper)-1 !default;

// Gutter widths
$gutter-smaller: $grid-gutter/2 !default;
$gutter-small: $grid-gutter/2 !default;
$gutter-medium: $grid-gutter/2 !default;
$gutter-large: $grid-gutter/2 !default;

// Breakpoints
$breakpoints-map: (
  smaller: (
    gutter: $gutter-smaller,
    container-gutter: $grid-gutter/2,
    breakpoint: false,
    margin: true
  ),
  small: (
    gutter: $horizontal-space,
    container-gutter: $container-gutter-smaller,
    breakpoint: $screen-small
  ),
  medium: (
    gutter: $horizontal-space,
    container-gutter: $container-gutter-small,
    breakpoint: $screen-medium
  ),
  large: (
    gutter: $horizontal-space,
    container-gutter: $container-gutter,
    breakpoint: $screen-large,
    margin: true
  )
)!default;
$breakpoints: map-values($breakpoints-map)!default;

$breakpoints-mm-map: (
  smaller: (
    gutter: $gutter-smaller,
    container-gutter: $container-gutter-smaller,
    columns: 4,
    breakpoint: false,
    margin: true
  ),
  small: (
    gutter: $gutter-small,
    container-gutter: $container-gutter-smaller,
    breakpoint: $screen-small
  ),
  medium: (
    gutter: f$gutter-small,
    container-gutter: $container-gutter-small,
    breakpoint: $screen-medium
  ),
  large: (
    gutter: font-scale(2.5),
    container-gutter: $container-gutter,
    breakpoint: $screen-large,
    margin: true
  )
)!default;
$breakpoints-mm: map-values($breakpoints-mm-map)!default;

$overlay-breakpoints-map: (
  smaller: (
    gutter: $gutter-smaller,
    container-gutter: $container-gutter-smaller,
    breakpoint: false,
    columns: 4,
    margin: true
  ),
  small: (
    gutter: $gutter-small,
    container-gutter: $container-gutter-smaller,
    breakpoint: $screen-small,
    columns: 2
  ),
  medium: (
    gutter: $gutter-small,
    container-gutter: $gutter-medium,
    breakpoint: $screen-medium
  ),
  large: (
    gutter: $gutter-small,
    container-gutter: $container-gutter,
    breakpoint: $screen-large
  )
)!default;
$overlay-breakpoints: map-values($overlay-breakpoints-map)!default;

//** Wrappers
$wrapper-width-large: $screen-larger !default;
$grid-overlay-width: $wrapper-width-large !default;
