// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

//** Fonts
//
// Default font units, required for functions amongst other things.
$font-base: 1rem !default;
$line-height-base: 1 !default;
$base-line-unit: $font-base*$line-height-base !default;
$helvetica-cap-height: 0.68 !default
$serif-cap-height: 0.66 !default
$cap-height: $helvetica-cap-height !default;
$font-size-body: $font-base !default;

// Font weights
$font-weight-border-with-content: bold !default

// Font families
$font-system: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-serif: serif, georgia !default;
$font-monospace: "Inconsolata", monospace, courier !default;

// Apply font families to generic variables
$font-family-base: $font-sans-serif !default;
$font-family-headings: $font-system !default;
$font-family-inline-code: $font-monospace !default;

$light-border: 1px solid #555 !default;

//** Grid
$grid-color: red !default;
$grid-bg: transparent !default;
$grid-bg-size: 100vw .5rem !default;

//** Spacing
//
// Default spacing units
$vertical-space: font-scale(3) !default;
$horizontal-space: font-scale(2) !default;
$vertical-space-small: $vertical-space / 4 !default;
$horizontal-space-small: $horizontal-space / 2 !default;
$m: $horizontal-space !default;

// Grid gaps
$grid-row-gap-1: 1rem !default;
$grid-row-gap-2: 2rem !default;

$grid-column-gap-1: 2rem !default;
$grid-column-gap-2: 3rem !default;

$grid-gap-1: $grid-row-gap-1 $grid-column-gap-1 !default;
$grid-gap-2: $grid-row-gap-2 $grid-column-gap-2 !default;

// Grid rows
$grid-row-base: 24rem !default;
$grid-row-1: (($grid-row-base - $grid-row-gap-1) / 2) !default;
$grid-row-2: $grid-row-base !default;

// Gutters
$grid-gutter: $horizontal-space !default;

//** Images
//
// Image sizes
$main-image-height-1: (($grid-row-1 * 3) + ($grid-row-gap-1 * 2));
$main-image-height-2: (($grid-row-2 * 2) + ($grid-row-gap-2 ));

//** Screens
//
// Screen widths (min-width)
$screen-smallest: 400px !default;
$screen-smaller: 540px !default;
$screen-small: 660px !default;
$screen-medium: 978px !default;
$screen-large: 1332px !default;
$screen-larger: 1656px !default;

// Screen widths (max-width)
$screen-smaller-max: ($screen-smaller)-1 !default;
$screen-small-max: ($screen-small)-1 !default;
$screen-medium-max: ($screen-medium)-1 !default;
$screen-large-max: ($screen-large)-1 !default;
$screen-larger-max: ($screen-larger)-1 !default;

//** Widths
//
// Layout widths (min-width)
$width-small: 612px !default;
$width-medium: 930px !default;
$width-large: 1260px !default;
$width-larger: 1584px !default;
