// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

//** Columns
//
// Number of columns
$cols: 12 !default;

//** Fonts
//
// Default font units, required for functions amongst other things
$font-base: 1rem !default;
$line-height-base: 1 !default;
$base-line-unit: $font-base*$line-height-base !default;
$helvetica-cap-height: 0.68 !default
$serif-cap-height: 0.66 !default
$cap-height: $helvetica-cap-height !default;
$font-size-body: $font-base !default;

// Font weights
$font-weight-border-with-content: bold !default

// Typographic scale: https://gist.github.com/morganfeeney/0dc92d8368787a4a260fb8c002dfeb8d
$canon: font-scale(3) !default; // 48px
$double-great-primer: font-scale(2.250) !default; // 36px
$four-line-brevier: font-scale(2) !default; // 32px
$two-line-pica: font-scale(1.5) !default; // 24px
$double-pica: font-scale(1.313) !default; // 21px
$great-primer: font-scale(1.125) !default; // 18px
$english: font-scale(.875) !default; // 14px
$pica: font-scale(.75) !default; // 12px

// Font families
$font-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-serif: serif, georgia !default;
$font-monospace: "Inconsolata", monospace, courier !default;

// Apply font families to generic variables
$font-family-base: $font-sans-serif !default;
$font-family-headings: $font-sans-serif !default;
$font-family-inline-code: $font-monospace !default;

//** Colours
//
// Brand colours (base colours)
$brand-color-1: #FF7070 !default;
$brand-color-2: #FFF !default;
$brand-color-3: #555 !default;
$brand-color-4: #000 !default;

// Colour variants
$nobg: transparent !default;
$brand-color-light: lighten($brand-color-1, 25) !default;
$brand-color-mid: lighten($brand-color-1, 15) !default;
$darkbg: $brand-color-3 !default;

// Grayscale
$base-gray: #000 !default;
$dark-gray: lighten($base-gray, 10%) !default;
$mid-gray: lighten($base-gray, 60%) !default;
$light-gray: lighten($base-gray, 90%) !default;

// Font colours
$font-color-1: $brand-color-1 !default;
$font-color-2: $brand-color-2 !default;
$font-color-3: $brand-color-3 !default;
$font-color-4: $brand-color-4 !default;

// Link colours
$link-color: $font-color-1 !default;

//** Borders
$light-border: 1px solid $brand-color-3 !default;
$mid-border: .15rem solid $brand-color-mid !default;

//** Footer
$footer-border-width: 1px !default;

//** Horizontal alignment
$horizontal-offset: column-width(2) !default;
$horizontal-offset-larger: column-width(4) !default;

//** Grid
$grid-color: $brand-color-1 !default;
$grid-bg: $brand-color-light !default;
$grid-bg-size: 100vw .5rem !default;

//** Spacing
//
// Default spacing units
$vertical-space: font-scale(3) !default;
$horizontal-space: font-scale(2) !default;
$vertical-space-small: $vertical-space / 4 !default;
$horizontal-space-small: $horizontal-space / 2 !default;
$m: $horizontal-space !default;

// Gutters
$grid-gutter: $horizontal-space !default;

// Container gutters
$container-padding-horizontal: $grid-gutter/2 !default;

// $container-padding-horizontal: 6rem;

$container-padding-horizontal-small: $container-padding-horizontal/2 !default;
$container-padding-horizontal-smaller: $container-padding-horizontal-small/2 !default;

//** Screens
//
// Screen widths (min-width)
$screen-smaller: 400px !default;
$screen-small: 569px !default;
$screen-medium: 700px !default;
$screen-large: 900px !default;
$screen-larger: 1200px !default;
$screen-whopper: 2000px !default;

// Screen widths (max-width)
$screen-small-max: ($screen-small)-1 !default;
$screen-medium-max: ($screen-medium)-1 !default;
$screen-large-max: ($screen-large)-1 !default;
$screen-larger-max: ($screen-larger)-1 !default;
$screen-whopper-max: ($screen-whopper)-1 !default;

// Sass map for screens
$screens: (
  screen-default: (
    screen: null,
    grid-gutter: $grid-gutter/2,
    grid-container-gutter: $grid-gutter/2
  ),
  screen-smaller: (
    screen: $screen-smaller,
    grid-gutter: $container-padding-horizontal-smaller,
    grid-container-gutter: $container-padding-horizontal-smaller
  ),
  screen-small: (
    screen: $screen-small,
    grid-gutter: $grid-gutter,
    grid-container-gutter: $container-padding-horizontal-small
  ),
  screen-medium: (
    screen: $screen-medium,
    grid-gutter: $grid-gutter,
    grid-container-gutter: $container-padding-horizontal
  )
)!default;

//** Wrappers
$wrapper-width-large: $screen-larger !default;
