/* ==============================================================
   Layout
   ============================================================== */

%container {
   max-width: $wrapper-width-large;
   margin: auto;
   //background: $brand-color-2;
}

%flex-container {
   // Overcome collapsing margins... somehow.
   display: flex;
   flex-flow: row wrap;
}

.container {
   @extend %container;
   padding: 0 $grid-gutter/2;
}

.grid {
   @extend %flex-container;
   margin-left: -$horizontal-space-small;
   margin-right: -$horizontal-space-small;
}

.grid-main {
  justify-content: space-between;
}

#main-header {
  @include baseline($above: 1, $below: 0);
  text-transform: uppercase;
  // Border at top of header
  &:before {
    content: "";
    height: .25rem;
    background: $brand-color-1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
  > .container {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    @media(min-width: $screen-small) {
      flex-flow: row wrap;
    }
  }
  .intro {
    width: 100%;
  }
}

#main-header {
  .intro {
    margin-top: 3rem;
  }
}

@media(min-width: $screen-medium) {
  .vh100-layout {
    #main-header {
      height: 100vh;
      margin-bottom: 0rem;
      .intro {
        display: flex;
        flex-flow: row wrap;
        > p:first-of-type {
          align-self: flex-end;
        }
      }
    }
  }
}

// Skinny single column layout
.layout-thin {
  .container {
    max-width: $screen-large;
  }
}

// Flexible Description lists
.dl-horizontal {
  @extend %flex-container;
  justify-content: flex-end;
  align-content: flex-start;
  @include col(12);
  dt {
    @include text-col(4, $min: true);
    font-weight: bold;
    margin-right: auto;
    padding-right: 1rem;
  }
  dd {
    @include text-col(8);
  }
}

blockquote.outset-right {
  text-transform: uppercase;
  margin-left: auto;
  text-align: right;
  @media(min-width: $screen-small) {
    @include col(10, $calc: false, $margin: false);
  }
  @media(min-width: $screen-medium) {
    @include col(6, $calc: false, $margin: false);
  }
  p {
    @media(min-width: $screen-medium) {
      margin-right: 0;
      padding-right: 0;
      text-align: right;
    }
  }
}

// Multi column layout
//
// 1 x columns, then 2 x columns on medium screens
.cols-2 > div {
  @include col(12);
  @media(min-width: $screen-medium) {
    @include col(6);
  }
}

.layout-1 > div {
  @include col(12);
  @media(min-width: $screen-medium) {
    @include col(6);
  }
}

.cols-3 > div {
  @include col(4);
}

.column-count-experiment {
  column-count: 2;
  column-width: 100vw;
  height: 100vh;
  column-gap: 7rem;
  max-width: none;
}

.fill {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  h1 {
    flex: 1 1 auto;
  }
}
