/* ==============================================================
   Typography
   ============================================================== */

// Reset
html {
 @media(min-width: $screen-large) {
  font-size: 112.5%; // Increases body font size to 18px if it's 1rem (16px).
 }
 // @media(min-width: $screen-larger) {
 //  font-size: 125%; // Increases body font size to 20px if it's 1rem.
 // }
}

body {
  font-family: $font-family-base;
  // Can make use of the colour arrangement by overlaying white and funky salmon CSS diagrams on top.
  background: $brand-color-light;
}

.home-link {
  text-decoration: none;
  margin-top: .4rem;
  @media(min-width: $screen-large) {
    margin-top: .9rem;
    margin-bottom: .1rem;
  }
  p {
    @include baseline($two-line-pica, $above: 0, $below: 0, $line-height: 1, $margin: -1);
  }
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5 {
  @media(min-width: $screen-small) {
    padding-right: $horizontal-offset;
  }
  @media(min-width: $screen-medium) {
    padding-right: $horizontal-offset-larger;
  }
}

.grid {
  h2, h3, h4, h5, h6, p {
    padding-right: 0;
  }
}

.link-group {
  display: flex;
  flex-flow: column;
}

h1 {
  @include baseline($canon - 1, $above: .9, $below: .09);
  @media(min-width: $screen-large) {
    @include baseline($canon, $above: .8, $below: 5, $margin: 5);
  }
  @include border-with-content();
}

.vh100-layout h1 {
  // Flex is at play
  @media(min-width: $screen-large) {
    @include baseline($canon, $above: 1.1, $below: 5, $margin: 5);
    @include border-with-content($top: -1rem);
  }
}

h2 {
  @include baseline($four-line-brevier, $above: .5, $below: 0, $margin: 1);
  @include border-with-content();
}

.standard-layout {
  h2 {
    @include baseline($two-line-pica, $above: 1, $below: .5, $margin: 4.1);
  }
  section > p,
  .section > p {
    @media(min-width: $screen-small) {
      @include col(10, $calc: false, $margin: false);
    }
    @media(min-width: $screen-medium) {
      @include col(8, $calc: false, $margin: false);
    }
  }
}

h3 {
  @include baseline($two-line-pica, $above: 1, $below: .5);
}

h4 {
  @include baseline($double-pica, $line-height: 1.15, $above: 1.1, $below: .5);
}

h5 {
  @include baseline($great-primer, $line-height: 1.35, $above: 1.1, $below: .5);
}

.standard-layout {
  @media(min-width: $screen-small) {
    h5 + p {
      @include col(8, $calc: false, $margin: false);
    }
  }
  @media(min-width: $screen-medium) {
    h5 + p {
      @include col(6, $calc: false, $margin: false);
    }
  }
  // Override previous width styles
  .grid h5 + p {
    width: auto;
  }
}

h6 {
  @include baseline($english, $line-height: 1.2, $above: 1.1, $below: .5);
}

p {
  @include baseline($font-base, $line-height: 1.5, $above: .24);
}

.vh100-layout p {
  text-align: justify;
  hyphens: auto;
}

.link-group {
  @include baseline($font-base, $line-height: 1.5, $above: .2);
  text-transform: uppercase;
  > a {
    //text-decoration: none;
    text-indent: 1rem;
  }
}

%plarge {
  @include baseline($double-pica, $line-height: 1.16, $above: .1, $below: 1);
}

%small, small {
  @include baseline($pica);
}

ul, ol {
  @include baseline($line-height: 1.5, $above: .24);
}

pre {
  @include baseline($line-height: 1.5, $above: .25);
}

.code-block code {
  @include baseline($line-height: 1.5, $above: .5, $below: 0, $padding-bottom: 1rem);
}

pre:before {
  @include baseline($english, $line-height: 1.5);
  // Use mixin but override unwanted parts
  margin-bottom: 0;
  padding-left: 1rem;
  padding-bottom: .05rem;
}

.code-inline {
  line-height: 1;
  font-family: $font-family-inline-code;
  font-weight: normal;
}

.dl-horizontal {
  @include baseline($line-height: 1.5, $above: .2, $below: 0);
}

// Flexible Description lists
.dl-horizontal {
  @extend %flex-container;
  justify-content: flex-end;
  align-content: flex-start;
  @include col(12);
  dt {
    @include text-col(4, $min: true);
    font-weight: bold;
    margin-right: auto;
    padding-right: 1rem;
  }
  dd {
    @include text-col(8);
  }
}

// Text directly after a main heading
.sub-heading {
  @include baseline($two-line-pica, $line-height: 1, $below: .5);
}

blockquote {
  @include baseline($below: 2, $margin: 2.5);
  p {
    @include baseline($two-line-pica, $above: 0.4, $below: 0.7);
    @media(min-width: $screen-large) {
      @include baseline($two-line-pica, $above: 0.3, $below: 0);
    }
    font-style: normal;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    &::before {
      content: "\2018";
    }
    &::after {
      content: "\2019";
    }
  }
}

blockquote.outset-right {
  text-transform: uppercase;
  margin-left: auto;
  text-align: right;
  @media(min-width: $screen-small) {
    @include col(10, $calc: false, $margin: false);
  }
  @media(min-width: $screen-medium) {
    @include col(6, $calc: false, $margin: false);
  }
  p {
    @media(min-width: $screen-medium) {
      margin-right: 0;
      padding-right: 0;
      text-align: right;
    }
  }
}

cite {
  font-style: normal;
}

blockquote {
  cite {
    @include baseline($above: .25, $margin: -.6);
    @media(min-width: $screen-large) {
      @include baseline($above: .35);
    }
    display: block;
    font-style: normal;
  }
}

figcaption {
  @include baseline($pica, $line-height: 1.4, $margin: -.5);
  color: $mid-gray;
  @media(min-width: $screen-medium) {
    padding-left: .5rem;
  }
}

.sig {
  @include border-with-content('Colophon');
  @include baseline($font-base, $line-height: 1.5, $above: .6, $below: 0, $margin: 6);
}
