.horizontal-heading-alignment {
  .col-header {
    @include col(12);
    background: $brand-color-1;
    h2 {
      color: $brand-color-2;
      margin: 0;
      text-align: right;
      margin-right: $horizontal-space-small;
    }
  }
  section .col {
    @include col(6);
  }
}

#main-header p:first-of-type {
  @extend %plarge;
}
