/* ==============================================================
   Variables
   ============================================================== */

// Units
$screen-small: 569px;
$screen-medium: 700px;
$screen-large: 900px;
$screen-larger: 1200px;
$cols: 12;

$wrapper-width-large: $screen-larger;

//** Colours
//
// Brand colours (base colours)
$brand-color-1: #FF7070;
$brand-color-2: #FFF;
$brand-color-3: #555;
$brand-color-4: #000;

// Colour variants
$brandbg: $brand-color-1;
$lightbg: $brand-color-2;
$nobg: transparent;
$brandbg-light: lighten($brandbg, 25);
$darkbg: $brand-color-3;

// Grayscale
$base-gray: #000;
$dark-gray: lighten($base-gray, 10%);
$mid-gray: lighten($base-gray, 50%);
$light-gray: lighten($base-gray, 90%);

// Font colours
$font-color-1: $brand-color-1;
$font-color-2: $brand-color-2;
$font-color-3: $brand-color-3;
$font-color-4: $brand-color-4;

// Font familiess
$fs1: "letter-gothic-std", Helvetica, Arial, sans-serif;
$fs2: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fs3: "times", "times new roman", serif;

$font-family-base: $fs1;

// Font sizes
$font-base: 1rem;
$font-ratio: 1;
$base-line-unit: $font-base*$font-ratio;
// This is for Arial/Helvetica
$cap-height: 0.68;
$font-size-body: $font-base;

// Typographic scale: https://gist.github.com/morganfeeney/0dc92d8368787a4a260fb8c002dfeb8d
$fs-canon: bs(3); // 48px
$fs-double-great-primer: bs(2.250); // 36px
$fs-four-line-brevier: bs(2); // 32px
$fs-two-line-pica: bs(1.5); // 24px
$fs-double-pica: bs(1.313); // 21px
$fs-great-primer: bs(1.125); // 18px
$fs-english: bs(.875); // 14px
$fs-pica: bs(.75); // 12px

$vertical-space: bs(3);
$horizontal-space: bs(2);
$vertical-space-small: $vertical-space / 4;
$horizontal-space-small: $horizontal-space / 2;
$grid-gutter: $horizontal-space;
$m: $horizontal-space;

//** Borders
$light-border: 1px solid $brand-color-3;

//** Vertical rythm
//

// Rivers


// Islands

// Footer
$footer-border-width: 1px;

//** Horizontal alignment
$horizontal-offset: cw(2);
$horizontal-offset-larger: cw(4);
