/* ==============================================================
   Base
   ============================================================== */

// Reset
html {
  box-sizing: border-box;
  font-size: ms(0, 62.5%);
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  // Set a base font size that allows px-like units on elements.
  font-size: ms(0, 1.6rem);
  font-family: $fs2;
  line-height: $golden;
  // 1.6rem/1.6
  // Control resizing of text whenswitching orientation.
  text-size-adjust: 100%;
}

html,
body,
figure {
  margin: 0;
  padding: 0;
}

a {
  &,
  &:link,
  &:focus,
  &:hover {
    color: $font-color-1;
  }
}
