/* ==============================================================
   Base
   ============================================================== */

// Reset
html {
  box-sizing: border-box;
  font-size: ms(0, 62.5%);
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  // Set a base font size that allows px-like units on elements.
  font-size: ms(0, $font-size-base);
  font-family: $fs2;
  line-height: $line-height-base;
  // 1.6rem/1.6
  // Control resizing of text whenswitching orientation.
  text-size-adjust: 100%;
  background-image: -moz-linear-gradient(top,#0ff 0,rgba(255,255,255,0)1px);
  background-image: linear-gradient(to bottom,#0ff 0,#fff0 1px);
  background-repeat: repeat-y;
  background-size: 100% 1.6rem;
}

html,
body,
figure {
  margin: 0;
  padding: 0;
}

a {
  &,
  &:link,
  &:focus,
  &:hover {
    color: $font-color-1;
  }
}
