/* ==============================================================
   Layout
   ============================================================== */

 %container {
   max-width: $wrapper-width-large;
   margin: auto;
   //background: $brand-color-2;
 }

 %flex-container {
   // Overcome collapsing margins... somehow.
   display: flex;
   flex-flow: row wrap;
 }

 .aside-layout {
   #main-aside {
     > :first-child {
       margin-top: $v-space-h1;
       > :first-child {
         padding-top: $v-space-h1-pairing;
       }
     }
   }
 }

 .container {
   @extend %container;
   padding: 0 $grid-gutter;
 }

 .grid {
   @extend %flex-container;
   margin-left: -$horizontal-space-small;
   margin-right: -$horizontal-space-small;
 }

 .grid-main {
   justify-content: space-between;
 }

.content-main {
  @include content-main;
}

.content-sub {
  @include content-sub;
}

.content-header {
  @include col(12);
}

.layout-thin {
  .container {
    max-width: 80rem;
  }
}

.dl-horizontal {
  @extend %flex-container;
  justify-content: flex-end;
  align-content: flex-start;
  @include col(12);
  &:last-child {
    margin-bottom: $vertical-space;
  }
  dt {
    @include text-col(4, $min: true);
    font-weight: bold;
    margin-right: auto;
    padding-right: 1rem;
  }
  dd {
    @include text-col(8);
    margin: 0 0 .75rem;
    &:last-child {
      margin: 0;
    }
  }
}

dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
