@import 'partials/variables';
@import 'mixins/helpers';
@import 'partials/reset';
@import 'partials/typography';
@import 'mixins/griddle';

// Devtools
@import 'partials/devtools';

// Custom
.grid {
	max-width: 1000px;

	@include griddle(
		$grid-cols: 12,
		$grid-alignment: left
	);

	.inner {
		min-height: 60px;
	}

	&-outer {
		@include gridAlignment(center);
		padding: ($grid-gutter-width / 2);
	}

}

// Code
@import 'partials/code';

// Demo
@import 'partials/demo';

// Helpers
@include clearfix;