
// Mixins for generating CSS grids

@mixin paddedGrid($colVal,$colPadVal) {
	width: 100% / $colVal;
	padding: $colPadVal;
}

@mixin gridGenerator($gridVal,$colPadVal) {
	@if $gridVal == 3 {
	  .one-third {
		@include paddedGrid($gridVal,$colPadVal);
	  }
	}
}

// Automate (loop through) a number of sequentially numbered divs from 1 to $gridVal

@mixin gridAutomator($gridVal,$colPadVal) {
	$columns: $gridVal;
	@for $column from 1 through $columns {
	  .col._#{$column}of#{$columns} {
	    width: 100% / $gridVal * $column;
	    padding: $colPadVal;
	  }
	}
}

@mixin gridAlignment($align) {
	@if $align == 'left' {
		$align: left;
		float: $align;
	}
	@else if $align == 'right' {
		$align: right;
		float: $align;
	} 
	@else if $align == 'center' {
		display: block;
		margin: auto;
	}
}

@mixin transformToAbsoluteCenter($leftVal,$topVal,$x,$y) {
	left: $leftVal;
	top: $topVal;
	transform: translate($x,$y);
}
