
// Mixins for generating CSS grids

@mixin paddedGrid($colVal,$colPadVal) {
	width: 100% / $colVal;
	padding: $colPadVal;
}

@mixin gridGenerator($gridVal,$colPadVal) {
	@if $gridVal == 3 {
	  .one-third {
		@include paddedGrid($gridVal,$colPadVal);
	  }
	}
}

// Automate (loop through) a number of sequentially numbered divs from 1 to $gridVal

$basePadVal:8px;
$baseGridVal:12;

@mixin gridAutomator(
	$gridVal:$baseGridVal,
	$colPadVal:$basePadVal,
	$names:false,
	$demo:false
) {
	$columns: $gridVal;
	@for $column from 1 through $columns {
	  .grid-col._#{$column}of#{$columns} {
	    width: 100% / $gridVal * $column;
	    padding: $colPadVal;
		}
	}
}

@mixin demoGrid($columns:$baseGridVal) {
	@for $i from 1 through $columns {
		@include gridAutomator(+$i);
	}
}

// display the class name //
@mixin demoDisplayClassName() {
	&:before {
		content: attr(class)!important;
		margin: auto;
		font-size: 11px;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		background-color: orange;
		display: table-header-group;
		text-align: center;
	}
	@at-root & {
		display: table;
	}
}



@mixin gridAlignment($align) {
	@if $align == 'left' {
		$align: left;
		float: $align;
	}
	@else if $align == 'right' {
		$align: right;
		float: $align;
	} 
	@else if $align == 'center' {
		display: block;
		margin: auto;
	}
}

@mixin transformToCenter {
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
