
// Mixins for generating CSS grids

@mixin paddedGrid($colVal,$colPadVal) {
	width: 100% / $colVal;
	padding: $colPadVal;
}

@mixin gridGenerator($gridVal,$colPadVal) {
	@if $gridVal == 3 {
	  .one-third {
		@include paddedGrid($gridVal,$colPadVal);
	  }
	}
}

// Automate (loop through) a number of sequentially numbered divs from 1 to $gridVal

$basePadVal:8px;
$baseGridVal:12;

@mixin gridAutomator(
	$gridVal:$baseGridVal,
	$colPadVal:$basePadVal,
	$names:false,
	$demo:false
) {
	$columns: $gridVal;
	@for $column from 1 through $columns {
	  .grid-col._#{$column}of#{$columns} {
	    width: 100% / $gridVal * $column;
	    padding: $colPadVal;

	    // if $names == true in demoGrid display the class name //
	    @if $names == true {
				& .inner {
					&:before {
						content: '#{$column}of#{$columns}';
						margin: auto;
					}
				}
			}
		}
	}
}

@mixin demoGrid($columns:$baseGridVal) {
	@for $i from 1 through $columns {
		@include gridAutomator(+$i,$names: true)
	}
}

@mixin gridAlignment($align) {
	@if $align == 'left' {
		$align: left;
		float: $align;
	}
	@else if $align == 'right' {
		$align: right;
		float: $align;
	} 
	@else if $align == 'center' {
		display: block;
		margin: auto;
	}
}

@mixin transformToCenter {
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
