.docs-layout {

  .container-outer {
    width: 100%;
  }
  .home-link {
    display: block;
  }

  h1 {
    @include column(
      $columns: 10,
      $gutter: $gutter-smaller
    );
    @media(min-width: $screen-medium) {
      @include column(
        $columns: 10,
        $gutter: $gutter-medium
      );
    }
    @media(min-width: $screen-large) {
      @include column(
        $columns: 10,
        $gutter: $gutter-medium,
        $offset-left: true,
        $offset: 2
      );
    }
  }

  .container section:not(.bigmofo) {
    @include column(
      $columns: 12,
      $gutter: $gutter-smaller
    );
    @media(min-width: $screen-medium) {
      @include column(
        $columns: 10,
        $gutter: $gutter-medium
      );
    }
    @media(min-width: $screen-large) {
      @include column(
        $columns: 8,
        $offset-left: true,
        $offset: 2
      );
    }
    @media(min-width: $screen-largest) {
      @include column(
        $columns: 6,
        $offset-left: true,
        $offset: 2
      );
    }
  }

  .container section:not(.bigmofo) {
    h2, h3, h4, h5 {
      @include column(
        $columns: 12,
        $gutter: $gutter-smaller
      );
      @media(min-width: $screen-largest) {
        @include column(
          $columns: 4,
          $gutter: $gutter-smaller
        );
      }
    }
  }

  .bigmofo {
    @include grid((-$container-gutter/2));
    background: $brand-color-2;
    margin-top: font-scale(2);
    margin-bottom: font-scale(2);
    padding-left: $container-gutter/2;
    padding-right: $container-gutter/2;
    position: relative;
    @media(min-width: $screen-largest) {
      &::before, &::after {
        content: "";
        position: absolute;
        min-width: calc(50vw - #{($wrapper-width-large/2)});
        height: 100%;
        background: white;
        z-index: -1;
      }
      &::before {
        left: calc(-50vw + #{($wrapper-width-large/2)})
      }
      &::after {
        right: calc(-50vw + #{($wrapper-width-large/2)})
      }
    }
    > figure {
      @include column(
        $columns: 8,
        $calc: false,
        $margin: false
      );
    }
  }
  .bigmofo .small {
    @include column(
      $columns: 12,
      $gutter: $gutter-smaller
    );
    @media(min-width: $screen-largest) {
      @include column(
        $columns: 2,
        $gutter: $gutter-smaller,
        $offset-left: true,
        $offset: 2
      );
  align-self: center;
    }
  }


  .grid > p,
  .grid > blockquote,
  .grid > nav {
    @include column(
      $columns: 12,
      $gutter: $gutter-smaller
    );
    @media(min-width: $screen-largest) {
      @include column(
        $columns: 8,
        $gutter: $gutter-smaller
      );
    }
  }

  .grid {
    .intro {
      @include column(
        $columns: 12,
        $gutter: $gutter-smaller
      );
    }
    & > p + p,
    & > blockquote + p,
    & > p + nav {
      @media(min-width: $screen-largest) {
        @include column(
          $columns: 8,
          $offset: 4,
          $offset-left: true,
          $gutter: $gutter-smaller
        );
      }
    }
  }

  .grid figure {
    @include column(
      $columns: 12,
      $gutter: $gutter-smaller
    );
  }

  .dl-wrapper,
  .code-block {
    @include column(
      $columns: 12,
      $gutter: $gutter-smaller
    );
  }

  figure .code-block {
    @include column(
      $columns: 12,
      $margin: 0,
      $calc: false
    );
  }

}
