.index-layout {

  min-height: 100%;

  .container-outer {
    width: 100%;
  }

  .home-link {
    display: block;
  }

  .grid {
      margin: 0;
  }

  h1 {
    @include heading-whopper(
      $below-small: 4,
      $below-largest: 4
    );
    @include column(
      $columns: 12,
      $gutter: $gutter-small,
      $margin: false
    );
  }

  h5 {
    @include heading-6(
      $margin: 2
    );
  }

  .column-1 > p {
    @media(min-width: $screen-medium) {
      @include column(
        $max-columns: 6,
        $columns: 4,
        $gutter: $gutter-small,
        $margin: false
      );
    }
  }

  // The main "wrapping" columns
  .grid > div {
    @include auto-columns($map: $breakpoints);
    @media(min-width: $screen-medium) {
      @include column(
        $columns: 12,
        $gutter: $gutter-smaller
      );
    }
    @media(min-width: $screen-larger) {
      @include column(
        $columns: 6,
        $gutter: $gutter-smaller,
        $margin: false
      );
    }

    // Change the alignment on large screens, approx 1080px high
    // 1 rem = 18px due to the html element being scaled up to 112.5%.
    @media screen and (min-width: $screen-large) and (min-height: 50rem) {
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
    }
  }

  .column-2 {
    // Abritrary unit - maybe change?
    margin-top: 4rem;
    & > div {
      @media(min-width: $screen-medium) {
          @include column(
            $max-columns: 6,
            $columns: 4,
            $gutter: $gutter-small,
            $margin: false
          );
      }
      @media(min-width: $screen-large) {
        @include column(
          $max-columns: 6,
          $columns: 4,
          $margin: false
        );
      }
    }
  }

  footer {
    align-self: flex-end;
  }
}
.grid-multicolumn {
  columns: 2;
  column-gap: $gutter-smaller;
  margin-left: -$gutter-smaller/2;
  margin-right: -$gutter-smaller/2;
}
