body {
  display: flex;
  flex-flow: row wrap;
}

.container {
  @include auto-columns(
    $map: $breakpoints,
    $container: true
  );
}

.multicolumn {
  @include baseline(
    $no-text: true,
    $margin-top: $header-margin,
    $margin-bottom: 6rem
  );
  column-width: auto;
  column-gap: $gutter-smaller;
  @media(min-width: $screen-small) {
    column-count: 2;
  }
  @media(min-width: $screen-large) {
    column-gap: font-scale(2.5);
  }
  img {
    @include baseline(
      $no-text: true,
      $margin: .75,
      $below: .1
    );
    @media(min-width: $screen-large) {
      @include baseline(
        $no-text: true,
        $margin: .75,
        $below: .5
      );
    }
    @media(max-width: $screen-small) {
      width: calc(50% + #{$gutter-smaller});
      margin-left: $gutter-smaller;
      margin-right: -$gutter-smaller;
      float: right;
    }
  }
}

footer {
  @include baseline(
    $no-text: true,
    $above: .15
  );
  @include column(
    $columns: 9,
    $gutter: $gutter-smaller
  );
  @media(min-width: $screen-medium){
    @include column(
      $columns: 9,
      $gutter: $gutter-medium
    );
  }
}

.multicolumn-with-aside {
  display: flex;
  flex-flow: row wrap;
  // Center .container
  justify-content: center;
  .container {
    display: flex;
    flex-flow: row wrap;
  }
  .tiddler {
    @include column(
      $columns: 12,
      $gutter: $gutter-smaller
    );
    @media(min-width: $screen-medium) {
      @include column(
        $columns: 12,
        $gutter: $gutter-medium
      );
    }
    @media(min-width: $screen-large) {
      @include column(12);
    }
    @media(min-width: $screen-larger) {
      @include column(3);
    }
  }
  .whopper {
    @include column(
      $columns: 12,
      $gutter: $gutter-smaller
    );
    @media(min-width: $screen-medium) {
      @include column(
        $columns: 12,
        $gutter: $gutter-medium
      );
    }
    @media(min-width: $screen-large) {
      @include column(12);
    }
    @media(min-width: $screen-larger) {
      @include column(9);
    }
  }
  aside {
    @include column(
      $columns: 6,
      $breakpoint: $screen-larger
    );
    @include baseline(
      $no-text: true,
      $margin-top: $header-margin,
      $above: .35
    );
  }
  section {
    @include column(
      $columns: 12,
      $gutter: $gutter-smaller
    );
    @media(min-width: $screen-medium) {
      @include column(
        $columns: 12,
        $gutter: $gutter-medium
      );
    }
    @media(min-width: $screen-large) {
      @include column(12);
    }
    @media(min-width: $screen-larger) {
      @include column(6);
    }
  }
  footer {
    @include column(
      $columns: 6,
      $gutter: $gutter-smaller
    );
    @media(min-width: $screen-medium) {
      @include column(
        $columns: 6,
        $gutter: $gutter-medium
      );
    }
    @media(min-width: $screen-large) {
      @include column(6);
    }
  }
}

.multicolumn-with-aside-re-ordered {
  .tiddler {
    order: 1;
  }
  .whopper {
    order: 2;
  }
  aside {
    order: 3;
    display: flex;
    @media(min-width: $screen-medium){
      flex-flow: row wrap;
      align-content: flex-start;
    }
    flex-flow: column;
    @include column(
      $columns: 6,
      $breakpoint: $screen-larger
    ) {order: 4};
    > img {
      align-self: flex-start;
      @include column(
        $columns: 12,
        $gutter: $gutter-smaller
      );
      @media(min-width: $screen-medium){
        @include column(
          $columns: 9,
          $gutter: $gutter-medium
        );
      }
      @media(min-width: $screen-large){
        @include column(7.5);
      }
      @media(min-width: $screen-larger){
        @include column(
          $columns: 12,
          $margin: 0,
          $calc: false
        );
      }
    }
    > p {
      order: 2;
      @include column(
        $columns: 12,
        $gutter: $gutter-smaller
      );
      @media(min-width: $screen-smaller){
        @include column(
          $columns: 9,
          $gutter: $gutter-smaller,
          $margin: null
        );
      }
      @media(min-width: $screen-small){
        @include column(
          $columns: 6,
          $gutter: $gutter-smaller,
          $margin: null
        );
      }
      @media(min-width: $screen-medium){
        @include column(
          $columns: 6,
          $gutter: $gutter-medium
        );
      }
      @media(min-width: $screen-large){
        @include column(4.5);
      }
      @media(min-width: $screen-larger){
        @include column(
          $columns: 6,
          $margin: 0
        );
      }
    }
    > p + img {
      @include baseline(
        $no-text: true,
        $below: .1
      );
    }
  }
  section,
  footer {
    order: 4;
  }
}
