@import "../variables";
@import "../../partials/variables";
@import "../../mixins/gridCSS-overlay";

@include gridCSS-overlay(
  $grid-larger: 24rem .5fr .5fr 24rem 24rem 24rem
);

main {
  display: grid;
  grid-gap: 5rem $grid-column-gap-1; // Used to align headings between sections.
}

main > section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $grid-gap-1;

  @media(min-width: $screen-smaller) {
    &:first-child {
      grid-template-rows: $main-image-height-1 $grid-row-1 auto;
    }
  }

  @media(min-width: $screen-medium) {
    grid-template-columns: repeat(3, 1fr);

    &:first-child {
      grid-template-rows: $grid-row-1 auto;
    }
  }

  @media(min-width: $screen-large) {
    grid-template-columns: repeat(4, 1fr);

    &:first-child {
      grid-template-rows: $grid-row-2 auto;
    }

    grid-gap: $grid-gap-2;
  }

  @media(min-width: $screen-larger) {
    grid-template-columns: repeat(5, 1fr);
  }
}

h1, h2 {
  grid-column: span 1;

  @media(min-width: $screen-large) {
    grid-column: span 2;
  }

  @media(min-width: $screen-larger) {
    grid-column: span 3;
  }
}

h1 {
  align-self: flex-start;
  grid-column: 1 / span 2;

  @media(min-width: $screen-small) {
    grid-row: 2;
    align-self: flex-end;
    grid-column: span 1;
  }

  @media(min-width: $screen-medium) and (max-width: $screen-large-max) {
    margin-bottom: -.05rem;
  }

  @media(min-width: $screen-medium) {
    grid-row: 1 / span 3;
    grid-column: span 1;
  }

  @media(min-width: $screen-large) {
    grid-row: 1 / span 1;
    grid-column: span 2;
  }
}

h2, h3 {
  display: block;
  column-span: all;
}

.main-image {
  grid-column: 1 / span 2;
  grid-row: 1;
  align-self: flex-start; // Safari misaligns the image without this.
  margin-left: -1.5rem;
  margin-right: -1.5rem;

  @media(min-width: $screen-smallest) {
    margin-left: -2.5rem;
    margin-right: -2.5rem;
  }

  @media(min-width: $screen-smaller) {
    margin: 0;
  }

  @media(min-width: $screen-medium) {
    grid-row: span 3;
    grid-column: span 2;
    margin: 0;
  }

  @media(min-width: $screen-large) {
    grid-row: span 2;
  }
}

section:nth-child(1) .passage {
  @media(min-width: $screen-medium) and (max-width: $screen-large-max) {
    margin-top: 4rem;
  }

  @media(min-width: $screen-large) {
    grid-row: 2;
  }
}

.passage.passage-with-figure {
  grid-row: 1 / span 1;

  @media(min-width: $screen-smaller) and (max-width: $screen-large-max) {
    grid-column: span 1;
    columns: 1
  }
}

.passage {
  grid-column: span 2;

  @media(min-width: $screen-smaller) {
    columns: 2;
    -webkit-perspective: 1;
    column-gap: $grid-column-gap-1;
  }

  @media(min-width: $screen-large) {
    column-gap: $grid-column-gap-2;
  }

  @media(min-width: $screen-larger) {
    grid-column: span 3;
  }
}


.figure-layout-1 {
  .passage {
    @media(min-width: $screen-smaller) and (max-width: $screen-large-max) {
      columns: 1;
      grid-column: span 1;
    }
  }

  figure {
    grid-column: span 2;

    @media(min-width: $screen-smaller) {
      grid-column: 2 / span 1;
      align-self: center;
    }

    @media(min-width: $screen-large) {
      grid-column: 3 / span 1;
    }

    @media(min-width: $screen-larger) {
      grid-column: 4 / span 1;
    }
  }
}
