@import "../variables";
@import "../../partials/variables";
@import "../../mixins/gridCSS-overlay";

@include gridCSS-overlay();

body {
  counter-reset: default-counter;
}

h1 {
  grid-column: 1 / span 2;
  align-self: end;

  @media(min-width: $screen-medium) {
    grid-row: 2;
    grid-column: 2 / span 2;
  }

  @media(min-width: $screen-large) {
    grid-row: 1;
    grid-column: 3 / span 2;
  }
}

@media(max-width: $screen-large-max) {
  .main-header .container {
    width: auto;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: $grid-row-gap-1;

  @media(min-width: $screen-large) {
    grid-row-gap: $grid-row-gap-2;
  }

  @media(min-width: $screen-small) and (max-width: $screen-medium-max) {
    grid-template-rows: auto;
  }
}

section {
  display: grid;
  grid-gap: $grid-gap-1;
  grid-auto-rows: minmax($grid-row-1, auto);

  @media(min-width: $screen-large) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: $grid-gap-2;
  }

  @media(min-width: $screen-larger) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.preamble {
  @media(min-width: $screen-medium) {
    grid-template-rows: repeat(4, minmax($grid-row-1, auto));
    grid-template-columns: repeat(3, 1fr);
  }

  @media(min-width: $screen-large) {
    grid-template-rows: repeat(2, minmax($grid-row-2, auto));
    grid-template-columns: repeat(4, 1fr);
  }

  @media(min-width: $screen-larger) {
    grid-template-columns: repeat(5, 1fr);
  }

  .intro {
    margin-top: -1rem;

    @media(min-width: $screen-small) {
      grid-row: 2 / span 2;
    }

    @media(min-width: $screen-medium) {
      grid-row: 3 / span 2;
    }

    @media(min-width: $screen-medium) {
      grid-column: 2 / span 2;
    }

    @media(min-width: $screen-large) {
      grid-row: 2;
      grid-column: 3 / span 2;
    }
  }
}

.design-principles {
  grid-template-columns: 1fr 1fr;

  @media(min-width: $screen-small) {
    grid-template-rows: repeat(9, minmax($grid-row-1, auto));
  }

  @media(min-width: $screen-medium) {
    grid-template-rows: repeat(6, minmax($grid-row-1, auto));
  }

  @media(min-width: $screen-large) {
    grid-template-rows: repeat(2, minmax($grid-row-2, auto));
  }
}

.design-principles {
  @media(min-width: $screen-small) and (max-width: $screen-medium-max) {
    .section-info {
      grid-row: span 1;

      &:nth-of-type(2) {
        grid-row: 7 / span 1;

        ~ .image-link {
          grid-row: 8 / span 2;
        }
      }
    }
  }

  @media(min-width: $screen-medium) and (max-width: $screen-large-max) {
    .section-info {
      grid-row: span 1;

      &:nth-of-type(2) {
        grid-row: 6 / span 1;

        ~ .image-link {
          grid-row: 6 / span 2;
        }
      }
    }
  }

  @media(min-width: $screen-large) and (max-width: $screen-larger-max) {
    .section-info {
      &:nth-of-type(2) {
        grid-row: 3;

        ~ .image-link {
          grid-row: 3;
        }
      }
    }
  }
}

.design-principles {
  @media(min-width: $screen-smaller) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media(min-width: $screen-smaller) and (max-width: $screen-medium-max) {
    .image-link:nth-child(2) {
      grid-column-start: 1;
    }
  }

  @media(min-width: $screen-medium) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media(min-width: $screen-medium) and (max-width: $screen-large-max) {
    .image-link:nth-child(4) {
      grid-column-start: 2;
    }
  }

  @media(min-width: $screen-large) {
    grid-column: span 4;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: $grid-gap-2;
  }

  @media(min-width: $screen-larger) {
    grid-column: span 5;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: $grid-row-2;
  }
}

.image-link {
  display: grid;
  grid-template-rows: auto 1fr;
  text-decoration: none;

  @media(min-width: $screen-smaller) and (max-width: $screen-large-max) {
    grid-row: span 2;
  }

  @media(max-width: $screen-smaller-max) {
    grid-template-columns: repeat(2, 1fr);
    grid-column: span 2;
    grid-gap: $grid-gap-1;
  }
}

.image-link span {
  display: grid;
  align-items: baseline;
  grid-template-columns: auto 1fr;
}

.section-info {
  display: grid;
  align-content: flex-start;

  @media(max-width: $screen-small-max) {
    grid-template-rows: repeat(2, 1fr);
    grid-gap: $grid-gap-1;
    grid-row: span 2;
    grid-column: span 2;
  }

  h5 {
    margin-top: -1rem;

    @media(max-width: $screen-small-max) {
      align-self: flex-end;
    }
  }
}

@media(max-width: $screen-smaller-max) {
  .image-link > img {
    order: 2;
  }
}

@media(min-width: $screen-large) and (max-width: $screen-larger-max) {
  .image-link:nth-of-type(4) {
    grid-column: 2;
  }
}
