.main {
  // grid-auto-rows: fit-content(var(--row-height));
  // min-height: calc((var(--row-height) * 2) + var(--grid-row-gap));
  grid-auto-rows: minmax(var(--row-height), min-content);
}

.main .type-body {
  grid-row: span 2;
  grid-column: grid;
  margin-top: -.3rem;

  @media (min-width: #{$iPhoneXR}) {
    grid-row: span 1;
  }

  @media (min-width: #{$tablet}) {
    grid-column: span 3;
  }
}
