{% extends "layouts/index-layout.njk" %}
{% set page_title = "Design system" %}
{% set page_description = "Read the documentation on how to use Interior" %}

{% block embedded_css %}
{% endblock %}

  {% block content %}
  <section class="preamble">

    {{ super() }}
    {# This content will need revising after writing about how grid is now essential—duh! #}
    <p class="intro">Whilst using and documenting Interior simultaneously it became
      increasingly apparent that keeping up
      with the development of new specifications would be a never ending task.
      What's more, if I want to change methodologies I'd have to refactor lots of code,
      why tie things together? Separating the fundamental design system—which
      can apply to a design created with any spec—from the ever-changing is not
      only logical, but efficient.</p>
    </section>

    <section id="design-principles" class="design-principles">
      <div class="section-info">
        <h5>Design principles</h5>
        <p class="small">The fundamentals of Interior. Each principle is essential in order to create consistent web layouts.</p>
      </div>
      <a class="image-link" href="/design-system/typographic-measuring-system.html">
        <img src="/images/illustrations-web-ready-02.svg" alt="Illustration of a Typographic Measuring System" title="Typographic Measuring System">
        <span>Typographic measuring system</span>
      </a>
      <a class="image-link" href="/design-system/vertical-alignment.html">
        <img src="/images/illustrations-web-ready-04.svg" alt="Illustration of vertical alignment" title="Vertical alignment">
        <span>Vertical alignment</span>
      </a>
      <a class="image-link" href="/design-system/grid-system.html">
        <img src="/images/illustrations-web-ready-01.svg" alt="illustration of a grid system" title="grid system">
        <span>Grid system</span>
      </a>
      <a class="image-link" href="/design-system/composition.html">
        <img src="/images/illustrations-web-ready-03.svg" alt="illustration of visual composition" title="Composition">
        <span>Composition</span>
      </a>
    </section>

    <section id="development-considerations" class="development-considerations">
      <div class="section-info">
        <h5>Development considerations</h5>
        <p class="small">Due to the nature of technology constantly evolving, there are some useful considerations to think about and possibly plan into a layout focused workflow.</p>
      </div>
        <a class="image-link" href="/design-system/methodologies.html">
          <img src="/images/illustrations-web-ready-05.svg" alt="Visual representation of methodologies" title="methodologies">
          <span>Methodologies</span>
        </a>
        <a class="image-link" href="/design-system/specifications.html">
          <img src="/images/illustrations-web-ready-06.svg" alt="Visual representation of specifications" title="specifications">
          <span>Specifications</span>
        </a>
    </section>
  {% endblock %}
