{% extends "layouts/index-layout.njk" %}
{% set page_title = "Design system" %}
{% set page_description = "Read the documentation on how to use Interior" %}

{% block embedded_css %}
{% endblock %}

  {% block content %}
  <section class="preamble">

    {{ super() }}
    <p class="intro">Interior aims to connect Graphic Design and Web Design through a system of design principles, redefining what has been prescribed by frameworks for what seems like an eternity.
      Building on top of a vast wealth of knowledge from Graphic Design, it provides practical ideas that can be applied today.</p>
    </section>

    <section class="design-principles">
      <div class="section-info">
        <h5>Design principles</h5>
        <p class="small">The fundamentals of Interior. Each principle is essential in order to create consistent web layouts.</p>
      </div>
      <a class="image-link" href="/design-system/typographic-measuring-system.html">
        <img src="/images/index-illustrations/typographic-measuring-system.svg" alt="Illustration of a Typographic Measuring System" title="Typographic Measuring System">
        <span>Typographic measuring system</span>
      </a>
      <a class="image-link" href="/design-system/vertical-alignment.html">
        <img src="/images/index-illustrations/vertical-alignment.svg" alt="Illustration of vertical alignment" title="Vertical alignment">
        <span>Vertical alignment</span>
      </a>
      <a class="image-link" href="/design-system/grid-system.html">
        <img src="/images/index-illustrations/grid-system.svg" alt="illustration of a grid system" title="grid system">
        <span>Grid system</span>
      </a>
      <a class="image-link" href="/design-system/composition.html">
        <img src="/images/index-illustrations/composition.svg" alt="illustration of visual composition" title="Composition">
        <span>Composition</span>
      </a>

      <div class="section-info">
        <h5>Development considerations</h5>
        <p class="small">Due to the nature of technology constantly evolving, there are some useful considerations to think about and possibly plan into a layout focused workflow.</p>
      </div>
        <a class="image-link" href="/design-system/methodology.html">
          <img src="/images/index-illustrations/methodology.svg" alt="Visual representation of methodologies" title="methodology">
          <span>Methodology</span>
        </a>
        <a class="image-link" href="/design-system/specification.html">
          <img src="/images/index-illustrations/specification.svg" alt="Visual representation of specifications" title="specification">
          <span>Specification</span>
        </a>
    </section>
  {% endblock %}
