{% extends "layouts/index-layout.njk" %}
{% set page_title = "A design system for the modern web." %}
{% set main_title = "Design System" %}
{% set page_description = "Interior aims to connect Graphic Design and Web Design through a system of design principles,
  redefining what has been prescribed by frameworks for what seems like an eternity." %}

{% block embedded_css %}
{% endblock %}

  {% block content %}
  <time class="hidden" datetime="2017-11-06T00:35:09.100Z" title="Published: Mon Nov 06 2017">Mon Nov 06 2017</time>

  <section class="preamble">
    {{ super() }}
    <p class="intro">Interior aims to connect Graphic Design and Web Design through a system of design principles,
      redefining what has been prescribed by frameworks for what seems like an eternity.
      Building on top of a vast wealth of knowledge from Graphic Design,
      it provides practical ideas that can be applied today.</p>
    </section>

    <section class="design-principles">
      <div class="section-info">
        <h5>Design principles</h5>
        <p class="small">Each principle is a component of the system, all of which comprise a whole.</p>
      </div>
      <a class="image-link" href="/design-system/typographic-measuring-system.html">
        <img src="/images/index-illustrations/typographic-measuring-system.svg" alt="Illustration of a Typographic Measuring System" title="Typographic Measuring System">
        <span>Typographic measuring system</span>
      </a>
      <a class="image-link" href="/design-system/vertical-alignment.html">
        <img src="/images/index-illustrations/vertical-alignment.svg" alt="Illustration of vertical alignment" title="Vertical Alignment">
        <span>Vertical alignment</span>
      </a>
      <a class="image-link" href="/design-system/grid-system.html">
        <img src="/images/index-illustrations/grid-system.svg" alt="illustration of a grid system" title="Grid System">
        <span>Grid system</span>
      </a>
      <a class="image-link" href="/design-system/composition.html">
        <img src="/images/index-illustrations/composition.svg" alt="illustration of visual composition" title="Composition">
        <span>Composition</span>
      </a>

      <div class="section-info">
        <h5>Development considerations</h5>
        <p class="small">Lessons learnt, and suggestions for creating designs with code.</p>
      </div>
        <a class="image-link" href="/design-system/methodology.html">
          <img src="/images/index-illustrations/methodology.svg" alt="Visual representation of methodologies" title="Methodology">
          <span>Methodology</span>
        </a>
        <a class="image-link" href="/design-system/specification.html">
          <img src="/images/index-illustrations/specification.svg" alt="Visual representation of specifications" title="Specification">
          <span>Specification</span>
        </a>
    </section>
  {% endblock %}
