{% extends "templates/new-prototype-template.njk" %}

{% block header %}{% endblock %}

{% block main %}
<p class="font-size-1">
The sizes within the typographic system are set in points, which is a universal unit of measurement. I initially setup a Sketch library containing these sizes, from there I translated them into CSS for web use, e.g. 1rem equals 16pt/16px.
</p>
<p class="font-size-2">
The sizes within the typographic system are set in points, which is a universal unit of measurement. I initially setup a Sketch library containing these sizes, from there I translated them into CSS for web use, e.g. 1rem equals 16pt/16px.
</p>
<p class="font-size-3">
The sizes within the typographic system are set in points, which is a universal unit of measurement. I initially setup a Sketch library containing these sizes, from there I translated them into CSS for web use, e.g. 1rem equals 16pt/16px.
</p>
<p class="font-size-4">
The sizes within the typographic system are set in points, which is a universal unit of measurement. I initially setup a Sketch library containing these sizes, from there I translated them into CSS for web use, e.g. 1rem equals 16pt/16px.
</p>
<p class="font-size-5">
The sizes within the typographic system are set in points, which is a universal unit of measurement. I initially setup a Sketch library containing these sizes, from there I translated them into CSS for web use, e.g. 1rem equals 16pt/16px.
</p>
<p class="font-size-6">
The sizes within the typographic system are set in points, which is a universal unit of measurement. I initially setup a Sketch library containing these sizes, from there I translated them into CSS for web use, e.g. 1rem equals 16pt/16px.
</p>
<p class="font-size-7">
The sizes within the typographic system are set in points, which is a universal unit of measurement. I initially setup a Sketch library containing these sizes, from there I translated them into CSS for web use, e.g. 1rem equals 16pt/16px.
</p>

{% endblock %}

{% block main_footer %}{% endblock %}
