{% extends "templates/new-prototype-template.njk" %}
{% set main_classes = "main" %}

{% block header %}
  <header id="main-header" class="doc-header">
    <h1 class="doc-header__title">Typographic system</h1>
  </header>
{% endblock %}

{% block main %}
  <section class="grid {{ main_classes }}">
    <p class="type-body">Sizes within the typographic system are set in pt (points), which is a universal unit of measurement. I initially setup a Sketch library containing the sizes in fig.1, from there I translated them into CSS. 1rem equals 16pt in Sketch or 16px on the web.</p>
  </section>

  <section class="figure-wrapper">
    <div class="figure-wrapper__inner">
      <figure class="figure">
        <div class="placeholder-image placeholder-image_typographic-system"></div>
        <figcaption class="figcaption type-small">Type sizes in 12 - 48pt, SF Pro Display, as created in Sketch library (displayed at actual size). The lines indicate where the ascenders and descenders should align.</figcaption>
      </figure>

      <figure class="figure figure_code-sample">
        <div class="placeholder-image"></div>
        <figcaption class="figcaption type-small">Type Sizes taken from the Sketch library, translated into CSS custom propertie, which are also interchangeable.</figcaption>
      </figure>
    </div>
  </section>

  <section class="grid {{ main_classes }}">
    <p class="type-body">The system functions across a range of screen sizes, font sizes are universally available and interchangable as and when required. With CSS this is achieved through the use of custom properties fig. 2.</p>
  </section>
{% endblock %}

{% block main_footer %}{% endblock %}
