// Layout
//
////

.page-free-format-1 #main-article .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 10rem 0 0;
}

.page-free-format-1 {
  aside {
    @include col(3);
  }
  .layout-contents {
    display: flex;
    flex-flow: row wrap;
    @include col(8);
    .item {
      display: flex;
      flex-flow: row wrap;
      @include grid();
      &:nth-child(1) {
        align-items: flex-end;
        > img {
          @include col(6);
          order: 2;
        }
        > div {
          @include col(6);
        }
      }
    }
  }
}
.layout-contents {
  .item:nth-child(2),
  .item:nth-child(4) {
    justify-content: space-between;
    > div {
      @include col(4);
    }
  }
}
.layout-contents .item:nth-child(3) {
  align-items: center;
  > div {
    @include col(6);
    &:nth-child(1) {
      height: 20rem;
      overflow: hidden;
    }
    > img {
      width: 100%;
      object-fit: fill;
          object-position: 0rem -10rem;
    }
  }
}
