// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

// Typographic scale: https://gist.github.com/morganfeeney/0dc92d8368787a4a260fb8c002dfeb8d
//
// Deprecated, use variables from theme-interior.
$canon: font-scale(3) !default; // 48px
$double-great-primer: font-scale(2.250) !default; // 36px
$four-line-brevier: font-scale(2) !default; // 32px
$two-line-pica: font-scale(1.5) !default; // 24px
$double-pica: font-scale(1.313) !default; // 21px
$great-primer: font-scale(1.125) !default; // 18px
$english: font-scale(.875) !default; // 14px
$pica: font-scale(.75) !default; // 12px

$light-gray: lightgray;
$brand-color-1: $light-gray;
$brand-color-light: lighten($brand-color-1, 15);
$wrapper-width-large: 100rem;
$hero-image-offset-top: 25rem;
$link-color: #000;
