// Loop through a number of sequentially numbered divs from 1 to $columns //

@mixin griddle(
	$grid-cols,
	$grid-gutter-width,
	$grid-names: false,
	$grid-alignment: left
) {
	$columns: $grid-cols;
	@for $column from 1 through $columns {
	  .grid-col-#{$column} {
	    width: 100% / $grid-cols * $column;
	    padding: $grid-gutter-width / 2;

	    // if $names == true in demoGrid display the class name //
	    @if $grid-names == true {
				& .inner {
					&:before {
						content: '#{$column}';
						margin: auto;
					}
				}
			}
		}
	}
	// if $grid-alignment == left, right or center: display accordingly //
	@if $grid-alignment == left {
		[class*=-col] {
			@include gridAlignment(left);
		}
	}
	@else if $grid-alignment == right {
		[class*=-col] {
			@include gridAlignment(right);
		}
	}
	@else if $grid-alignment == center {
		[class*=-col] {
			@include gridAlignment(center);
		}
	}
}

@mixin gridAlignment($align) {
	@if $align == 'left' {
		$align: left;
		float: $align;
	}
	@else if $align == 'right' {
		$align: right;
		float: $align;
	} 
	@else if $align == 'center' {
		display: block;
		margin: auto;
	}
}

@mixin transformToCenter {
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
