
// Mixins for generating CSS grids

@mixin simpleCol($colVal,$col-gutter-val) {
	width: 100% / $colVal;
	padding: $col-gutter-val;
}

// Loop through a number of sequentially numbered divs from 1 to $columns

@mixin griddle(
	$gridVal:$baseGridVal,
	$colPadVal:$col-gutter-val,
	$names:false
) {
	$columns: $gridVal;
	@for $column from 1 through $columns {
	  .grid-col-#{$column} {
	    width: 100% / $gridVal * $column;
	    padding: $col-gutter-val / 2;

	    // if $names == true in demoGrid display the class name //
	    @if $names == true {
				& .inner {
					&:before {
						content: '#{$column}';
						margin: auto;
					}
				}
			}
		}
	}
}

@mixin gridAlignment($align) {
	@if $align == 'left' {
		$align: left;
		float: $align;
	}
	@else if $align == 'right' {
		$align: right;
		float: $align;
	} 
	@else if $align == 'center' {
		display: block;
		margin: auto;
	}
}

@mixin transformToCenter {
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
