// TO DO --> Create a feature which allows the use of inline-block OR float, or flex (if easy enough)

@mixin interior(
	// The variables below are assigned values in: variables.scss.
	// They can be overridden by passing in new variables in the mixin itself.
	$grid-gutter-width: $grid-gutter-width,
	$grid-outer: ($grid-gutter-width/2),
	$grid-cols: $grid-cols,
	$grid-nums: false,
	$grid-align: $grid-align,
	$vert-space: $vert-space
) {
	.grid-outer {
		padding: $grid-outer;
		// Clear all the things
		clear: both;
	}
	.grid-row {
		padding: $vert-space;
		&:first-of-type {
			padding-top: 0;
		}
		&:last-of-type {
			padding-bottom: 0;
		}
	}
	// Get the number of columns from the variable
	$columns: $grid-cols;
	// Wrap them all up in `.grid-outer`
	// Loop through a number of sequentially numbered divs from 1 to $columns
	@for $column from 1 through $columns {
		.grid-col-#{$column} {
	   		width: 100% / $grid-cols * $column;
	   		padding: ($grid-gutter-width / 2);
		    // If $grid-names == true in demoGrid display the class name
		    // To be removed > for demo only
		    @if $grid-nums == true {
				.inner {
					&:before {
						content: '#{$column}';
						margin: auto;
					}
				}	    		
	    	}
		}
		.grid-col-push-#{$column} {
	   		margin-left: 100% / $grid-cols * $column;
		}
		.grid-col-flip {
			&-left-#{$column} {
		   		left: 100% / $grid-cols * $column;
			}
			&-right-#{$column} {
		   		right: 100% / $grid-cols * $column;
			}
		}
	}
	[class*=grid-col] {
		//padding: ($grid-gutter-width / 2);
		position: relative;
		// if $grid-align == left, right or center: display accordingly
		@if $grid-align == left {
			@include gridAlignment(left);
		}
		@else if $grid-align == right {
			@include gridAlignment(right);
		}
		@else if $grid-align == center {
			@include gridAlignment(center);
		}
	}
}

@mixin gridAlignment($align) {
	@if $align == 'left' {
		$align: left;
		float: $align;
	}
	@else if $align == 'right' {
		$align: right;
		float: $align;
	} 
	@else if $align == 'center' {
		display: block;
		margin: auto;
		float: none!important;
	}
}
