:root {
  /* Fluid Margin
   *
   * Calculate fluid margin using vw units and container widths
   */
  --excess-width: calc(100vw - var(--container-width));
  --fluid-margin: calc((var(--excess-width) / 2));

  /* Container widths
   *
   * Account for the total size of columns, gutters and margins combined.
   * The widths come from Google Analytics and are based on devices used by visitors
   * to all NBrown websites. They are also used by designers.
   */
  --horizontal-space: 1rem;
  --vertical-space: 1rem;

  /* Container widths */
  --container-width-1: 100vw;
  --container-width-2: 320px;
  --container-width-3: 360px;
  --container-width-4: 375px;
  --container-width-5: 414px;
  --container-width-6: 568px;
  --container-width-7: 640px;
  --container-width-8: 667px;
  --container-width-9: 768px;
  --container-width-10: 1024px;
  --container-width-11: 1440px;
  --container-width-12: 1920px;
  --container-width: var(--container-width-2);

  /* Grid margins
   *
   * They are only used in one place, either side of the `.container-grid`.
   */
  --margin-1: 1rem;
  --margin-2: 1.5rem;
  --margin: var(--margin-1);

  /*
   * Base units for calculating dimensions and spacial units.
   */
  --grid-gap: 1.125rem; /* 18px */
  --grid-row-gap: 2rem;
  --margin: var(--margin-2);

  /* Gutters
   *
   * Used for creating small gutter sized columns and for use with `grid-gap`.
   */
   --gutter-x: var(--grid-gap);
   --gutter-y: var(--grid-row-gap);
 
   /* Columns */
  --column-count-320: 4;
  --column-count-360: 4;
  --column-count-414: 4;
  --column-count-768: 4;
  --column-count-1024: 6;
  --column-count-1440: 8;
  --column-count-1920: 12;
  --column-count: var(--column-count-320);
  --column-width: 1fr;

  --row-height-320: 5.5rem; /* 72px */
  --row-height-360: 4.5rem;
  --row-height-414: 7rem;
  --row-height-768: 11.5rem;
  --row-height-1024: 4.5rem;
  --row-height-1440: 6rem; /* 96px */
  --row-height: var(--row-height-320);

  /* Succinct variables for use with `--container-grid-template` */
  --m: var(--margin);
  --g: var(--gutter-x);
  --c: var(--column-width);

  /* Container Grid
   *
   * Named Grid Lines, e.g. [fluid-margin-start] allow the code to be DRY.
   * Only the grid columns change in quantity.
   * Requires 1 less column than other grids.
   */
  --container-grid-column-count-320: 3;
  --container-grid-column-count-414: 3;
  --container-grid-column-count-768: 3;
  --container-grid-column-count-1024: 5;
  --container-grid-column-count-1440: 7;
  --container-grid-column-count-1920: 11;
  --container-grid-column-count: var(--container-grid-column-count-320);

  /* The only thing that changes is the number of columns, otherwise the structure is identical */
  --container-grid-template:
    [margin-start]
    var(--fluid-margin)
    var(--m)
    [container-grid-start]
    var(--c) repeat(var(--container-grid-column-count), var(--g) var(--c))
    [container-grid-end]
    var(--m)
    var(--fluid-margin)
    [margin-end];

  --container-column-span: container-grid;
  --test-column-width: calc((100vw - 6.375rem) / 4);
}

:root {
  --inner-grid-template: repeat(auto-fill, var(--test-column-width))
}

@media (--iPhoneSE) {
  :root {
    --test-column-width: calc((100vw - var(--excess-width) - 6.375rem) / 4);
  }
}

@media (--iPhoneXR) {
  :root {
    --container-width: var(--container-width-5);
    --row-height: var(--row-height-414);
    --container-grid-column-count: var(--container-grid-column-count-414);
  }
}

@media (--tablet) {
  :root {
    --grid-gap: 1.5rem;
    --margin: 3rem;
    --row-height: var(--row-height-768);
    --container-width: var(--container-width-9);
    --column-count: var(--column-count-768);
    --column-span-1: 1 / span 6;
    --container-grid-column-count: var(--container-grid-column-count-768);
    --test-column-width: calc((100vw - var(--excess-width) - 10.5rem) / 4);
  }
}

@media (--iPadPro) {
  :root {
    --container-width: var(--container-width-10);
    --column-count: var(--column-count-1024);
    --container-grid-column-count: var(--container-grid-column-count-1024);
    --test-column-width: calc((100vw - var(--excess-width) - 13.5rem) / 6);
  }
}

@media (--desktop) {
  :root {
    --container-width: var(--container-width-11);
    --column-count: var(--column-count-1440);
    --container-grid-column-count: var(--container-grid-column-count-1440);
    --test-column-width: calc((100vw - var(--excess-width) - 16.5rem) / 8);
  }
}

@media (--appleTV) {
  :root {
    --container-width: var(--container-width-12);
    --column-count: var(--column-count-1920);
    --container-grid-column-count: var(--container-grid-column-count-1920);
    --test-column-width: calc((100vw - var(--excess-width) - 22.5rem) / 12);
  }
}

