{% macro scroller(items=[]) %}
  <nav class="scroller">
    <div class="scroller__inner">
      {% if items !==[] %}
        {% for item in items %}
          <a class="scroller__item" href="{{ item.href }}">
            <img src="{{ item.imgSrc }}" alt="{{ item.itemAlt }}">
          </a>
        {% endfor %}
      {% endif %}
    </div>
  </nav>
{% endmacro %}