// Opting for @include over @extend here.

@mixin body-1(
    $line-height: 2rem
) {
  @include baseline(
    $font-size: $paragon-small,
    $line-height: $line-height,
    $above: .45,
    $below: 0
  );
  @media(min-width: 1366px) {
    @include baseline(
      $font-size: $paragon,
      $line-height: $line-height,
      $above: .5
    );
  }
}
