// Opting for @include over @extend here.

@mixin body-1() {
  @include baseline(
    $font-size: $english,
    $line-height: 2rem,
    $above: .45,
    $below: 0
  );
}

@mixin body-1-large() {
  @include baseline(
    $font-size: $mittel,
    $line-height: 2rem,
    $above: .45,
    $below: 0
  );
}
