// Opting for @include over @extend here.

@mixin body-1() {
  @include baseline(
    $font-size: $paragon-small,
    $line-height: 2rem,
    $above: .45,
    $below: 0
  );
  @media(min-width: $screen-large) {
    @include baseline(
      $font-size: $english,
      $line-height: 2,
      $above: .5
    );
  }
}
