// Opting for @include over @extend here.

@mixin heading-1() {
  @include baseline(
    $font-size: $double-english,
    $font-weight: bold,
    $line-height: 1.18,
    $above: 1.3,
    $below: 2
  );
}

@mixin heading-2() {
  @include baseline(
    $font-size: $two-line-pica,
    $font-weight: bold,
    $line-height: 1.28,
    $above: .33,
    $below: 1
  );
}

@mixin heading-3() {
  @include baseline(
    $font-size: $double-pica,
    $font-weight: bold,
    $line-height: 1.15,
    $above: .1,
    $below: 1
  );
}

@mixin heading-4() {
  @include baseline(
  $font-weight: bold,
    $font-size: $paragon,
    $line-height: .96,
    $below: 0
  );
}

@mixin heading-5(
  $above: .2,
  $margin: 0
) {
  @include baseline(
    $font-size: $great-primer,
    $font-weight: bold,
    $line-height: 1.25,
    $above: $above,
    $margin: $margin,
    $below: .1
  );
}

@mixin heading-6(
  $above: .5,
  $below: -1,
  $margin: 0
) {
  @include baseline(
    $font-size: $paragon-small,
    $font-weight: bold,
    $line-height: 2rem,
    $above: $above,
    $below: -1,
    $margin: $margin
  );
  @media(min-width: $screen-large) {
    @include baseline(
      $font-size: $english,
      $font-weight: bold,
      $line-height: 2,
      $above: .5,
      $below: -1,
      $margin: $margin
    );
  }
}

@mixin heading-whopper(
  $above-smaller: .5,
  $above-small: .15,
  $above-medium: .4,
  $below-smaller: 1,
  $below-small: 2.85,
  $below-medium: 4,
  $below-large: 4,
  $below-largest: 6,
  $font-size-smaller: $two-line-pica-small,
  $font-size-small: $double-pica,
  $font-size-medium: $two-line-pica,
  $line-height-smaller: 3rem,
  $line-height-small: 3rem,
  $line-height-large: 4rem,
  $margin-smaller: 4,
  $margin-small: 8,
  $margin-medium: 14
) {
  @include baseline(
    $font-size: $font-size-smaller,
    $line-height: $line-height-smaller,
    $font-weight: bold,
    $margin: $margin-smaller,
    $above: $above-smaller,
    $below: $below-smaller
  );
  @media(min-width: $screen-small) {
    @include baseline(
      $font-size: $font-size-small,
      $line-height: $line-height-small,
      $font-weight: bold,
      $margin: $margin-small,
      $above: $above-small,
      $below: $below-small
    );
  }
  @media(min-width: $screen-medium) {
    @include baseline(
      $font-size: $font-size-medium,
      $line-height: $line-height-large,
      $font-weight: bold,
      $margin: $margin-small,
      $above: $above-medium,
      $below: $below-medium
    );
  }
  // The value used for min-height should/could come from modular-scale
  @media screen and (min-width: $screen-largest) and (min-height: 58rem) {
    @include baseline(
      $font-size: $font-size-medium,
      $line-height: $line-height-large,
      $font-weight: bold,
      $margin: $margin-medium,
      $above: $above-medium,
      $below: $below-largest
    );
  }
}
