// Opting for @include over @extend here.

@mixin heading-1() {
  @include baseline(
    $font-size: $double-english,
    $font-weight: bold,
    $line-height: 1.18,
    $above: 1.3,
    $below: 2
  );
}

@mixin heading-2() {
  @include baseline(
    $font-size: $two-line-pica,
    $font-weight: bold,
    $line-height: 1.28,
    $above: .33,
    $below: 1
  );
}

@mixin heading-3() {
  @include baseline(
    $font-size: $double-pica,
    $font-weight: bold,
    $line-height: 1.15,
    $above: .1,
    $below: 1
  );
}

@mixin heading-4() {
  @include baseline(
  $font-weight: bold,
    $font-size: $paragon,
    $line-height: .96,
    $below: 0
  );
}

@mixin heading-5() {
  @include baseline(
    $font-size: $great-primer,
    $font-weight: bold,
    $line-height: 1.25,
    $above: .2,
    $below: .1
  );
}

@mixin heading-6() {
  @include baseline(
    $font-size: $english,
    $font-weight: bold,
    $line-height: 2,
    $above: .5,
    $below: -1
  );
}

@mixin heading-whopper() {
  @include baseline(
    $font-size: $two-line-pica,
    $line-height: 1.28,
    $font-weight: bold,
    $margin: 8,
    $above: .45,
    $below: 7
  );
}
