@mixin border-with-content($content: null) {
  border-top: $light-border;
  position: relative;
  &:before {
    font-weight: $font-weight-border-with-content;
    text-transform: uppercase;
    content: '#{$content}';
    @include baseline($fs-pica);
    position: absolute;
    top: -1.25rem;
  }
}
