{% extends "../cards/card-code.njk" %}
{% set language="scss" %}
{% block code %}<span class="comment">// Single full width column</span>
.your-class {
  @include col(12);
}
<span class="comment">// 2 columns of equal width</span>
.cols-2 > div {
  @include col(6);
}
{% endblock %}
