{% extends "../cards/card-code.njk" %}
{% set language="scss" %}
{% block code %}<span class="comment">// A column with no calc()</span>
.no-calc-example {
  @include columns(6, $calc: false);
}
<span class="comment">// A column with no $margin</span>
.no-margin-example {
  @include columns(6, $margin: false);
}
{% endblock %}
