{% extends "../cards/card-code.njk" %}
{% set language="scss" %}
{% block code %}<span class="comment">// 3 x columns</span>
.layout-1 > div {
  @include columns(4);
}

<span class="comment">// 2 x columns</span>
.layout-1 > div {
  @include columns(6);
}
{% endblock %}
