{% extends "../cards/card-code.njk" %}
{% set language="scss" %}
{% block code %}<span class="comment">// 3 x columns</span>
.col-4 {
  @include columns(4);
}

<span class="comment">// 2 x columns</span>
.col-6 {
  @include columns(6);
}
{% endblock %}
