{% extends "../../../blocks/code-sample/code-sample.njk" %}
{% set language="css" %}
{% block code %}<span class="code-sample__selector">:root</span> {
  <span class="code-sample__property">--excess-width:</span> <span class="code-sample__value">calc(100vw - var(--container-width))</span>;
  <span class="code-sample__property">--fluid-margin:</span> <span class="code-sample__value">calc((var(--excess-width) / 2))</span>;
  <span class="code-sample__property">--container-width-1:</span> <span class="code-sample__value">100vw</span>; 
  <span class="code-sample__property">--container-width-2:</span> <span class="code-sample__value">320px</span>; 
  <span class="code-sample__property">--container-width-3:</span> <span class="code-sample__value">360px</span>; 
  <span class="code-sample__property">--container-width-4:</span> <span class="code-sample__value">375px</span>; 
  <span class="code-sample__property">--container-width-5:</span> <span class="code-sample__value">414px</span>; 
  <span class="code-sample__property">--container-width-6:</span> <span class="code-sample__value">768px</span>; 
  <span class="code-sample__property">--container-width-7:</span> <span class="code-sample__value">1366px</span>;
  <span class="code-sample__comment">/* Succinct variables for use with `--container-grid-template` */</span>
  <span class="code-sample__property">--m:</span> <span class="code-sample__value">var(--margin)</span>;
  <span class="code-sample__property">--g:</span> <span class="code-sample__value">var(--gutter-x)</span>;
  <span class="code-sample__property">--c:</span> <span class="code-sample__value">var(--column-width)</span>;
  <span class="code-sample__property">--container-grid-template:</span>
  <span class="code-sample__value">[margin-start]</span>
  <span class="code-sample__value">var(--fluid-margin)</span>
  <span class="code-sample__value">var(--m)</span>
  <span class="code-sample__value">[container-grid-start]</span>
  <span class="code-sample__value">var(--c) repeat(var(--container-grid-column-count), var(--gutter) var(--c))</span>
  <span class="code-sample__value">[container-grid-end]</span>
  <span class="code-sample__value">var(--m)</span>
  <span class="code-sample__value">var(--fluid-margin)</span>
  <span class="code-sample__value">[margin-end];</span>
}
{% endblock %}
