{% extends "../../../blocks/code-sample/code-sample.njk" %}
{% set language="css" %}
{% block code %}<span class="code-sample__selector">:root</span> {
  <span class="code-sample__property">--container-width-1:</span> <span class="code-sample__value">100vw</span>; 
  <span class="code-sample__property">--container-width-2:</span> <span class="code-sample__value">320px</span>; 
  <span class="code-sample__property">--container-width-3:</span> <span class="code-sample__value">360px</span>; 
  <span class="code-sample__property">--container-width-4:</span> <span class="code-sample__value">375px</span>; 
  <span class="code-sample__property">--container-width-5:</span> <span class="code-sample__value">414px</span>; 
  <span class="code-sample__property">--container-width-6:</span> <span class="code-sample__value">768px</span>; 
  <span class="code-sample__property">--container-width-7:</span> <span class="code-sample__value">1366px</span>;
}<br />
<span class="code-sample__selector">.heading</span> {
  <span class="code-sample__property">font-size:</span> var(<span class="code-sample__value">--font-size-1</span>);
}<br />
<span class="code-sample__at-rule">@media</span> (<span class="code-sample__property">min-width:</span> <span class="code-sample__value">768px</span>) {
  <span class="code-sample__selector">.heading</span> {
    <span class="code-sample__property">font-size:</span> var(<span class="code-sample__value">--font-size-3</span>);
  }
}
{% endblock %}
