{% extends "../../../blocks/code-sample/code-sample.njk" %}
{% set language="css" %}
{% block code %}<span class="code-sample__selector">.bo-selector</span> {
  <span class="code-sample__property">grid-column:</span> <span class="code-sample__value">fm1-end / fm2-start</span>;
}
{% endblock %}