{% extends "../../../blocks/code-sample/code-sample.njk" %}
{% set language="css" %}
{% block code %}<span class="code-sample__selector">:root</span> {
  <span class="code-sample__property">--font-size-1:</span> <span class="code-sample__value">0.750rem</span>; <span class="code-sample__comment">/* 12px */</span>
  <span class="code-sample__property">--font-size-2:</span> <span class="code-sample__value">1rem</span>; <span class="code-sample__comment">/* 16px */</span>
  <span class="code-sample__property">--font-size-3:</span> <span class="code-sample__value">1.375rem</span>; <span class="code-sample__comment">/* 22px */</span>
  <span class="code-sample__property">--font-size-4:</span> <span class="code-sample__value">1.75rem</span>; <span class="code-sample__comment">/* 28px */</span>
  <span class="code-sample__property">--font-size-5:</span> <span class="code-sample__value">2rem</span>; <span class="code-sample__comment">/* 32px */</span>
  <span class="code-sample__property">--font-size-6:</span> <span class="code-sample__value">2.25rem</span>; <span class="code-sample__comment">/* 36px */</span>
  <span class="code-sample__property">--font-size-7:</span> <span class="code-sample__value">3rem</span>; <span class="code-sample__comment">/* 48px */</span>
}<br />
<span class="code-sample__selector">.heading</span> {
  <span class="code-sample__property">font-size:</span> var(<span class="code-sample__value">--font-size-1</span>);
}<br />
<span class="code-sample__at-rule">@media</span> (<span class="code-sample__property">min-width:</span> <span class="code-sample__value">768px</span>) {
  <span class="code-sample__selector">.heading</span> {
    <span class="code-sample__property">font-size:</span> var(<span class="code-sample__value">--font-size-3</span>);
  }
}
{% endblock %}
