{% extends "../cards/card-code.njk" %}
{% set language="scss" %}
{% block code %}$canon: font-scale(3); <span class="comment">// 48px</span>
$double-great-primer: font-scale(2.250);<span class="comment"> // 36px</span>
$four-line-brevier: font-scale(2); <span class="comment">// 32px</span>
$two-line-pica: font-scale(1.5); <span class="comment">// 24px</span>
$double-pica: font-scale(1.313); <span class="comment">// 21px</span>
$great-primer: font-scale(1.125); <span class="comment">// 18px</span>
$english: font-scale(.875); <span class="comment">// 14px</span>
$pica: font-scale(.75); <span class="comment">// 12px</span>
{% endblock %}
