// ----------------------------------------------------------------------------- //
// Mixin — col()
// ----------------------------------------------------------------------------- //
// This is what creates the columns for use with Interior. A plethora of
// arguments are available to configure them.
// -----------------------------------------------------------------------------

// break-points() is required, so let's @import it.
@import "break-points";

// Start the col() mixin
@mixin col(
  $col,
  $width: column-width($col),
  $grid-gutter: $grid-gutter,
  $margin-left: $grid-gutter/2,
  $margin-right: $grid-gutter/2,
  $margin: true,
  $calc: true,
  $offset-right: false,
  $offset-left: false,
  $offset: (100% - $width),
  $offset-calc: calc(#{$offset} + #{$grid-gutter/2}),
  $custom-margin: false,
  $custom-width: false,
  $break-point: false
){
  // If we omit calc using this argument there will be no gutters.
  @if $calc == false {
    width: $width;
  }
  // Iterate through the break-points sass-map.
  @else if $break-point == true {
    @include break-points($break-points, $width);
  }
  @else {
    width: calc(#{$width} - #{$grid-gutter});
  }
  // Look Ma, no margin rules applied - in this case, rather than outputting
  // rules set to 0, just don't output the rules.
  @if $margin == false {}
  // This is useful for overriding cascading styles.
  @else if $margin == 0 {
    margin-left: 0;
    margin-right: 0;
  }
  // Otherwise make things centered.
  @else if $margin == auto {
    margin-left: auto;
    margin-right: auto;
  // We'll need margins if there are no break-points.
  } @else if $break-point == false {
    margin-left: $margin-left;
    margin-right: $margin-right;
  }
  // Offset using a margin based upon column with.
  @if $offset-right == true {
    margin-right: $offset-calc;
  }
  @if $offset-left == true {
    margin-left: $offset-calc;
  }
  // If all else fails and a bespoke margin is the only thing that can do the
  // job, create one.
  @elseif $custom-margin == true {
    @content;
  }
}

// For Description lists - only at the time of writing
@mixin text-col(
  $col,
  $width: column-width($col),
  $min: false
){
  @if $min == true {
    min-width: #{$width};
  } @else {
    width: #{$width};
  }
}
