// -----------------------------
// Mixin — col
// -----------------------------

@mixin col(
  $col,
  $width: column-width($col),
  $grid-gutter: $grid-gutter,
  $margin-left: $grid-gutter/2,
  $margin-right: $grid-gutter/2,
  $margin: true,
  $calc: true,
  $offset-right: false,
  $offset-left: false,
  $offset: (100% - $width),
  $offset-calc: calc(#{$offset} + #{$grid-gutter/2}),
  $custom-margin: false,
  $custom-width: false,
  $breakpoint: false
){
  @if $calc == false {
    width: $width;
  }
  @else if $breakpoint == true {

    @for $i from 1 through length($breakpoints) {
      $bp: nth($breakpoints, $i);
      $bp-mq: map-get(nth($bp, 2), mq);
      $bp-gutter: map-get(nth($bp, 2), gutter);

      @media(min-width: $bp-mq) {
        /* new shit */
        width: calc(#{$width} - #{$bp-gutter});
        margin-left: $bp-gutter/2;
        margin-right: $bp-gutter/2;
        /* end new shit */
      }
    }
  }
  @else {
    width: calc(#{$width} - #{$grid-gutter});
  }
  @if $margin == false {
    // Look Ma, no margin rules applied.
  }
  @else if $margin == 0 {
    margin-left: 0;
    margin-right: 0;
  }
  @else if $margin == auto {
    margin-left: auto;
    margin-right: auto;
  } @else if $breakpoint == false {
    margin-left: $margin-left;
    margin-right: $margin-right;
  }
  @if $offset-right == true {
    margin-right: $offset-calc;
  }
  @if $offset-left == true {
    margin-left: $offset-calc;
  }
  @elseif $custom-margin == true {
    @content;
  }
}

// For Description lists only at the time of writing
@mixin text-col(
  $col,
  $width: column-width($col),
  $min: false
){
  @if $min == true {
    min-width: #{$width};
  } @else {
    width: #{$width};
  }
}
