// -----------------------------------------------------------------------------
// Mixin — grid-overlay()
// -----------------------------------------------------------------------------
// This is what creates the overlay used to align columns for use with Interior.
// -----------------------------------------------------------------------------

@mixin grid-overlay(
  $width: $grid-overlay-width,
  $max-width: $grid-overlay-width,
  $centred: false,
  $right: false,
  $grid-overlay-container: $grid-gutter/2,
  $grid-overlay-gutter: $grid-gutter,
  $break-point: true
) {
  .grid-overlay {
    display: none;
    max-width: $max-width;
    width: 100%;
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 2;
    // Iterate through the break-points sass-map.
    @include auto-columns($map: $breakpoints, $container: true);
    @if $centred == true {
      left: calc(50% - $max-width/2);
    } @else if $right == true  {
      right: 0;
    } @else {
      left: 0;
    }
    flex-flow: row nowrap;
    > div {
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
      border-left: 1px solid red;
      border-right: 1px solid red;
      @include auto-columns($map: $overlay-breakpoints);
    }
  }
}

@include grid-overlay($centred: true);

@media(max-width: $screen-large) {
  .grid-overlay > div {
    &:nth-of-type(odd) {
      display: none;
    }
  }
}

.grid-overlay-active .grid-overlay {
  display: flex;
}
