// -----------------------------------------------------------------------------
// Mixin — grid-overlay()
// -----------------------------------------------------------------------------
// This is what creates the overlay used to align columns for use with Interior.
// -----------------------------------------------------------------------------

@mixin grid-overlay(
  $width: $grid-overlay-width,
  $max-width: $grid-overlay-width,
  $centred: false,
  $right: false,
  $grid-overlay-container: $grid-gutter/2,
  $grid-overlay-gutter: $grid-gutter,
  $break-point: true
) {
  .grid-overlay {
    display: none;
    max-width: $max-width;
    width: 100%;
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 2;
    // When the screen is bigger than the width of the grid, center it using
    // calc()
    @if $centred == true {
      @media(min-width: $max-width) {
       left: calc(50% - #{$max-width/2});
      }
    } @else if $right == true {
      right: 0
    } @else {
      left: 0
    }
    &-active {
      .grid-overlay {
        display: flex;
        flex-flow: row nowrap;
        pointer-events: none;
      }
    }
    // Iterate through the break-points sass-map.
    @include auto-columns($map: $breakpoints, $container: true);
    > div {
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
      border-left: 1px solid red;
      border-right: 1px solid red;
      @include auto-columns($map: $overlay-breakpoints);
    }
  }
}
