// -----------------------------------------------------------------------------
// Layout
// -----------------------------------------------------------------------------

@mixin grid($gutter: -$horizontal-space-small) {
  display: flex;
  flex-flow: row wrap;
  margin-left: $gutter;
  margin-right: $gutter;
}
