@mixin baseline(
    $font-size: $font-base,
    $unit: 1,
    $line-height: $font-ratio * $unit,
    $margin: 0,
    $above: 0,
    $below: 0,
    $padding-top: (cap-height($font-size))+($above*$base-line-unit),
    $margin-bottom: ($base-line-unit - $padding-top)+($below*$base-line-unit),
    $margin-top: ($margin*$base-line-unit),
    $no-text: false
  ) {
  @if $no-text == false {
    font-size: $font-size;
    line-height: $line-height;
  }
  padding-top: $padding-top;
  @if $margin > 0 or $margin < 0 {
    margin-top: $margin-top;
  }
  margin-bottom: $margin-bottom;
}
