/* ==============================================================
   Column mixin
   ============================================================== */

// TO DO
// 
// Create a mixin called baseline-shift so I can use all the vertical alignment goodness without some of the things like line-heighty and padding and margin defaults.

@mixin col(
  $col,
  $width: cw($col),
  $margin: true,
  $calc: true
){
  @if $calc == false {
    width: $width;
  } @else {
    width: calc(#{$width} - #{$grid-gutter});
  }
  @if $margin == false {}
  @else if $margin == auto {
    margin-left: auto;
    margin-right: auto;
  } @else {
    margin-left: $grid-gutter/2;
    margin-right: $grid-gutter/2;
  }
}

// For Description lists only at the time of writing
@mixin text-col(
  $col,
  $width: cw($col),
  $min: false
){
  @if $min == true {
    min-width: #{$width};
  } @else {
    width: #{$width};
  }
}
