@mixin border-with-content($content: null) {
  border-top: $light-border;
  position: relative;
  &:before {
    content: '#{$content}';
    @include baseline($fs-pica);
    position: absolute;
    top: -1.25rem;
  }
}
