<script src="http://localhost:35729/livereload.js"></script>
<script>
  var body = document.querySelector('body');
  var gridOverLay = document.querySelector('.grid-overlay');
  var grid = document.createElement('div');
  grid.setAttribute('class', 'grid-overlay');
  var cols = 4;

  function gridOverlay(cols){
    body.appendChild(grid);
    for (var i = 0; i < cols; i++) {
      var gridChild = document.createElement('div');
      grid.appendChild(gridChild);
    }
  }
  function overlayToggle(e){
    body.addEventListener('click', function(e) {
      body.classList.toggle('grid-overlay-active');
      e.preventDefault();
    });
  }

  overlayToggle();
  gridOverlay(cols);
</script>
