<script src="http://localhost:35729/livereload.js"></script>
{% if cols %}
  <script>var cols = {{ cols }};</script>
{% else %}
  <script>var cols = 0;</script>
{% endif %}
<script>
  var body = document.querySelector('body');
  var gridOverLay = document.querySelector('.grid-overlay');
  var grid = document.createElement('div');
  grid.setAttribute('class', 'grid-overlay');
  function gridOverlay(cols){
    body.appendChild(grid);
    for (var i = 0; i < cols; i++) {
      var gridChild = document.createElement('div');
      grid.appendChild(gridChild);
    }
  }
  function overlayToggle(e){
    body.addEventListener('click', function(e) {
      body.classList.toggle('grid-overlay-active');
      body.classList.toggle('baseline-grid');
      e.preventDefault();
    });
  }
  if (cols >= 1) {
    overlayToggle();
    gridOverlay(cols);
  }
</script>
