.figure-wrapper {
  grid-column: margin;
  overflow-x: auto;
  display: grid;
  grid-template-columns: var(--container-grid);
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  // &::before,
  // &::after {
  //   content: "";
  //   flex: 1 0 var(--margin);
  // }
}

.figure-wrapper__inner {
  --figure-wrapper-inner-grid-column: container-grid;
  grid-column: var(--figure-wrapper-inner-grid-column);
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content;
  grid-column-gap: var(--grid-gap);

  @media (min-width: #{$iPadPro}) {
    --figure-wrapper-inner-grid-column: 5 / span 9;
  }
}
