.figure-wrapper {
  grid-column: margin;
  overflow-x: auto;
  display: grid;
  grid-template-columns: var(--container-grid-template);
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.figure-wrapper__inner {
  --figure-wrapper-inner-grid-column: container-grid;
  grid-column: var(--figure-wrapper-inner-grid-column);
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content;
  grid-column-gap: var(--grid-gap);

  @media (--iPadPro) {
    --figure-wrapper-inner-grid-column: 5 / span 9;
  }

  @media (--appleTV) {
    --figure-wrapper-inner-grid-column: 3 / span 9;
  }
}
