{% macro figureWrapper(content, classes='', innerClasses='') %}
  <section class="figure-wrapper{% if classes !='' %} {{ classes }}{% endif %}">
    <div class="figure-wrapper__inner{% if innerClasses !='' %} {{ innerClasses }}{% endif %}">
      {% if content !=='' %}
        {{ content | safe }}
      {% endif %}
    </div>
  </section>
{% endmacro %}