{% macro figureWrapper(content, classes='') %}
  <section class="figure-wrapper{% if classes !='' %} {{ classes }}{% endif %}">
    <div class="figure-wrapper__inner">
      {% if content !=='' %}
        {{ content | safe }}
      {% endif %}
    </div>
  </section>
{% endmacro %}