<!-- Need to set up different configurations for gallery presentation
    for example gallery with a hero image, a gallery column width setting
    e.g. how many columns I want to specify for each gallery section.
    The default setting with specific overrides.
 -->
<section class="gallery">
  {% for galleryItem in gallery %}
    <div class="gallery-item">
      {{ images.image('360') }}
    </div>
  {% endfor %}
</section>
