<section class="posts">
  {% for post in data.posts %}
    <div class="post">
      <h3><a href="">{{ post.title }}</a></h3>
      {{ images.image('360') }}
      <p>{{ post.text }}</p>
    </div>
  {% endfor %}
</section>
