/* Global vars for this component */
:root {
  --modal-border-width: 4px;
}

.code-sample {
  --code-sample-font-family: Menlo, Courier;
  font-family: var(--code-sample-font-family);
  line-height: var(--line-height-global-code);
  margin: 0;
}

.code-sample__code {
  font-family: inherit;
}

.code-sample__comment {
  color: var(--grey-5);
}

.code-sample__property {
  color: var(--black);
}

.code-sample__value {
  color: var(--black);
}

.code-sample__selector {
  color: var(--interior-orange);
}

.code-sample__at-rule {
  color: var(--interior-orange);
}