{% extends "layouts/index-layout.njk" %}
{% set page_title = "Design principles" %}
{% set page_description = "Read the documentation on how to use Interior" %}

{% block content %}
<div class="grid-multicolumn">
  <h5 class="large">Constants</h5>
  <p>This page links to the documentation on not only how to use Interior to achieve ease of layout — but<em>why</em> it is the way it is.</p>
  {% if design_principles %}
    <nav role="navigation">
      {% for item in design_principles %}
        <a href="{{ item }}">{{ item | capitalize | replace("-", " ") | replace(".html", "") }}</a>
      {% endfor %}
    </nav>
  {% endif %}
  <h5 class="large">Transients</h5>
  <p>Due to the nature of technology constantly evolving, the following do not change the context of the constants</p>
  <nav role="navigation">
    <a href="#">Specifications</a>
    <a href="#">Methodologies, e.g. BEM, OOCSS, Separation of concerns</a>
    <a href="#">CSS</a>
    <a href="#">The Universe</a>
  </nav>
</div>
{% endblock %}
