.doc-header {
  display: grid;
  grid-auto-rows: var(--row-height);
  grid-row-gap: var(--baseline);
  background: var(--grey-tint);
  grid-column: margin;
  grid-template-columns: var(--container-grid);
}

.doc-header__title {
  grid-row: 2;
  grid-column: container-grid;
}

/* min-height: calc(var(--row-height) * 2); */
