.doc-header {
  display: grid;
  grid-auto-rows: var(--row-height);
  grid-row-gap: var(--grid-row-gap);
  background: var(--grey-tint);
  grid-column: margin;
  grid-template-columns: var(--container-grid);
}

.doc-header__title {
  grid-row: 2;
  grid-column: container-grid;
  font-weight: normal;
  
  @include global-large();

  @media(min-width: #{$iPhoneXR}) {
    @include global-large-x();
  }

  @media(min-width: #{$tablet}) {
    @include global-headline();
  }
}
