.doc-header {
  grid-auto-rows: var(--row-height);
  grid-row-gap: var(--baseline);
  background: var(--grey-tint);
}

.doc-header__title {
  grid-row: 2;
  grid-column: span 4;
}

/* min-height: calc(var(--row-height) * 2); */
