:root {
  --black: #000000;
  --white: #FFFFFF;

  --interior-orange: #F7931E;

  --grey-1: #212529;
  --grey-2: #343A40;
  --grey-3: #495057;
  --grey-4: #6C757D;
  --grey-5: #ADB5BD;
  --grey-6: #CED4DA;
  --grey-7: #DEE2E6;
  --grey-8: #E9ECEF;
  --grey-9: #F8F9FA;

  --grey-tint: #F6F6F6;

  --colour-scarlet: #ED2939;
  --colour-red: #E60F0F;
  --colour-amber: #FFBF00;
  --colour-orange: #F99500;
  --colour-yellow: #FFE900;
  --colour-chartreuse: #7BFF00;
  --colour-green: #00873E;
  --colour-teal: #66CBD5;
  --colour-blue: #2222FF;
  --colour-violet: #8A2BE2;
  --colour-purple: #8B189B;
  --colour-magenta: #FF0090;
}
