{% extends "../templates/prototype-template.njk" %}
{% set title = "Web layout design is evolving." %}
{% set main_title = "Web layout <br/>design is evolving." | safe %}
{% set page_title = "Web layout design is evolving." %}
{% set page_description = "The medium of web is coming of age, in this short article I draw a comparison between print and web & explains how much closer they are becoming." %}
{% set article = true %}

{% block date %}

{% endblock %}

{% block content %}

  <section>
    <p class="time"><time datetime="2016-10-18T09:21:10.590Z" title="Published: Tue Oct 18 2016">Tue Oct 18 2016</time></p>
    {{ super() }}
  </section>

  <section>
    <p class="lead">Something <strong>big</strong> is happening, specification is pushing the web forward in an unprecedented way.
      Those ready to embrace change are on the verge of a new-era.
    <em>However</em>, we mustn't forget beyond the web is a wealth of layout design resource to learn from.</p>
  </section>

  <section>
    <div class="passage">
      <h3>Web and print are different beasts</h3>
      <p>Paper folds, yet doesn't scale when you pinch it — you needn't worry about copy in a paper layout overflowing when its orientation changes.
      The fluidity of web alone presents a unique set of challenges, the world of print won't experience.</p>
      <p>The translation of a design from 'print' to web is challenging, applying a layout created in Illustrator to the browser also means encountering content reflow issues;
        we're limited by browser capability — but are <em>moving forward</em>.</p>
        <br>

      <blockquote>
        <p>We finally have the tools necessary to create amazing page designs on the web</p>
        <cite><a href="http://jensimmons.com/presentation/revolutionize-your-page-real-art-direction-web">Jen Simmons</a></cite>
      </blockquote>

      <br>
      <p>The capability of browsers and the desires of designers have been at odds for years — this has led to unreliable hacks, javascript frameworks for presentation, and float based grid systems for scaffolding.
        They are <em>workarounds</em>, brittle, and prone to break when pushed to the extremes some layouts require. The desire for the ability to create stunning designs in the browser has always been, it's a driving force, yet until recently we haven't had the same level of precision we've had with DTP applications, e.g. <cite>Adobe Illustrator</cite> with plain old CSS and HTML.</p>

      <h4>New CSS layout tools</h4>
      <p>Interior v.2 is intended for use with <a href="https://www.w3.org/TR/css-flexbox-1/">Flexbox</a>. According to <a href="https://rachelandrew.co.uk/archives/2016/09/29/css-grid-layout-module-level-1-at-candidate-recommendation/">this article</a>, in 2017 we'll have the eagerly awaited <a href="https://www.w3.org/TR/2016/CR-css-grid-1-20160929/">Grid</a>.</p>
    </div>
    </section>
    <section>
      <div class="passage">
      <h4>Time to see what the shiny new toys can do</h4>
      <p>It's important that we move on from how things have been — in order to do this we need direction. People often draw a line between web and print; I see the line <em>becoming blurred</em>.</p>
      <p>The talk <cite>Real Art Direction on the Web</cite> by Jen Simmons provided a wake up call, reminding me of fundamentals I learnt back in Art College 21 years ago.</p>
      <p>I suppose the main thing I'm reminded of is, back before I had access to the internet, going to the library digging out some books and learning about the work of artists &amp; designers from the 20th century. I always enjoyed that part of the process, somehow it got lost along the way.</p>

      <h4>the medium of web is coming of age</h4>
      <p>It's early days for the web, whereas print has been-around. In her talk, Jen focuses on the typical layouts we are so used to seeing on the web every day, 3 column layouts for example, and is 100% right for illuminating how devoid of creativity they are. These layouts have become engrained within the web and, unfortunately, <em>normalised</em>.</p>
         <p>Taking the time to stop and re-assess things is therefore crucial in order to move forward and break free of old habits. Researching the works of layout specialists from the world of print design is definitely a way forward, however web is its own medium with its own unique challenges and features. It needs to evolve into its own thing,
            yet draw upon the influence required to imagine the possibilities.</p>
    </div>
  </section>
{% endblock %}

{% block aside %}{% endblock %}
