.list-number {
  list-style-position: inside;
  padding: 0;
  margin-top: var(--line-height-global-body);
  margin-bottom: var(--line-height-global-body);

  @media(--tablet) {
    margin-top: var(--line-height-global-large);
    margin-bottom: var(--line-height-global-large);
  }
}
