<pre rel="{{ language }}" class="js-code-sample code-sample code-sample_{{ language }}"><code class="code-sample__code">{% block code %}{% endblock %}
</code></pre>

<button class="js-code-sample-close-modal modal-button modal-button_open code-sample__modal-button-open" onClick="openModal()">Close</button>


<template class="js-code-sample-template">
  <div class="js-code-sample-wrapper code-sample__modal">
    <div class="js-code-sample-inner code-sample__modal-inner">
      <button class="js-code-sample-close-modal modal-button modal-button_close code-sample__modal-button-close" onClick="closeModal()">Close</button>
      <div class="js-code-sample-modal-body code-sample__modal-body">
      </div>
    </div>
  </div>
</template>
