<pre rel="{{ language }}" class="js-code-sample code-sample code-sample_{{ language }}"><code class="code-sample__code">{% block code %}{% endblock %}
</code></pre>

<template class="js-code-sample-template">
  <div class="js-code-sample-wrapper code-sample__modal">
    <button class="js-code-sample-close-modal code-sample__modal-button" onClick="closeModal()">Close</button>
    <div class="js-code-sample-modal-body code-sample__modal-body">
    </div>
  </div>
</template>
