.placeholder-image {
  --placeholder-image-width: calc((var(--column-width) * 4) + (var(--grid-gap) * 3));
  --placeholder-image-height: calc((var(--row-height) * 3) + (var(--grid-row-gap) * 2));
  background-color: var(--grey-tint);
  width: var(--placeholder-image-width);
  height: var(--placeholder-image-height);

  @media (min-width: #{$tablet}) {
    --placeholder-image-width: calc((var(--column-width) * 2) + (var(--grid-gap) * 1));
    --placeholder-image-height: calc((var(--row-height) * 2) + (var(--grid-row-gap) * 1));
  }
}

@function grad($lg) {
  $lg: linear-gradient(var(--interior-orange) 0,transparent 2px) 0 #{$lg}/100vw;
  @return $lg;
}

.test {
  --font-size-mobile-small: 0.750rem; /* 12px */
  --font-size-global-small: 0.750rem; /* 12px */
  --font-size-global-body: 1rem; /* 16px */
  --font-size-global-large: 1.375rem; /* 22px */
  --font-size-android-large: 1.375rem; /* 22px */
  --font-size-android-large-x: 1.75rem; /* 28px */
  --font-size-global-large-x: 2.25rem;  /* 36px */
  --font-size-global-headline: 3rem; /* 48px */
}

.placeholder-image_typographic-system {
  background:
    url('/images/Interior graphics_Typographic system 1.svg') no-repeat 0 1px,
    url('/images/Interior graphics_Typographic system 2.svg') no-repeat 8rem 1px,
    var(--grey-tint);
    background-size: auto 237px;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background:
      grad(0),
      grad(12px),
      grad(20px),
      grad(36px),
      grad(44px),
      grad(66px),
      grad(74px),
      grad(102px),
      grad(110px),
      grad(142px),
      grad(150px),
      grad(186px),
      grad(194px),
      grad(242px);
    background-repeat: no-repeat;
  }
}
