body {
  counter-reset: figure;
}

.figure {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr var(--gutter-y);
  scroll-snap-align: center;

  &::before {
    grid-row: 2;
    counter-increment: figure;
    content: counter(figure);
    font-size: var(--font-size-global-small);
    line-height: var(--gutter-y);
  }
}

.figure:last-child {
  /* only works if we don't use grid gap due to a gap being added between this
   * and the content.
   */
  &::after {
    content: "";
    /* align the last-child to the edge of the overflowing container. */
    width: var(--margin);
    background: transparent;
    grid-row: 1 / span 5;
  }

  @media (--iPhoneSE) {
    &::after {
      width: calc(var(--fluid-margin) + var(--margin));
    }
  }
}

/* Make the last item align with the left hanging text */
.figure_3-up-wide:last-child {
  @media (--iPadPro) {
    &::after {
      width: calc((var(--fluid-margin) + var(--margin)) + (var(--test-column-width) + var(--gutter-x)));
    }
  }

  @media (--desktop) {
    &::after {
      width: calc((var(--fluid-margin) + var(--margin)) + (calcColumnWidth(3)) + var(--gutter-x));
    }
  }

  @media (--appleTV) {
    &::after {
      width: 0;
    }
  }
}

.figure-wrapper_vertical-order .figure_with-caption {
  grid-row: 2;
}

.figure_with-caption {
  grid-template-rows: 1fr var(--gutter-y) var(--row-height);
}

.figure_with-larger-caption {
  @media(--iPhoneXR-max) {
    grid-template-rows: 1fr var(--gutter-y) calcRowHeight(2);
  }
}

.figure_without-counter::before {
  content: none;
}

.figure_double {
  grid-template-rows: 1fr var(--gutter-y) 1fr var(--gutter-y) var(--row-height);
}

.figure_double::before {
  grid-row: 4;
}

.figure_double .placeholder-image ~ .placeholder-image {
  grid-row: 3;
}

.figure_double .figcaption {
  grid-row: 5;
}

.figure_no-caption {
  grid-template-rows: 1fr;
}

.figcaption {
  --figcaption-margin-top: -.15rem;
  grid-row: 3;
  width: calcColumnWidth(3);
  margin-top: var(--figcaption-margin-top);

  @media (--iPhoneXR) {
    width: calcColumnWidth(3);
  }

  @media (--tablet) {
    width: calcColumnWidth(2);
    margin-top: var(--figcaption-margin-top);
  }
}

.figure_type .placeholder-image {
  background: var(--grey-6);
  --placeholder-image-width: calcColumnWidth(4);
  --placeholder-image-height: calcRowHeight(2);


  overflow: hidden;

  @media (--tablet) {
    --placeholder-image-width: calcColumnWidth(3);
  }
}

.placeholder-image__typeset {
  margin-top: var(--body-margin-top);
}
