// Code

.code-example {
	background-color: #eee;
	font-size: 2rem;
	padding: ($grid-gutter-width / 2) $grid-gutter-width;
}

code, pre {
	white-space: pre;
}

pre {
	tab-size: 4;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}