.demo {
	&-bg-1 {
		&.grid-nums {
			@include griddle($grid-nums: true);
		}
		&.grid-gutter-outer {
			@include alpha-attribute('background-color', rgba(red, 0.1), red);
		}
		.inner {
			@include alpha-attribute('background-color', rgba(red, 0.2), red);
			display: flex;
		}		
	}
	&-bg-2 {
		.grid-gutter-outer {
			background-color: $demo-bg-1;
		}
		.col-single {
			&.with-names {
				.inner {
					display: flex;
					p {
						margin: auto;
						color: lighten($demo-bg-1--single, 100);
					}					
				}
			}
			.inner {
				background-color: $demo-bg-1--single;
			}
		}
		.col-group {
			&.with-names {
				.inner {
					display: flex;
					p {
						margin: auto;
						color: darken($demo-bg-1--group, 100);
					}					
				}
			}
			.inner {
				background-color: $demo-bg-1--group;
			}
		}
	}
	& + & {
		margin-top: ($grid-gutter-width * 2);
	}
	&-outer {
		display: block;
		margin: auto;
	}
	&-borders {
		> [class*=grid-col] {
			border-right: 1px solid $demo-bg-1--single;
			&:last-child {
				border: none;
			}
		}
	}
}