@media(min-width: $screen-xs) {
	@include interior(
		$grid-cols: 3,
		$vert-space: 0,
		$flip: false,
		$push: false,
		$mq: xs
	);
}
.demo {
	&-bg-1 {
		&.grid-nums {
			@include interior(
				$vert-space: 0
			);
		}
		.grid-outer {
			background: $demo-bg-1;
			.inner {
				background: #fff;
				display: flex;
			}
		}
		.inner {
			background: rgba($demo-bg-1, 0.3);
			display: flex;
		}
	}
	&.simple-demo-1 {
		@include interior(
			$grid-cols: 3,
			$vert-space: 0,
			$flip: false,
			$push: false
		);
	}		

	&-bg-2 {
		.grid-outer {
			background-color: $demo-bg-1;
		}
		.inner {
			background-color: $demo-bg-1--group;
		}
		.col-single {
			&.with-names {
				.inner {
					display: flex;
					p {
						margin: auto;
						color: lighten($demo-bg-1--single, 100);
					}					
				}
			}
			.inner {
				background-color: $demo-bg-1--single;
			}
		}
	}
	&-bg-3 {
		@include interior(
			$grid-outer: 0,
			$grid-cols: 12,
			$grid-gutter-width: 0,
			$push: true,
			$flip: false
		);
		.grid-outer {
			background: transparent;
			.inner {
				background: rgba($demo-bg-1, 0.3);
				display: flex;
			}
		}
		.inner {
			background: rgba($demo-bg-1, 0.3);
			display: flex;
		}
	}
	
	&-outer {
		display: block;
		margin: auto;
	}
	&-borders {
		[class*=grid-col] {
			border-left: $demo-bg-1--border;
			border-right: $demo-bg-1--border;
			border-top: 0;
			border-bottom: 0;
			&:first-child {
				border-left: none;
			}
			&:last-child {
				border-right: none;
			}
		}
		> [class*=grid-col-flip] {
			border-right: none;
			border-left: none;
			&:first-child {
				border-left: $demo-bg-1--border;
			}
			&:last-child {
				border-right: $demo-bg-1--border;
			}
		}
	}
}
.inner {
	min-height: 4rem;
	@extend .clearfix;
}
.inner {
	display: flex;
	p {
		margin: auto;
		color: darken($demo-bg-1--group, 100);
	}					
}