// Custom
.grid {
	max-width: 100rem;

	@include griddle();
	
	// Placeholder to store grid-gutter-width padding value so it can be extended
	%grid-gutter-width {
		padding: $grid-gutter-width / 2;
	}
	.inner {
		min-height: 6rem;
		@extend .clearfix;
	}
	.nested {
		&-outer {
			padding: 0;
		}
		&-inner-bg {
			padding: $grid-gutter-width / 2;
		}
	}
	&-outer {
		@include gridAlignment(center);
		padding: $grid-gutter-width / 2;
	}
}
