// Containers
.container {
	&-set-width {
		max-width: 100rem;
		@include gridAlignment(center);
	}
}

// Custom
.grid {

	@include interior();
	
	// Placeholder to store grid-gutter-width padding value so it can be extended
	%grid-gutter-width {
		padding: $grid-gutter-width / 2;
	}
	.col {
		&-group {
			padding: 0;
			&-descend {
				> [class*=grid-col] {
					padding: 0;
				}
			}
		}
	}
	&-gutter-outer {
		padding: $grid-gutter-width / 2;
		// Clear all the things
		clear: both;
	}
}
