header {
	overflow: hidden;
	padding: 1rem 0;
	margin-bottom: 3rem;
	position: relative;
	background: $theme-bg-1;
	&.theme-1 {
		padding: 3rem 0;
	}
}
main {
	clear: both;
}
a {
	&,
	&:link,
	&:focus,
	&:hover {
		color: $theme-bg-1;
	}
}
