header {
	overflow: hidden;
	padding: 1rem 0;
	margin-bottom: 3rem;
	position: relative;
	&.theme {
		&-1 {
			background: $theme-bg-1;
			h1 {
				font: normal 600 8rem/1.6 "proxima-nova";
				padding-bottom: 2rem;
				&:after {
					content: "Modular grid system";
					font-size: 2rem;
					display: block;
					font-weight: 300;
					margin-top: -3rem;
					// position: absolute;
					// width: 20rem;
					// height: 20rem;
					// right: 0;
					// content: "";
					// box-shadow: 2rem -1rem rgba(255, 255, 255, 0.3), 6rem -2rem rgba(255, 255, 255, 0.2), 9rem -3rem rgba(255, 255, 255, 0.1);
					// transform: rotate(45deg);
					// left: 0;
					// top: -15rem;
				}
			}
		}
		&-2 {
			background: $theme-bg-2;
			h1 {
				color: $theme-bg-1;
				font-size: 5rem;
				text-shadow: -1rem -1rem rgba(0,0,0,0.1),1rem 1rem rgba(0,0,0,0.1);
			}
		}
	}
}
main {
	clear: both;
}
a {
	&,
	&:link,
	&:focus,
	&:hover {
		color: $theme-bg-1;
	}
}
