html {
	font-size: 62.5%;
}

body {
	font: 1.6rem/1.6 "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	color: #fff;
	// text-shadow: -1rem 5rem rgba(0,0,0,.4),1rem -5rem rgba(0,0,0,.15);
}

h1, h2, h3, h4, h5, h6 {
	font: normal 400 2.4rem/1.6 "proxima-nova";
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

// Paragraphs

p {
	font-size: 1.4rem;
}

* ~ *:not([class*=grid-col]):not(main) {
	margin: 0 0 3rem 0;
}

.grid-gutter-outer.demo [class*=grid-row] {
	margin: 0;
}

.large {
	font-size: 2rem;
}