body {
	font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 40px;
}

// Paragraphs

p {
	margin: 0 0 ($grid-gutter-width / 1) 0;
	padding: 0;
}

.large {
	font-size: 20px;
}