// Set the number of columns in your grid
$grid-cols: 12;

// Set the grid gutter width, this will be divided by 2 then added back together by adjacent columns
$grid-gutter-width: 0.8rem!global;

// Set the default grid alignment
$grid-alignment: left;

// Colours
$demo-bg-1: #FF7070;
$demo-bg-1--single: rgba(0, 0, 0, 0.5);
$demo-bg-1--group: rgba(255, 255, 255, 0.75);
$demo-bg-1--border: 1px solid rgba(red, .5);

$theme-bg-1: #FF7070;
$theme-bg-2: #FFF;

//Fonts
$font-size-normal: 1.6rem