.main {
  grid-auto-rows: minmax(var(--row-height), min-content); /* Allow content to flow if greater than --row-height; */
}

.main .type-body {
  --body-margin-bottom: 0;
  --type-body-grid-column: grid;
  grid-row: var(--body-grid-row, span 2);
  grid-column: var(--type-body-grid-column);
  margin-top: var(--body-margin-top);
  margin-bottom: var(--body-margin-bottom);

  @media (--iPhoneXR) {
    grid-row: span 1;
    --body-margin-bottom: -.3rem; /* Correct text misaligning with the bottom of grid modules. */
  }

  @media (--tablet) {
    --type-body-grid-column: span 3;
    --body-margin-top: -.5rem;
    --body-margin-bottom: 0; /* Misaligning with grid modules is not a problem here. */
  }

  @media (--iPadPro) {
    --type-body-grid-column: 2 / span 3;
  }
}
