.container-outer {
  width: 100%;
}
.home-link {
  display: block;
}
header {
  .home-link svg {
    @include baseline($no-text: true, $margin: 4, $below: .15);
    max-width: 8rem;
  }
  nav {
    a {
      @include baseline();
      display: block;
    }
  }
  nav,
  .home-link {
    @include column(2, $margin-left: auto);
  }
}
h1 {
  @include column(6, $offset-left: true, $offset: 4);
}
.container section {
  @include column(6, $offset-left: true, $offset: 2);
  display: flex;
  flex-flow: row wrap;
  h2, h3, h4, h5 {
    @include column(4);
  }
  p {
    @include column(8);
  }
}
.dl-wrapper {
  @include column(8, $offset-left: true, $offset: 4);
}
.code-block {
  @include column(8, $offset-left: true, $offset: 4);
}
