.container {
  @media(max-width: $screen-medium-max) {
    padding: 0 $container-padding-horizontal-small;
  }
}

section.multicolumn {
  @include baseline($no-text: true, $margin-top: $header-margin, $margin-bottom: $footer-margin);
  column-width: auto;
  column-gap: $grid-gutter/1.5;
  @media(min-width: $screen-small) {
    column-count: 2;
  }
  @media(min-width: $screen-large) {
    column-gap: $grid-gutter;
  }
  img {
    @media(max-width: $screen-small) {
      @include col(6, $margin: false, $calc: false);
      margin-left: $grid-gutter/2;
      margin-right: -$grid-gutter;
      float: right;
    }
  }
}

.multicolumn-aside {
  display: flex;
  flex-flow: row wrap;
  .container {
    display: flex;
    flex-flow: row wrap;
  }
  h5 {
    @include col(12);
  }
  .whopper {
    @include col(12);
    @media(min-width: $screen-large) {
      @include col(10);
    }
    @media(min-width: $screen-larger) {
      @include col(9);
    }
  }
  aside {
    @media(min-width: $screen-larger) {
      @include col(6);
    }
    @include baseline($no-text: true, $margin-top: $header-margin, $above: .35);
  }
  section {
    @include col(12);
    @media(min-width: $screen-larger) {
      @include col(6);
    }
  }
  footer {
    @include col(6);
  }
}

.multicolumn-aside-re-ordered {
  .tiddler {
    @include col(12);
    @media(min-width: $screen-larger) {
      @include col(3);
    }
    order: 1;
  }
  .whopper {
    order: 2;
  }
  aside {
    order: 3;
    display: flex;
    @media(min-width: $screen-medium){
      flex-flow: row wrap;
      align-content: flex-start;
    }
    flex-flow: column;
    @media(min-width: $screen-larger) {
      order: 4;
      @include col(6);
    }
    > img {
      align-self: flex-start;
      @include col(12);
      @media(min-width: $screen-medium) {
        @include col(9);
      }
      @media(min-width: $screen-large) and (max-width: $screen-larger-max) {
        @include col(8);
      }
    }
    > p {
      order: 2;
      @include col(6);
      @media(min-width: $screen-large) {
        @include col(4);
      }
      @media(min-width: $screen-larger) {
        @include col(6, $margin: false);
      }
    }
    > p + img {
      @include baseline($no-text: true, $below: .1);
    }
  }
  section,
  footer {
    order: 4;
  }
  footer {
    @include col(9);
  }
}
