// -----------------------------
// Measuring sticks
// -----------------------------

.measuring-sticks {
  display: flex;
  flex-flow: row wrap;
}

.double-stick {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  > div {
    min-width: $measuring-stick-width*8;
    display: flex;
    flex-flow: column;
    &:before {
      border-top: 1px solid $brand-color-light;
      margin-top: -1px;
      content: "";
      width: $measuring-stick-width;
      z-index: 1;
    }
    span {
      margin-top: -.5rem;
      background: $brand-color-light;
    }
    &:nth-of-type(odd) {
      margin-right: $measuring-stick-width*10;
      margin-left: 0;
      align-items: flex-end;
      &:before {
        margin-right: -$measuring-stick-width;
      }
      span {
        align-self: flex-end;
      }
    }
    &:nth-of-type(even) {
      margin-left: $measuring-stick-width*10;
      margin-right: 0;
      align-items: flex-start;
      &:before {
        margin-left: -$measuring-stick-width;
      }
      span {
        align-self: flex-start;
      }
    }
  }
  &:before {
    content: "";
    width: $measuring-stick-width;
    background: $brand-color-1;
    align-self: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% - #{$measuring-stick-width/2});
  }
  &:after {
    content: "";
    width: $measuring-stick-after-width;
    background: $brand-color-light;
    align-self: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% - #{$measuring-stick-after-width/2});
    z-index: 2
  }
}

.golden-section-and-minor-second-stick {
  @include stick($golden-section-and-minor-second);
}
