// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

html {
  @media(min-width: $screen-large) {
   font-size: 112.5%; // Increases body font size to 18px if it's 1rem (16px).
  }
}
body {
 font-kerning: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
}

h1 {
  @include baseline($double-english, $line-height: 1.18, $above: 1.3, $below: 2);
}
h2 {
  @include baseline($two-line-pica, $line-height: 1.28, $above: .33, $below: 1);
}
h3 {
  @include baseline($double-pica, $line-height: 1.15, $above: .1, $below: 1);
}
h4 {
  @include baseline($paragon, $line-height: .96, $below: 0);
}
h5 {
  @include baseline($great-primer, $line-height: 1.25, $above: .2, $below: .1);
}
h6 {
  @include baseline($mittel, $line-height: 1.9, $above: .5);
}
p {
  @include baseline($english, $line-height: 2, $above: .5);
}
.large {
  @include baseline($great-primer, $line-height: 1.25, $above: .2, $below: 2);
}
.small {
  @include baseline($pica, $line-height: 1.25, $above: 0.1, $below: 2);
}
aside .small {
  @include baseline($pica, $line-height: 1.25, $above: 0.1, $below: 2.5);
}

.tiddler {
  @include baseline($mittel, $line-height: 1.9, $above: 0.5, $below: 0, $margin: 1);
  @media(min-width: $screen-small) {
    @include baseline($great-primer, $line-height: 1.25, $above: .15, $below: .1, $margin: 1);
  }
  @media(min-width: $screen-large) {
    @include baseline($great-primer, $line-height: 1.25, $above: .15, $below: .1, $margin: 4);
  }
}

.whopper {
  @include baseline($great-primer, $line-height: 1.25, $above: 0.25, $below: 1, $margin: 2);
  @media(min-width: $screen-small) {
    @include baseline($paragon, $line-height: 1.23, $above: .6, $below: 1, $margin: 5);
  }
  @media(min-width: $screen-large) {
    @include baseline($double-pica, $line-height: 1.15, $above: 0, $below: 1, $margin: 10);
  }
  @media(min-width: $screen-larger) {
    @include baseline($two-line-pica, $line-height: 1.28, $above: .33, $below: 1, $margin: 15);
  }
  @media(min-width: $screen-whopper) {
    @include baseline($double-english, $line-height: 1.19, $above: 0.3, $below: 4, $margin: 15);
  }
}

// Reset multicolumn <p> due to wrapping
.multicolumn p {
  margin: 0;
  padding: 0;
  &:not(:first-child) {
    text-indent: 1.62rem;
  }
  @supports (initial-letter: 2 ) or
    (-webkit-initial-letter: 2 ) {
    &:first-of-type::first-letter {
      font-family: serif, garamond, times;
      -webkit-initial-letter: 3 2;
      initial-letter: 3 2;
      padding: .25rem;
    }
  }
}

@media(min-width: $screen-large) {
  .multicolumn {
    text-align: justify;
    hyphens: auto;
  }
}
