// -----------------------------
// variables
// -----------------------------


// Divide modular scales into separate variables.
$golden-section: map-get($modular-scale, golden-section);
$fifth: map-get($modular-scale, fifth);
$major-third: map-get($modular-scale, major-third);
$minor-second: map-get($modular-scale, minor-second);

$golden-section-and-minor-second: map-get($modular-scales, golden-section-and-minor-second);

// Divide individual font name variables from modular scales
$five-line-pica: map-get($golden-section-and-minor-second, five-line-pica);
$canon: map-get($golden-section-and-minor-second, canon);
$two-line-great-primer: map-get($golden-section-and-minor-second, two-line-great-primer);
$double-great-primer: map-get($golden-section-and-minor-second, double-great-primer);
$four-line-brevier: map-get($golden-section-and-minor-second, four-line-brevier);
$two-line-english: map-get($golden-section-and-minor-second, two-line-english);
$double-english: map-get($golden-section-and-minor-second, double-english);
$two-line-pica: map-get($golden-section-and-minor-second, two-line-pica);
$double-pica: map-get($golden-section-and-minor-second, double-pica);
$paragon: map-get($golden-section-and-minor-second, paragon);
$great-primer: map-get($golden-section-and-minor-second, great-primer);
$mittel: map-get($golden-section-and-minor-second, mittel);
$english: map-get($golden-section-and-minor-second, english);
$pica: map-get($golden-section-and-minor-second, pica);
$philosophy: map-get($golden-section-and-minor-second, philosophy);

// Measuring sticks
$measuring-stick-width: font-scale(1.5);
$measuring-stick-after-width: 2px;

// Isaiah scroll converted to web
$isaiah-scroll-page:;
$isaiah-scroll-measure: 25rem; // roughly 28pc
$isaiah-scroll-header-margin: 100vh/12;
$isaiah-scroll-footer-margin: $isaiah-scroll-header-margin*1.5;
$isaiah-scroll-grid-gutter: 100vw/18;
$isaiah-scroll-text-block: calc(#{($isaiah-scroll-measure*2)} + #{($isaiah-scroll-grid-gutter*4)});

$header-margin: 2.5rem;
$footer-margin: $isaiah-scroll-footer-margin;

$grid-gutter: $grid-gutter*1.25;
$column-gap: $grid-gutter/4;
//$text-block-grid-overlay: calc(#{($isaiah-scroll-measure*2)} + #{($isaiah-scroll-grid-gutter*4) + $column-gap});

$wrapper-width-large: 100%;

$grid-overlay-width: $wrapper-width-large;

// Serif font this time
$cap-height: $serif-cap-height;
//$font-family-base: $font-serif;

$grid-bg-size: 100vw 1rem;

$container-padding-horizontal: 6rem;

$container-padding-horizontal-small: $container-padding-horizontal/2;
$container-padding-horizontal-smaller: $container-padding-horizontal-small/2;
