{% set base_path = ".." %}
{% set page_title = "Prototypes home page" %}
{% set page_description = "TBA" %}
{% extends "layouts/prototype-layout.njk" %}
{% set body_classes="layout-thin" %}

{% block header %}
  <h1>Prototypes</h1>
{% endblock %}

{% block main %}
  <h2>This sub title doesn't really exist</h2>
  <p>I enable businesses like yours to beat your competition by making you look more professional, &amp; placing you in front of your target audience. If this sounds like something you could benefit from <a href="#">get in touch</a>.</p>
  <h3>Links</h3>
<ul>
  <li><a href="work-page.html">Work page</a></li>
  <li><a href="work-page-single-column.html">Work page single column</a></li>
</ul>

{% endblock %}
