{% set base_path = ".." %}

{% set page_description = "TBA" %}
{% extends "layouts/prototype-layout.njk" %}

{% import "../partials/cards/card-image.njk" as images %}

{% block header %}
  <h1>{{ data.dummy_text.title_short }}</h1>
  <p>{{ data.dummy_text.paragraph_short }}</p>
  <!-- Hero image -->
  {{ images.image_figure_placeholder(
    size="1200x600",
    text="HERO IMAGE",
    image_class="image-hero",
    figure_class="figure-hero",
    caption="Caption for this dummy image.")
  }}
  <!-- /Hero image -->
  <dl class="dl-horizontal dl-page-meta">
    <dt>Date</dt><dd>22/05/2016</dd>
    <dt>Category</dt><dd>Design</dd>
    <dt>Client</dt><dd>Moi</dd>
  </dl>
  <dl class="dl-horizontal dl-disciplines">
    <dt>Disciplines</dt>
    <dd>Design</dd>
    <dd>Front-end development</dd>
    <dd>CSS</dd>
  </dl>
  <dl class="dl-horizontal dl-languages">
    <dt>Languages</dt>
    <dd>Less</dd>
    <dd>Nunjucks</dd>
    <dd>CSS</dd>
    <dd>HTML</dd>
  </dl>
{% endblock %}

{% block main %}
  <div class="content-main">
    <h2>{{ data.dummy_text.title_medium }}</h2>
    <p>{{ data.dummy_text.paragraph_short }} <a href="#">get in touch</a>.</p>
    {{ images.image_figure_placeholder() }}

    <h3>{{ data.dummy_text.title_short }}</h3>
    <p>{{ data.dummy_text.paragraph_medium }}</p>
  </div>
  <div class="content-sub">

  </div>
  <!-- Gallery -->
  {% include "partials/cards/card-gallery.njk" %}
  <!-- /Gallery -->

  <blockquote>
    <p>
      {{ data.dummy_text.title_long }}
    </p>
  </blockquote>

  <div class="content-main">
    <h3>{{ data.dummy_text.title_long }}</h3>
    <p>{{ data.dummy_text.paragraph_medium }}</p>

    <h4>{{ data.dummy_text.title_short }}</h4>
    <p>{{ data.dummy_text.paragraph_long }}</p>
  </div>
  <nav class="posts-nav">
    <a href="#">Prev</a>
    <a href="#">Next</a>
    <a href="#">View site</a>
  </nav>

{% endblock %}
