{% set base_path = ".." %}

{% set page_description = "TBA" %}
{% extends "layouts/prototype-layout.njk" %}

{% import "../partials/cards/card-image.njk" as images %}

{% block header %}
  <h1>{{ data.dummy_text.title_short }}</h1>
  <p>{{ data.dummy_text.paragraph_short }}</p>
  <!-- Hero image -->
  {{ images.image("1200x600","HERO IMAGE") }}
  <!-- /Hero image -->
  <div class="page-meta">
    <p>22/05/2016</p>
    <p>Category</p>
    <p>Client</p>
  </div>
  <div class="disciplines">
    <p>Design</p>
    <p>Front-end development</p>
    <p>CSS</p>
  </div>
  <div class="languages">
    <p>Less</p>
    <p>Nunjucks</p>
    <p>CSS</p>
    <p>HTML</p>
  </div>
{% endblock %}

{% block main %}
  <h2>{{ data.dummy_text.title_medium }}</h2>
  <p>{{ data.dummy_text.paragraph_short }} <a href="#">get in touch</a>.</p>

  <h3>{{ data.dummy_text.title_short }}</h3>
  <p>{{ data.dummy_text.paragraph_medium }}</p>

  <!-- Gallery -->
  {% include "partials/cards/card-gallery.njk" %}
  <!-- /Gallery -->

  <blockquote>
    <p>
      {{ data.dummy_text.title_long }}
    </p>
  </blockquote>

  <h3>{{ data.dummy_text.title_long }}</h3>
  <p>{{ data.dummy_text.paragraph_medium }}</p>

  <h4>{{ data.dummy_text.title_short }}</h4>
  <p>{{ data.dummy_text.paragraph_long }}</p>

  <nav>
    <a href="#">Prev</a>
    <a href="#">Next</a>
    <a href="#">View site</a>
  </nav>

{% endblock %}
