{% import "../fragments/image.njk" as images %}
{% set title = page | capitalize | replace("-", " ") %}

<!DOCTYPE html>
<html lang="en" {% if html_classes %}class="{{ html_classes }}"{% endif %}>
	<head>
		<meta charset="UTF-8">
		<title>{% if page_title %}{{ page_title | safe }}{% else %}{{ title | safe }}{% endif %}</title>
		<meta name="description" content="{% if page_description %}{{ page_description | safe }}{% else %}TBA{% endif %}">

    {% block embedded_css %}
			{% if development %}
					<link rel="stylesheet" href="/css/interior.css">
				{% else %}
					<style>
						{% include "embedded-css/interior.css" %}
					</style>
				{% endif %}
        <style>
          {% include "embedded-css/global-vars.css" %}
        </style>
		{% endblock %}

		{% block linked_css %}{% endblock %}

		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block header_scripts %}{% endblock %}

    <script async src="/js/code-sample.js"></script>
	</head>

	<body class="page-{{ page }} {{ layout_classes }} {{ body_classes }}">
		<main id="{{ page }}-article" class="container-grid {{ article_classes }}">
      {% block header %}{% endblock %}
			{% block main %}{% endblock %}
      {% block image_nav %}{% endblock %}
		</main>

		{% block footer_scripts %}
			{% if development %}
				{% include "../partials/footer-scripts.njk" %}
			{% endif %}
			<script src="/js/grid-overlay.js"></script>
		{% endblock %}

	</body>
</html>
