{% import "../macros/macro-image.njk" as images %}
{% import "../macros/macro-gallery.njk" as galleries %}
{% import "../macros/macro-post.njk" as posts %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ page | capitalize | replace("-", " ") }}</title>
		<meta name="description" content="{{ page_description }}">
		<link rel="stylesheet" href="{{ base_path }}/css/layouts/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block header_scripts %}
			{% include "partials/head-scripts.njk" %}
		{% endblock %}
	</head>
	<body class="{{ page }} {{ body_classes }}">
		<article>
			<aside>
				<div class="container">
					{# {% include "partials/components/nav-main.njk" %} #}
				</div>
			</aside>
			<header id="main-header" class="container-outer {{ main_header_classes }}">
		    <div class="container">
					{% block header %}{% endblock %}
		    </div>
			</header>
			<section id="main-section" class="container-outer {{ main_section_classes }}">
				<div class="container">
					{% block main %}{% endblock %}
				</div>
			</section>
			{% if post_page %}
				{% block posts_nav %}
					<section id="posts-nav-section" class="container-outer {{ posts_nav_section_classes }}">
						<div class="container">
							{% block posts_nav_content %}
								{% include "../partials/components/posts-nav.njk" %}
							{% endblock %}
						</div>
					</section>
				{% endblock %}
			{% endif %}
			<footer id="main-footer" class="container-outer {{ main_footer_classes }}">
				<div class="container">
					{% block footer %}
						{% include "partials/footer.njk" %}
					{% endblock %}
				</div>
			</footer>
		</article>
		<script src="http://localhost:35729/livereload.js"></script>
	</body>
</html>
