main {
  position: relative;
}

.grid-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}

/*
  * Getting the proportions correct and allowing enough rows to cover
  * excess height
  *
  * To get to 296px width the parent container (grid overlay) must be at a
  * width of 1256px, with for columns with a gutter of 24px.
  *
  * In the case of the rows, 16rem is as near as I can get using a rem
  * unit to the designed unit of 296px
  */
.grid-visible .master-grid {
  width: 100%;
  pointer-events: none;
  -ms-grid-rows: (11.5rem)[30];
      grid-template-rows: repeat(30, 11.5rem);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

@media (min-width: 1332px) {
  .grid-visible .master-grid {
    -ms-grid-rows: (24rem)[30];
        grid-template-rows: repeat(30, 24rem);
    grid-gap: 2rem 3rem;
  }
}

.grid-visible .master-grid > div {
  border: 1px solid;
}

@media (min-width: 978px) {
  .grid-visible .master-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1332px) {
  .grid-visible .master-grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1656px) {
  .grid-visible .master-grid {
    -ms-grid-columns: 24rem 0.5fr 0.5fr 24rem 24rem 24rem;
        grid-template-columns: 24rem 0.5fr 0.5fr 24rem 24rem 24rem;
  }
}

main {
  display: -ms-grid;
  display: grid;
  grid-gap: 5rem 2rem;
}

main > section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}

@media (min-width: 978px) {
  main > section {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1332px) {
  main > section {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem 3rem;
  }
  main > section:first-child {
    -ms-grid-rows: 24rem auto;
        grid-template-rows: 24rem auto;
  }
}

@media (min-width: 1656px) {
  main > section {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

h1, h2 {
  -ms-grid-column: span 1;
      grid-column: span 1;
}

@media (min-width: 1332px) {
  h1, h2 {
    -ms-grid-column: span 2;
        grid-column: span 2;
  }
}

@media (min-width: 1656px) {
  h1, h2 {
    -ms-grid-column: span 3;
        grid-column: span 3;
  }
}

h1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-grid-column-span: 2;
  -ms-grid-column: 1;
      grid-column: 1 / span 2;
}

@media (min-width: 648px) {
  h1 {
    -ms-grid-row: 2;
        grid-row: 2;
    -ms-flex-item-align: end;
        align-self: flex-end;
    -ms-grid-column: span 1;
        grid-column: span 1;
  }
}

@media (min-width: 978px) and (max-width: 1331px) {
  h1 {
    margin-bottom: -.05rem;
  }
}

@media (min-width: 978px) {
  h1 {
    -ms-grid-row-span: 3;
    -ms-grid-row: 1;
        grid-row: 1 / span 3;
    -ms-grid-column: span 1;
        grid-column: span 1;
  }
}

@media (min-width: 1332px) {
  h1 {
    -ms-grid-row-span: 1;
    -ms-grid-row: 1;
        grid-row: 1 / span 1;
    -ms-grid-column: span 2;
        grid-column: span 2;
  }
}

.main-image {
  -ms-grid-column-span: 2;
  -ms-grid-column: 1;
      grid-column: 1 / span 2;
  -ms-grid-row: 1;
      grid-row: 1;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

@media (min-width: 400px) {
  .main-image {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

@media (min-width: 540px) {
  .main-image {
    margin: 0;
  }
}

@media (min-width: 978px) {
  .main-image {
    -ms-grid-row: span 3;
        grid-row: span 3;
    -ms-grid-column: span 2;
        grid-column: span 2;
    margin: 0;
  }
}

@media (min-width: 1332px) {
  .main-image {
    -ms-grid-row: span 2;
        grid-row: span 2;
  }
}

@media (min-width: 978px) and (max-width: 1331px) {
  section:nth-child(1) .passage {
    margin-top: 4rem;
  }
}

@media (min-width: 1332px) {
  section:nth-child(1) .passage {
    -ms-grid-row: 2;
        grid-row: 2;
  }
}

.passage {
  -ms-grid-column: span 2;
      grid-column: span 2;
}

@media (min-width: 540px) {
  .passage {
    -webkit-columns: 2;
            columns: 2;
    -webkit-perspective: 1;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
}

@media (min-width: 1332px) {
  .passage {
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
  }
}

@media (min-width: 1656px) {
  .passage {
    -ms-grid-column: span 3;
        grid-column: span 3;
  }
}

.figure-layout-1 {
  -ms-grid-column-span: 3;
  -ms-grid-column: 1;
      grid-column: 1 / span 3;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1rem;
}

@media (min-width: 540px) {
  .figure-layout-1 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
  .figure-layout-1 picture {
    -ms-grid-column-span: 2;
    -ms-grid-column: 1;
        grid-column: 1 / span 2;
  }
  .figure-layout-1 figcaption {
    -ms-grid-column: 1;
        grid-column: 1;
  }
}

@media (min-width: 978px) {
  .figure-layout-1 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .figure-layout-1 picture {
    -ms-grid-column-span: 2;
    -ms-grid-column: 1;
        grid-column: 1 / span 2;
  }
  .figure-layout-1 figcaption {
    -ms-grid-column: 3;
        grid-column: 3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 1332px) {
  .figure-layout-1 {
    grid-column-gap: 3rem;
  }
}

.lead {
  -ms-grid-column: span 2;
      grid-column: span 2;
}
/*# sourceMappingURL=design-principles-layout.css.map */