main {
  position: relative;
}

.grid-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}

/*
  * Getting the proportions correct and allowing enough rows to cover
  * excess height
  *
  * To get to 296px width the parent container (grid overlay) must be at a
  * width of 1256px, with for columns with a gutter of 24px.
  *
  * In the case of the rows, 16rem is as near as I can get using a rem
  * unit to the designed unit of 296px
  */
.grid-visible .master-grid {
  width: 100%;
  pointer-events: none;
  -ms-grid-rows: (11.5rem)[30];
      grid-template-rows: repeat(30, 11.5rem);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem 2rem;
}

@media (min-width: 1332px) {
  .grid-visible .master-grid {
    -ms-grid-rows: (24rem)[30];
        grid-template-rows: repeat(30, 24rem);
    grid-gap: 2rem 3rem;
  }
}

.grid-visible .master-grid > div {
  border: 1px solid;
}

@media (min-width: 978px) {
  .grid-visible .master-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1332px) {
  .grid-visible .master-grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1656px) {
  .grid-visible .master-grid {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

body {
  counter-reset: default-counter;
}

h1 {
  -ms-grid-column-span: 2;
  -ms-grid-column: 1;
      grid-column: 1 / span 2;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

@media (min-width: 978px) {
  h1 {
    -ms-grid-row: 2;
        grid-row: 2;
    -ms-grid-column-span: 2;
    -ms-grid-column: 2;
        grid-column: 2 / span 2;
  }
}

@media (min-width: 1332px) {
  h1 {
    -ms-grid-row: 1;
        grid-row: 1;
    -ms-grid-column-span: 2;
    -ms-grid-column: 3;
        grid-column: 3 / span 2;
  }
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 1rem;
}

@media (min-width: 1332px) {
  main {
    grid-row-gap: 2rem;
  }
}

@media (min-width: 648px) and (max-width: 977px) {
  main {
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

section {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem 2rem;
  grid-auto-rows: minmax(11.5rem, auto);
}

@media (min-width: 1332px) {
  section {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem 3rem;
  }
}

@media (min-width: 1656px) {
  section {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 978px) {
  .preamble {
    -ms-grid-rows: (minmax(11.5rem, auto))[4];
        grid-template-rows: repeat(4, minmax(11.5rem, auto));
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1332px) {
  .preamble {
    -ms-grid-rows: (minmax(24rem, auto))[2];
        grid-template-rows: repeat(2, minmax(24rem, auto));
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1656px) {
  .preamble {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

.preamble .intro {
  margin-top: -1rem;
}

@media (min-width: 648px) {
  .preamble .intro {
    -ms-grid-row-span: 2;
    -ms-grid-row: 2;
        grid-row: 2 / span 2;
  }
}

@media (min-width: 978px) {
  .preamble .intro {
    -ms-grid-row-span: 2;
    -ms-grid-row: 3;
        grid-row: 3 / span 2;
  }
}

@media (min-width: 978px) {
  .preamble .intro {
    -ms-grid-column-span: 2;
    -ms-grid-column: 2;
        grid-column: 2 / span 2;
  }
}

@media (min-width: 1332px) {
  .preamble .intro {
    -ms-grid-row: 2;
        grid-row: 2;
    -ms-grid-column-span: 2;
    -ms-grid-column: 3;
        grid-column: 3 / span 2;
  }
}

.design-principles {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (min-width: 648px) {
  .design-principles {
    -ms-grid-rows: (minmax(11.5rem, auto))[9];
        grid-template-rows: repeat(9, minmax(11.5rem, auto));
  }
}

@media (min-width: 978px) {
  .design-principles {
    -ms-grid-rows: (minmax(11.5rem, auto))[6];
        grid-template-rows: repeat(6, minmax(11.5rem, auto));
  }
}

@media (min-width: 1332px) {
  .design-principles {
    -ms-grid-rows: (minmax(24rem, auto))[2];
        grid-template-rows: repeat(2, minmax(24rem, auto));
  }
}

@media (min-width: 648px) and (max-width: 977px) {
  .design-principles .section-info {
    -ms-grid-row: span 1;
        grid-row: span 1;
  }
  .design-principles .section-info:nth-of-type(2) {
    -ms-grid-row-span: 1;
    -ms-grid-row: 7;
        grid-row: 7 / span 1;
  }
  .design-principles .section-info:nth-of-type(2) ~ .image-link {
    -ms-grid-row-span: 2;
    -ms-grid-row: 8;
        grid-row: 8 / span 2;
  }
}

@media (min-width: 978px) and (max-width: 1331px) {
  .design-principles .section-info {
    -ms-grid-row: span 1;
        grid-row: span 1;
  }
  .design-principles .section-info:nth-of-type(2) {
    -ms-grid-row-span: 1;
    -ms-grid-row: 6;
        grid-row: 6 / span 1;
  }
  .design-principles .section-info:nth-of-type(2) ~ .image-link {
    -ms-grid-row-span: 2;
    -ms-grid-row: 6;
        grid-row: 6 / span 2;
  }
}

@media (min-width: 1332px) and (max-width: 1655px) {
  .design-principles .section-info:nth-of-type(2) {
    -ms-grid-row: 3;
        grid-row: 3;
  }
  .design-principles .section-info:nth-of-type(2) ~ .image-link {
    -ms-grid-row: 3;
        grid-row: 3;
  }
}

@media (min-width: 540px) {
  .design-principles {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 540px) and (max-width: 977px) {
  .design-principles .image-link:nth-child(2) {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
}

@media (min-width: 978px) {
  .design-principles {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 978px) and (max-width: 1331px) {
  .design-principles .image-link:nth-child(4) {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

@media (min-width: 1332px) {
  .design-principles {
    -ms-grid-column: span 4;
        grid-column: span 4;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem 3rem;
  }
}

@media (min-width: 1656px) {
  .design-principles {
    -ms-grid-column: span 5;
        grid-column: span 5;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: 24rem;
        grid-template-rows: 24rem;
  }
}

.image-link {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  text-decoration: none;
}

@media (min-width: 540px) and (max-width: 1331px) {
  .image-link {
    -ms-grid-row: span 2;
        grid-row: span 2;
  }
}

@media (max-width: 539px) {
  .image-link {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-column: span 2;
        grid-column: span 2;
    grid-gap: 1rem 2rem;
  }
}

.image-link span {
  display: -ms-grid;
  display: grid;
  -ms-flex-align: baseline;
      align-items: baseline;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
}

.section-info {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

@media (max-width: 647px) {
  .section-info {
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem 2rem;
    -ms-grid-row: span 2;
        grid-row: span 2;
    -ms-grid-column: span 2;
        grid-column: span 2;
  }
}

.section-info h5 {
  margin-top: -1rem;
}

@media (max-width: 647px) {
  .section-info h5 {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media (max-width: 539px) {
  .image-link > img {
    -ms-flex-order: 2;
        order: 2;
  }
}

@media (min-width: 1332px) and (max-width: 1655px) {
  .image-link:nth-of-type(4) {
    -ms-grid-column: 2;
        grid-column: 2;
  }
}
/*# sourceMappingURL=index-layout.css.map */