/* ==============================================================
   Base
   ============================================================== */

// Reset
html {
 box-sizing: border-box;
}

*, *::before, *::after {
 box-sizing: inherit;
 margin: 0;
}

// Baseline grid
body {
  line-height: $line-height-base;
  font-size: $font-base;
  -webkit-text-size-adjust: 100%;
  font-family: $font-family-base;
  background: $brand-color-light;
}

.baseline-grid {
  @include baseline-grid();
}

html,
body,
figure {
  margin: 0;
  padding: 0;
}

a {
  &,
  &:link,
  &:focus,
  &:hover {
    color: $font-color-1;
  }
}
