/* ==============================================================
   Base
   ============================================================== */

// Reset
html {
 box-sizing: border-box;
}

*, *::before, *::after {
 box-sizing: inherit;
 margin: 0;
}

// Baseline grid
body {
  line-height: $line-height-base;
  font-size: $font-base;
  -webkit-text-size-adjust: 100%;
  font-family: $font-family-base;
  background: $brand-color-light;
}

.baseline-grid {
  background-image: -moz-linear-gradient(top,#FF7070 0,rgba($brand-color-light,0)1px);
  background-image: -webkit-linear-gradient(top,#FF7070 0,rgba($brand-color-light,0)1px);
  background-image: linear-gradient(to bottom,#FF7070 0,#fff0 1px);
  background-repeat: repeat-y;
  // Finer leading
  background-size: 100% .5rem;
}

html,
body,
figure {
  margin: 0;
  padding: 0;
}

a {
  &,
  &:link,
  &:focus,
  &:hover {
    color: $font-color-1;
  }
}
