/* ==============================================================
   Code
   ============================================================== */

code, pre {
	white-space: pre;
}

pre.code-block {
	tab-size: 4;
	 code {
		background: rgba($brand-color-1, 0.1);
		display: block;
		padding-left: $horizontal-space;
		padding-right: $horizontal-space;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
	&:before {
		content: attr(rel);
    background: $brand-color-3;
    display: block;
    color: $brand-color-2;
    text-transform: uppercase;
    font-family: $font-monospace;
		font-size: .65rem;
		font-weight: bold;
		letter-spacing: .15rem;
	}
}

code {
	background: rgba($brand-color-1, 0.1);
}

// Code block font styles
.comment {
	color: $mid-gray;
}

pre.code-block {
  @media(max-width: $screen-medium-max) {
    margin-left: -$horizontal-space-small;
    margin-right: -$horizontal-space-small;
  }
}
