// Flexible Description lists
.dl-horizontal {
  @extend %flex-container;
  justify-content: flex-end;
  align-content: flex-start;
  @include column(12, $margin: false, $calc: false);
  dt {
    @include dl-column(3, $min: true);
    font-weight: bold;
    margin-right: auto;
    padding-right: 1rem;
  }
  dd {
    @include dl-column(9);
  }
  dt, dd {
    @include baseline($line-height: 2, $above: .5);
  }
}
