.docs-layout {

  .container-outer {
    width: 100%;
  }
  .home-link {
    display: block;
  }

  header {
    .home-link svg {
      @include baseline(
        $no-text: true,
        $margin: 2,
        $below: -.15
      );
      max-width: 8rem;
      @media(min-width: $screen-small) {
        @include baseline(
          $no-text: true,
          $margin: 2,
          $below: -.15
        );
      }
      @media(min-width: $screen-large) {
        @include baseline(
          $no-text: true,
          $margin: 2,
          $below: .15
        );
      }
    }

    nav {
      a {
        @include baseline();
        display: block;
      }
    }

    nav,
    .home-link {
      @media(max-width: $screen-smaller) {
        @include column(
          $columns: 6,
          $gutter: $gutter-smaller,
          $margin-left: auto
        );
        text-align: right;
      }
      @include column(
        $columns: 4,
        $gutter: $gutter-smaller,
        $margin-left: auto
      );
      @media(min-width: $screen-medium) {
        @include column(
          $columns: 2,
          $gutter: $gutter-medium,
          $margin-left: auto
        );
      }
    }
  }

  h1 {
    @include column(
      $columns: 10,
      $gutter: $gutter-smaller
    );
    @media(min-width: $screen-medium) {
      @include column(
        $columns: 10,
        $gutter: $gutter-medium
      );
    }
    @media(min-width: $screen-large) {
      @include column(
        $columns: 10,
        $gutter: $gutter-medium,
        $offset-left: true,
        $offset: 2
      );
    }
  }

  .container section {
    @include column(
      $columns: 12,
      $gutter: $gutter-smaller
    );
    @media(min-width: $screen-medium) {
      @include column(
        $columns: 10,
        $gutter: $gutter-medium
      );
    }
    @media(min-width: $screen-large) {
      @include column(
        $columns: 8,
        $offset-left: true,
        $offset: 2
      );
    }
    @media(min-width: $screen-largest) {
      @include column(
        $columns: 6,
        $offset-left: true,
        $offset: 2
      );
    }
    h2, h3, h4, h5 {
      @include column(
        $columns: 12,
        $gutter: $gutter-smaller
      );
      @media(min-width: $screen-largest) {
        @include column(
          $columns: 4,
          $gutter: $gutter-smaller
        );
      }
    }
  }

  .grid > p,
  .grid > blockquote {
    @include column(
      $columns: 12,
      $gutter: $gutter-smaller
    );
    @media(min-width: $screen-largest) {
      @include column(
        $columns: 8,
        $gutter: $gutter-smaller
      );
    }
  }

  .grid {
    .intro {
      @include column(
        $columns: 12,
        $gutter: $gutter-smaller
      );
    }
    & > p + p,
    & > blockquote + p {
      @media(min-width: $screen-largest) {
        @include column(
          $columns: 8,
          $offset: 4,
          $offset-left: true,
          $gutter: $gutter-smaller
        );
      }
    }
  }

  .grid figure {
    @include column(
      $columns: 12,
      $gutter: $gutter-smaller
    );
    pre {
      @include column(
        $columns: 12,
        $calc: false,
        $margin: 0
      );
    }
  }

  .dl-wrapper,
  .code-block {
    @include column(
      $columns: 12,
      $gutter: $gutter-smaller
    );
  }

  footer {
    @media(min-width: $screen-large) {
      margin: 0;
    }
  }

  .sig {
    @include baseline($margin: 10);
    @include column(
      $columns: 8,
      $gutter: $gutter-small,
      $margin: auto,
      $breakpoint: $screen-large
    );
  }

}
