footer {
  @media(min-width: $screen-large) {
    margin: 0;
  }
}

.sig {
  @include baseline($margin: 10);
  @include column(
    $columns: 12,
    $gutter: $gutter-small
  );
  @media(min-width: $screen-large) {
      @include column(
        $columns: 8,
        $gutter: $gutter-small
      );
  }
}

.footer-at-bottom {
  // Position the footer always at the bottom, regardless of how much content
  // there is.
  @at-root {
    html {
      display: flex;
    }
  }

  body {
    display: flex;
    flex-flow: column;
  }

  #main-article {
    height: 100%;
  }

  #main-footer {
    margin-top: auto;
  }
}
