footer {
  @media(min-width: $screen-large) {
    margin: 0;
  }
}

.sig {
  @include baseline($margin: 10);
  @include column(
    $columns: 12,
    $gutter: $gutter-small
  );
  @media(min-width: $screen-large) {
      @include column(
        $columns: 8,
        $gutter: $gutter-small
      );
  }
}
