.image-box {
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 40rem;
  max-width: 100%;
}
// .example-1 {
//   background: url(/images/grid-system_grid-1.svg);
// }
// .example-2 {
//   background: url(/images/grid-system_grid-2.svg);
// }
// .example-3 {
//   background: url(/images/grid-system_grid-3.svg);
// }
