header {
  .home-link svg {
    @include baseline(
      $no-text: true,
      $margin: 2,
      $below: -.15
    );
    max-width: 8rem;
    @media(min-width: $screen-small) {
      @include baseline(
        $no-text: true,
        $margin: 2,
        $below: -.15
      );
    }
    @media(min-width: $screen-large) {
      @include baseline(
        $no-text: true,
        $margin: 2,
        $below: .15
      );
    }
  }
}

#main-header {
  nav,
  .home-link {
    @media(max-width: $screen-smaller) {
      @include column(
        $columns: 6,
        $gutter: $gutter-smaller,
        $margin-left: auto
      );
      text-align: right;
    }
    @include column(
      $columns: 4,
      $gutter: $gutter-smaller,
      $margin-left: auto
    );
    @media(min-width: $screen-medium) {
      @include column(
        $columns: 2,
        $gutter: $gutter-medium,
        $margin-left: auto
      );
    }
  }  
}
