#main-header {
  background: $brand-color-2;
  display: grid;
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    align-items: flex-end;
  }
}

#main-header nav {
  @media(min-width: $screen-small) {
    //text-align: right;
  }
    grid-column: 1 / span 2;
    grid-row: 2;

  @media(min-width: $screen-small) {
    grid-column: 2;
    grid-row: 1;
  }
}

#main-header nav a {
  @include baseline(
    $font-size: $augustin,
    $line-height: 2rem,
    $below: .8
  );
  @media(min-width: 1366px) {
    @include baseline();
  }
  display: inline-flex;
  &:not(:last-child) {
    margin-right: $horizontal-space-small;
  }
}

#main-header .home-link svg {
  @include baseline(
    $no-text: true,
    $margin: .65,
    $below: -1
  );

  max-width: $double-great-primer;

  @media(min-width: $screen-small) {
    @include baseline(
      $no-text: true,
      //$margin: 2.55,
      $below: -.25
    );
  }
  @media(min-width: 1366px) {
    @include baseline(
      $no-text: true,
      $margin: 2,
      $below: .2
    );
    max-width: $double-great-primer;
  }
}
