.index-layout {

  min-height: 100%;

  .container-outer {
    width: 100%;
  }

  .home-link {
    display: block;
  }

  h1 {
    @include column(
      $columns: 4,
      $offset-left: true,
      $offset: 2,
      $gutter: $gutter-medium
    );
  }

  section {
    @include column(
      $columns: 12,
      $gutter: font-scale(2.5),
      $offset-left: true,
      $offset: 2
    );
  }

  .grid > * {
    @include column(
      $columns: 12,
      $gutter: $gutter-medium
    );
  }

  footer {
    align-self: flex-end;
  }
}
