body {
  display: flex;
  flex-flow: row wrap;
}

.container {
  @include auto-columns($map: $breakpoints, $container: true);
}

.grid {
  // TEMPFIX
  @media(max-width: $screen-large-max) {
    @include grid($negative-gutter: -$horizontal-space-small/2);
  }
}

.multicolumn {
  @include baseline($no-text: true, $margin-top: $header-margin, $margin-bottom: 6rem);
  column-width: auto;
  column-gap: $gutter-smaller;
  @media(min-width: $screen-small) {
    column-count: 2;
  }
  @media(min-width: $screen-large) {
    column-gap: font-scale(2.5);
  }
  img {
    @include baseline($no-text: true, $margin: .75, $below: .1);
    @media(min-width: $screen-large) {
      @include baseline($no-text: true, $margin: .75, $below: .5);
    }
    @media(max-width: $screen-small) {
      width: calc(50% + #{$gutter-smaller});
      margin-left: $gutter-smaller;
      margin-right: -$gutter-smaller;
      float: right;
    }
  }
}

footer {
  @include baseline($no-text: true, $above: .15);
  @include column(9, $gutter: $gutter-smaller);
  @include column(9, $breakpoint: $screen-medium, $gutter: $gutter-medium);
}

.multicolumn-with-aside {
  display: flex;
  flex-flow: row wrap;
  // Center .container
  justify-content: center;
  .container {
    display: flex;
    flex-flow: row wrap;
  }
  .tiddler {
    @include column(12, $gutter: $gutter-smaller);
    @include column(12, $breakpoint: $screen-medium, $gutter: $gutter-medium);
    @include column(12, $breakpoint: $screen-large);
    @include column(3, $breakpoint: $screen-larger);
  }
  .whopper {
    @include column(12, $gutter: $gutter-smaller);
    @include column(12, $breakpoint: $screen-medium, $gutter: $gutter-medium);
    @include column(12, $breakpoint: $screen-large);
    @include column(9, $breakpoint: $screen-larger);
  }
  aside {
    @include column(6, $breakpoint: $screen-larger);
    @include baseline($no-text: true, $margin-top: $header-margin, $above: .35);
  }
  section {
    @include column(12, $gutter: $gutter-smaller);
    @include column(12, $breakpoint: $screen-medium, $gutter: $gutter-medium);
    @include column(12, $breakpoint: $screen-large);
    @include column(6, $breakpoint: $screen-larger);
  }
  footer {
    @include column(6, $gutter: $gutter-smaller);
    @include column(6, $breakpoint: $screen-medium, $gutter: $gutter-medium);
    @include column(6, $breakpoint: $screen-large);
  }
}

.multicolumn-with-aside-re-ordered {
  .tiddler {
    order: 1;
  }
  .whopper {
    order: 2;
  }
  aside {
    order: 3;
    display: flex;
    @media(min-width: $screen-medium){
      flex-flow: row wrap;
      align-content: flex-start;
    }
    flex-flow: column;
    @include column(6, $breakpoint: $screen-larger) {
      order: 4;
    };
    > img {
      align-self: flex-start;
      @include column(12, $gutter: $gutter-smaller);
      @include column(9, $breakpoint: $screen-medium, $gutter: $gutter-medium);
      @include column(7.5, $breakpoint: $screen-large);
      @include column(12, $breakpoint:$screen-larger, $margin: 0, $calc: false);
    }
    > p {
      order: 2;
      @include column(12, $gutter: $gutter-smaller);
      @include column(9, $breakpoint: $screen-smaller, $gutter: $gutter-smaller, $margin: null);
      @include column(6, $breakpoint: $screen-small, $gutter: $gutter-smaller, $margin: null);
      @include column(6, $breakpoint: $screen-medium, $gutter: $gutter-medium);
      @include column(4.5, $breakpoint: $screen-large);
      @include column(6, $breakpoint: $screen-larger, $margin: 0);
    }
    > p + img {
      @include baseline($no-text: true, $below: .1);
    }
  }
  section,
  footer {
    order: 4;
  }
}
