$measuring-systems: (
  // The following is based on the measure when applied to a grid
  // more of a Typographic measuring system than modular scale.
  // html font-size at 87.5%
  system-1: (
    two-line-pica: 3.286rem, // 46px
      double-pica: 3rem, //42px
    paragon: 2.143rem, //30px
      great-primer: 1.857rem, //24px
    augustin: 1.429rem, // 20px
      mittel: 1.285711rem, //18px
    english: 1.143rem, //16px
      pica: 1rem, //14px
    philosophy: 0.857rem //12px
  )
);

// html font-size at 87.5%
$system-1: map-get($measuring-systems, system-1);

  $two-line-pica: map-get($system-1, two-line-pica);
  $double-pica: map-get($system-1, double-pica);
  $paragon: map-get($system-1, paragon);
  $great-primer: map-get($system-1, great-primer);
  $augustin: map-get($system-1, augustin);
  $mittel: map-get($system-1, mittel);
  $english: map-get($system-1, english);
  $pica: map-get($system-1, pica);
  $philosophy: map-get($system-1, philosophy);
