// Fibonaci sequenced modular scales
$modular-scale: (
  golden-section: (
    canon: 17.96,
    double-great-primer: 11.10,
    four-line-brevier: 6.86,
    two-line-pica: 4.24,
    double-pica: 2.62,
    great-primer: 1.62,
    english: 1,
    pica: .617
  ),
  fifth: (
    canon: 16.5,
    double-great-primer: 10.5,
    four-line-brevier: 6.5,
    two-line-pica: 4,
    double-pica: 2.5,
    great-primer: 1.5,
    english: 1,
    pica: .667
  ),
  major-third: (
    canon: 14.1,
    double-great-primer: 8.8,
    four-line-brevier: 5.3,
    two-line-pica: 3.5,
    double-pica: 2.25,
    great-primer: 1.25,
    english: 1,
    pica: .8
  ),
  minor-second: (
    canon: 13.536,
    double-great-primer: 8.335,
    four-line-brevier: 5.201,
    two-line-pica: 3.134,
    double-pica: 2.067,
    great-primer: 1.067,
    english: 1,
    pica: .833
  )
);

// Combined scales
$modular-scales: (
  golden-section-and-minor-second: (
    five-line-pica: 17.96rem,
    canon: 13.536rem,
    two-line-great-primer: 11.10rem,
    double-great-primer: 8.335rem,
    four-line-brevier: 6.86rem,
    two-line-english: 5.201rem,
    double-english: 4.24rem,
    two-line-pica: 3.134rem,
    double-pica: 2.62rem,
    paragon: 2.067rem,
    great-primer: 1.62rem,
    augustin: 1.25rem,
    mittel: 1.067rem,
    english: 1rem,
    pica: .833rem,
    philosophy: .617rem
  ),
  // The following is based upon page 157 of "The Elements of Typographic Style"
  //
  // html font-size at 100%
  fibonacci-large: (
    five-line-pica: 11.125rem, //178px
    canon: 7.688rem, //123px
    two-line-great-primer: 6.875rem, //110px
    double-great-primer: 4.750rem, //76px
    four-line-brevier: 4.250rem, //68px
    two-line-english: 2.938rem, //47px
    double-english: 2.625rem, //42px
    two-line-pica: 1.813rem, //29px
    double-pica: 1.625rem, //26px
    paragon: 1.125rem, //18px
    great-primer: 1rem, // 16px
    augustin: 0.688rem, //11px
    mittel: 0.625rem, //10px
    english: 0.438rem, //7px
    pica: 0.375rem, //6px
    philosophy: 0.250rem //4px
  )
);
