/* ==============================================================
   Nav
   ============================================================== */

#main-nav {
  display: flex;
  align-items: flex-start;
  @include baseline($pica, $above: 1.7);
  @media(max-width: $screen-small-max) {
    @include baseline($pica, $above: 1);
    align-self: flex-end;
  }
  @media(min-width: $screen-large) {
    @include baseline($pica, $above: 2.15);
  }
  a {
    text-decoration: none;
    padding: 0 $horizontal-space-small/2;
    border-left: $mid-border;
    &:first-child {
      border-left: none;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

.posts-nav {
  @include baseline($pica, $below: 0, $margin: 3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  .next, .prev {
    display: flex;
    align-items: center;
  }
  .prev::before,
  .next::after {
    content: "";
    border-top: $mid-border;
    border-left: $mid-border;
    width: 1rem;
    height: 1rem;
    display: inline-flex;
  }
  .prev::before {
    transform: rotate(-45deg);
  }
  .next::after {
    transform: rotate(135deg);
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    &:only-child.next {
      margin-left: auto;
    }
    &:only-child.prev {
      margin-right: auto;
    }
    &:hover::before,
    &:hover::after {
      border-color: inherit;
    }
  }
}
