@media(min-height: font-scale(60)) {
  #posts-nav-section {
    position: sticky;
    bottom: 0;
  }
}
.posts-nav {
  @include auto-columns($map: $breakpoints);
  @media(min-width: $screen-large){
    @include column(
      $columns: 6,
      $gutter: $gutter-small
    );
  }
  @include baseline(
    $font-size: $pica,
    $line-height: 1.65,
    $above: 0,
    $below: 0
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  .next, .prev {
    display: flex;
    align-items: center;
  }
  .prev::before,
  .next::after {
    content: "";
    border-top: $posts-nav-border;
    border-left: $posts-nav-border;
    width: 1rem;
    height: 1rem;
    display: inline-flex;
  }
  .prev::before {
    transform: rotate(-45deg);
  }
  .next::after {
    transform: rotate(135deg);
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    &:only-child.next {
      margin-left: auto;
    }
    &:only-child.prev {
      margin-right: auto;
    }
    &:hover::before,
    &:hover::after {
      border-color: inherit;
    }
  }
}
