.posts-nav {
  @include baseline($pica, $line-height: 1.65, $above: 0, $below: 0, $margin: 3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  .next, .prev {
    display: flex;
    align-items: center;
  }
  .prev::before,
  .next::after {
    content: "";
    border-top: $mid-border;
    border-left: $mid-border;
    width: 1rem;
    height: 1rem;
    display: inline-flex;
  }
  .prev::before {
    transform: rotate(-45deg);
  }
  .next::after {
    transform: rotate(135deg);
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    &:only-child.next {
      margin-left: auto;
    }
    &:only-child.prev {
      margin-right: auto;
    }
    &:hover::before,
    &:hover::after {
      border-color: inherit;
    }
  }
}
