@media(min-height: 30rem) {
  .posts-nav-section {
    position: sticky;
    bottom: 0;
    background: $brand-color-2;
    margin-top: 2rem;

  }
}

.posts-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: $grid-column-gap;

  .prev::before,
  .next::after {
    content: "";
    border-top: $posts-nav-border;
    border-left: $posts-nav-border;
    width: 1.5rem;
    height: 1.5rem;
    grid-row: span 2;
    align-self: center;
  }

  .prev::before {
    transform: rotate(-45deg);
  }

  .next::after {
    transform: rotate(135deg);
  }

  a {
    display: grid;
    grid-template-columns: 1rem 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: $grid-column-gap / 2;
    text-decoration: none;
    text-transform: capitalize;
    color: inherit;

    @include baseline(
      $font-size: $pica,
      $line-height: 1.5rem,
      $above: .25,
      $below: 0.75
    );

    > span {
      grid-column: 2;

      &:first-child {
        font-weight: bold;
      }
    }

    &:hover::before,
    &:hover::after {
      border-color: inherit;
    }
  }
}
