// -----------------------------------------------------------------------------
// Type specimin
// -----------------------------------------------------------------------------



#typography-specimin {
  @include grid(-$container-gutter);
  margin-top: font-scale(2);
  margin-bottom: font-scale(2);
  padding: font-scale(2) $container-gutter;
  background: hsla(hue($brand-color-1),100,85,0.2);
    p {
      @include column(12, $gutter: $gutter-medium);
  }
}
