// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

html {
  @media(min-width: $screen-large) {
   font-size: 112.5%; // Increases body font size to 18px if it's 1rem (16px).
  }
}

body {
 font-kerning: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
}
h1 {
  @include heading-whopper();
}
h2, h2, h3, h4, h5, h6 {
  @include heading-6()
}

// Used to demonstrate the effects of applying these classes - scale and measure.
.heading-1 {
  @include heading-1();
}
.heading-2 {
  @include heading-2();
}
.heading-3 {
  @include heading-3();
}
.heading-4 {
  @include heading-4()
}
.heading-5 {
  @include heading-5();
}
.heading-6 {
  @include heading-6();
}

p {
  @include body-1();
}

.large {
  @include baseline(
    $font-size: $great-primer,
    $line-height: 1.25,
    $above: .2,
    $below: 2
  );
}

.intro {
  @media(min-width: $screen-medium) {
    @include baseline(
      $font-size: $great-primer,
      $line-height: 1.25,
      $above: .2,
      $below: 2
    );  
  }
}

.small {
  @include baseline(
    $font-size: $pica,
    $line-height: 1.25,
    $above: 0.1,
    $below: 2
  );
}

blockquote {
  @include baseline(
    $margin: .5,
    $above: 1,
    $below: 1.5
  );
  p, cite {
    @include body-1();
    font-style: oblique;
    display: inline;
  }
  p {
    &::before {
      content: "\2018";
    }
    &::after {
      content: "\2019";
    }
  }
  cite {
    &::before {
      content: "\2014"
    }
  }
}

aside .small {
  @include baseline(
    $font-size: $pica,
    $line-height: 1.25,
    $above: 0.1,
    $below: 2.5
  );
}

.tiddler {
  @include baseline(
    $font-size: $mittel,
    $line-height: 1.9,
    $above: 0.5,
    $below: 0,
    $margin: 1
  );
  @media(min-width: $screen-small) {
    @include baseline(
      $font-size: $great-primer,
      $line-height: 1.25,
      $above: .15,
      $below: .1,
      $margin: 1
    );
  }
  @media(min-width: $screen-large) {
    @include baseline(
      $font-size: $great-primer,
      $line-height: 1.25,
      $above: .15,
      $below: .1,
      $margin: 4
    );
  }
}

.whopper {
  @include baseline(
    $font-size: $great-primer,
    $line-height: 1.25,
    $above: 0.25,
    $below: 1,
    $margin: 2
  );
  @media(min-width: $screen-small) {
    @include baseline(
      $font-size: $paragon,
      $line-height: 1.23,
      $above: .6,
      $below: 1,
      $margin: 5
    );
  }
  @media(min-width: $screen-large) {
    @include baseline(
      $font-size: $double-pica,
      $line-height: 1.15,
      $above: 0,
      $below: 1,
      $margin: 10
    );
  }
  @media(min-width: $screen-larger) {
    @include baseline(
      $font-size: $two-line-pica,
      $line-height: 1.28,
      $above: .33,
      $below: 1,
      $margin: 15
    );
  }
  @media(min-width: $screen-whopper) {
    @include baseline(
      $font-size: $double-english,
      $line-height: 1.19,
      $above: 0.3,
      $below: 4,
      $margin: 15
    );
  }
}

// Reset multicolumn <p> due to wrapping
.multicolumn p {
  margin: 0;
  padding: 0;
  &:not(:first-child) {
    text-indent: 1.62rem;
  }
}

@media(min-width: $screen-large) {
  .multicolumn {
    text-align: justify;
    hyphens: auto;
  }
}

figcaption {
  @include baseline(
    $font-size: $pica,
    $above: .25,
    $below: .25,
    $margin: -1
  );
  color: $mid-gray;
  text-align: right;
}
