// -----------------------------
// VH100 layout
// -----------------------------

.vh100-layout {
  @media(min-width: $screen-medium) {
    #main-header {
      height: 100vh;
      margin-bottom: 0;
    }
  }
  .intro {
    @media(min-width: $screen-medium) {
      display: flex;
      flex-flow: row wrap;
    }
    > p:first-of-type {
      @include border-with-content('Foreword');
      @include baseline($line-height: 1.5, $above: 1.1, $below: .5, $margin: 3);
      text-transform: none;
      @media(min-width: $screen-medium) {
        align-self: flex-end;
      }
    }
  }
  time {
    z-index: 1;
    font-weight: $font-weight-border-with-content;
    @include baseline($pica, $above: .6, $below: 0, $margin: -1.9);
    position: absolute;
    @media(min-width: $screen-large) {
      @include baseline($pica, $below: 0, $above: 4, $padding-bottom: .4rem, $margin-bottom: 0);
    }
  }
  .intro h1 {
    @include col(12, $calc: false, $margin: false);
  }
  section > p,
  .intro > p {
    @media(min-width: $screen-small) {
      padding-right: $horizontal-offset;
    }
    @media(min-width: $screen-medium) {
      padding-right: $horizontal-offset-larger;
    }
  }
  .home-link p {
    padding-right: 0;
  }
}
