/* ==============================================================
   Visual demo
   ============================================================== */

.visual-grid-1 {
  @include baseline($no-text: true, $above: .35, $below: 0, $margin: 1);
  @extend .grid;
  > div {
    @extend .grid;
    @include col(12);
    @media(min-width: $screen-medium) {
      @include col(8, $grid-gutter: $horizontal-space-small, $margin-left: $horizontal-space-small, $margin-right: $horizontal-space-small);
    }
    background: $brand-color-mid;
    min-height: 100px;
    padding: 1rem 0;
    > div {
      @include col(6);
      background: $brand-color-1;
      color: $brand-color-light;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      > img {
        object-fit: cover;
        height: 100%;
      }
    }
  }
}
