// -----------------------------------------------------------------------------
// Visual demo
// -----------------------------------------------------------------------------

.visual-grid-1 {
  @include baseline(
    $no-text: true,
    $above: 0,
    $below: 0,
    $margin: 1
  );
  > div {
    @include grid($gutter-small/2);
    background: $brand-color-mid;
    min-height: 10rem;
    padding: $horizontal-space-small/2;
    > div {
      @include column(
        $columns: 6,
        $gutter: $gutter-medium
      );
      background: $brand-color-1;
      color: $brand-color-light;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      > img {
        object-fit: cover;
        height: 100%;
      }
    }
  }
}
