// Code

code, pre {
	white-space: pre;
}

pre {
	tab-size: 4;
	code {
		background: rgba($brand-color-1, 0.1);
		display: block;
		padding: 2rem;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
	&:before {
		content: attr(rel);
    background: $brand-color-3;
    display: block;
    color: $brand-color-2;
    text-transform: uppercase;
    font-family: $font-family-base;
	}
}

code {
	background: rgba($brand-color-1, 0.1);
}

// Code block font styles
.comment {
	color: #999;
}
