#main-nav {
  @media(max-width: $screen-small-max) {
    @include baseline($pica, $above: 1);
    align-self: flex-end;
    font-weight: bold;
  }
  @include baseline($pica, $above: 1.7);
  @media(min-width: $screen-large) {
    @include baseline($pica, $above: 2.15);
  }
  display: flex;
  align-items: flex-start;
  a {
    text-decoration: none;
    padding: 0 .5rem;
    border-left: 1px solid $brand-color-mid;
    &:first-child {
      border-left: none;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

.posts-nav {
  @include baseline($pica, $below: 0, $margin: 3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    text-transform: uppercase;
    text-decoration: none;
  }
  .next, .prev {
    display: flex;
    align-items: center;
  }
  .prev::before,
  .next::after {
    content: "";
    border-top: .15rem solid;
    border-left: .15rem solid;
    width: 1rem;
    height: 1rem;
    display: inline-flex;
  }
  .prev::before {
    transform: rotate(-45deg);
  }
  .next::after {
    transform: rotate(135deg);
  }
}
