#typography-specimin {
  margin: 2rem 0;
  figure {
    @extend .grid;
    figcaption {
      @include baseline($fs-english);
      padding-left: 0;
      order: 1;
      @include col(12);
      @media(min-width: $screen-large) {
        @include col(3);
      }
    }
  }
}

// Bit of code duplication here, I want the typography styles to be readable therefore
// not converting everything so it uses maps. Just a single map here for demo purposes.
$headings: (
  h1: ($fs-canon, 1, fs-canon),
  h2: ($fs-four-line-brevier, 1, fs-four-line-brevier),
  h3: ($fs-two-line-pica, 1, fs-two-line-pica),
  h4: ($fs-double-pica, 1.15, fs-double-pica),
  h5: ($fs-great-primer, 1.35, fs-great-primer),
  h6: ($fs-english, 1, fs-english)
);

#typography-specimin {
  display: flex;
  flex-flow: column;
  // Pseudo element
  @each $name, $map in $headings {
    #{$name} {
      @include baseline(nth($map,1), $line-height: nth($map,2));
      padding-right: 0;
      display: flex;
      flex-flow: row wrap;
      @include col(12);
      @media(min-width: $screen-large) {
        @include col(9);
        order: 2;
      }
      + figcaption {
        display: flex;
        @media(min-width: $screen-large) {
          flex-flow: column;
          @include baseline(nth($map,1), $line-height: nth($map,2));
        }
        &::before {
          content: "#{nth($map,1)}/#{nth($map,2)}\00a0\00a0\00a0";
        }
        &::after {
          content: "$#{nth($map,3)}";
          @media(min-width: $screen-large) {
            @include baseline($fs-english, $below: 0, $margin: .5);
          }
        }
      }
      &::before {
        content: none;
      }
    }
  }
}
