.visual-grid-1 {
  justify-content: center;
  margin-top: 3rem;
  @extend .grid;
  > div {
    @extend .grid;
    @include col(6);
    background: $brandbg-mid;
    min-height: 100px;
    padding: 1rem 0;
    > div {
      @include col(6);
      background: $brandbg;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
