:root {
  /* Font sizes */
  --font-size-1: 0.625rem; /* 10px */
  --font-size-2: 0.688rem; /* 11px */
  --font-size-3: 0.750rem; /* 12px */
  --font-size-4: 0.813rem; /* 13px */
  --font-size-5: 0.875rem; /* 14px */
  --font-size-6: 1rem; /* 16px */
  --font-size-7: 1.125rem; /* 18px */
  --font-size-8: 1.25rem; /* 20px */
  --font-size-9: 1.5rem; /* 24px */
  --font-size-10: 2rem; /* 32px */
  --font-size-11: 2.25rem; /* 36px */
  --font-size-12: 3rem;  /* 48px */
  --font-size-13: 3.75rem; /* 60px */
  --font-size-14: 5.625rem; /* 90px */


  /* Line heights */
  --line-height-1: 1rem; /* 16px */
  --line-height-2: 1rem; /* 16px */
  --line-height-3: 1rem; /* 16px */
  --line-height-4: 1.125rem; /* 18px */
  --line-height-5: 1.25rem; /* 20px */
  --line-height-6: 1.375rem; /* 22px */
  --line-height-7: 1.5rem; /* 24px */
  --line-height-8: 1.75rem; /* 28px */
  --line-height-9: 2rem; /* 32px */
  --line-height-10: 3rem; /* 48px */
  --line-height-11: 3.75rem; /* 60px */
  --line-height-12: 4.125rem; /* 66px */
  --line-height-13: 4.5rem; /* 72px */
  --line-height-14: 6.5rem; /* 104px */
}
