// Flexible Description lists
.dl-horizontal {
  @extend %flex-container;
  justify-content: flex-end;
  align-content: flex-start;
  @media(max-width: $screen-medium-max) {
    @include column(
      $columns: 12,
      $calc: false,
      $margin: false
    );
  }
  @media(min-width: $screen-medium) {
    @include column(
      $columns: 12,
      $gutter: $gutter-small,
      $margin: false,
      $calc: false
    );
  }
  @media(min-width: $screen-largest) {
    @include column(
      $columns: 8,
      $offset-left: true, $offset: 4,
      $gutter: $gutter-small
    );
  }

  dt {
    @media(min-width: $screen-medium) and (max-width: $screen-largest-max){
      text-align: right;
    }
    @include column(
      $columns: 12,
      $gutter: $gutter-small
    );
    @media(min-width: $screen-medium) {
      @include column(
        $columns: 2,
        $max-columns: 5,
        $gutter: $gutter-medium
      );
    }
    @media(min-width: $screen-large) {
      @include column(
        $columns: 1,
        $max-columns: 4,
        $gutter: $gutter-medium
      );
    }
    @media(min-width: $screen-largest) {
      @include column(
        $columns: 2,
        $max-columns: 2,
        $calc: false,
        $margin: false
      ) {margin: 0};
    }
  }

  dd {
    @include column(
      $columns: 12,
      $gutter: $gutter-small
    );
    @media(min-width: $screen-medium) {
      @include column(
        $columns: 3,
        $max-columns: 5,
        $gutter: $gutter-medium
      );
    }
    @media(min-width: $screen-large) {
      @include column(
        $columns: 3,
        $max-columns: 4,
        $gutter: $gutter-medium
      );
    }
    @media(min-width: $screen-largest) {
      @include column(
        $columns: 2,
        $max-columns: 2,
        $calc: false,
        $margin: false
      ) {margin: 0};
    }
  }

  dt, dd {
    @include baseline(
      $line-height: 2,
      $above: .5
    );
  }

  dt {
    @media(max-width: $screen-medium-max) {
      @include baseline(
        $line-height: 2,
        $above: 1.5,
        $margin: -1
      );
    }
    @media(min-width: $screen-largest) {
      @include baseline(
        $line-height: 2,
        $above: 1.5,
        $margin: -1
      );
    }
  }
}
