body {
  display: grid;
  width: 100%;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 6rem auto 1fr;
  grid-row-gap: $grid-row-gap-small;

  @media(min-width: $screen-small) {
    grid-template-rows: 6rem auto 1fr;
  }
}

.main-header {
  grid-area: header;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    margin-top: 2rem;

    @media(min-width: $screen-large) {
      grid-gap: $grid-gap-large;
    }
  }
}

.main-article {
  grid-area: main;
  height: 100%;
}

.main-footer {
  grid-area: footer;
  align-self: end;
  .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
  }
}

.footer-at-bottom {
  // Position the footer always at the bottom, regardless of how much content
  // there is.
  display: grid;
}
