body {
  display: grid;
  width: 100%;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 8rem minmax(100vh, auto) 1fr;
  grid-row-gap: $grid-row-gap-small;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  @media(min-width: $screen-smallest) {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  @media(min-width: $screen-small) {
    width: $width-small;
  }

  @media(min-width: $screen-medium) {
    width: $width-medium;
  }

  @media(min-width: $screen-large) {
    width: $width-large;
  }

  @media(min-width: $screen-larger) {
    width: $width-larger;
    margin-left: 3.57143rem;
  }
}

.main-header {
  grid-area: header;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    margin-top: 2rem;

    @media(min-width: $screen-large) {
      grid-gap: $grid-gap-large;
    }
  }
}

.main-article {
  grid-area: main;
  min-height: 100%;

  main {
    min-height: 100%;
  }
}

.main-footer {
  grid-area: footer;
  align-self: end;

  .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
  }
}

.footer-at-end {
  // Position the footer always at the bottom, regardless of how much content
  // there is.
  display: grid;
}
