// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

html {
  font-size: 75%; // Set the html font-size to 12px.
}

body {
 font-kerning: normal;
}

h1 {
  @include heading-1();

  @media(min-width: $screen-large) {
    @include heading-1-large();
  }
}

h2, h3 {
  @include heading-3();
}

h4, h5, h6 {
  @include heading-6();
}

h6 {
  //text-transform: uppercase;
}

p {
  @include body-1();

  @media(min-width: $screen-large) {
    @include body-2();
  }
}

.passage {
  orphans: 1;

    // All margin and padding is removed from passage contents, baseline is
    // therefore applied to passage for aligment
    @media(min-width: $screen-larger) {
        @include baseline(
            $no-text: true
        );
    }
}

.passage p,
.passage br,
.unit-conversion p {
  @include small-1();
  margin: 0;
  padding: 0;

  @media(min-width: $screen-larger) {
    @include body-3();
    margin: 0;
    padding: 0;
  }
}

.passage > {
  h2, h3 {
  @include heading-3();

    @media(min-width: $screen-larger) {
      @include heading-2();
    }
  }
}

.passage > :first-child {
  column-span: all;
}

.passage > h4 {
  padding-top: 0;
  margin-bottom: 0;

  @include heading-6();

  @media(min-width: $screen-larger) {
    @include heading-4();
  }
}

.passage > h6 {
  padding-top: 0;
  margin-bottom: 0;

  @include heading-8();

  @media(min-width: $screen-larger) {
    @include heading-7();
  }
}

.passage p + h4,
.passage ul + h4,
.passage blockquote + h4 {
  @media(min-width: $screen-large) {
    margin-top: 1.5rem;
  }
}

.passage h3 + h4,
.passage h4 + h6 {
  column-span: all;
}

.intro {
  @include body-2();

  @media(min-width: $screen-large) {
    @include body-3();
  }
}

.small {
  @include small-1();
}

blockquote {
  p, cite {
    font-style: oblique;
  }

  p {
    &::before {
      content: "\2018";
    }
    &::after {
      content: "\2019";
    }
  }

  cite {
    @media(min-width: $screen-larger) {
      font-size: $pica;
    }

    &::before {
      content: "\2014  "
    }
  }
}

blockquote[cite]::after {
  content: "\2014  "attr(cite);
  font-style: oblique;
  font-size: $pica;
  margin-top: .5rem;
  display: block;
  text-indent: $grid-column-gap-2;
}

h2 + blockquote {
  margin-bottom: 2rem;
}

.passage .unit-conversion {
  display: grid;
  grid-template-columns: 1fr 4rem 1fr;

  > p {
    //text-align: center;
    //margin: 0;
    padding: .98rem 0;

    &:nth-child(3n+2) {
      text-align: center;
    }

    &:nth-child(3n+1) {
      text-align: right;
    }

    &:not(:nth-child(9),:nth-child(8),:nth-child(7)) {
      border-bottom: .1rem solid $gray-4;
    }
  }
}

.passage {
  li > span {
    @include small-1();
    padding-top: 0;
    margin-bottom: 0;

    @media(min-width: $screen-larger) {
      @include body-3();
      padding-top: 0;
    }
  }

  ol, ul {
    padding: 0;
    margin: 0;
  }

  ul, ol {
      @media(min-width: $screen-larger) {
        font-size: $mittel;
        line-height: $mittel;
      }
  }

  ul ul {
    // Indent the second level of each <ul>
    padding-left: $augustin;
  }
}

body {
  counter-reset: figure;
}

figcaption {
  @include small-2();
  &::before {
    counter-increment: figure;
    content: "Figure " counter(figure)" — ";
  }
}
