// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

html {
  font-size: 87.5%; // Set the html font-size to 14px.
  // @media(min-width: $screen-large) {
  //  font-size: 112.5%; // Sets html font size to 18px.
  // }
}

body {
 font-kerning: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
}

h1 {
  @include heading-1();
  @media(min-width: $screen-large) {
    @include heading-1-large();
  }
}

h2, h3 {
  @include heading-3();
}

h4, h5, h6 {
  @include heading-6();
}

// Used to demonstrate the effects of applying these classes - scale and measure.
.heading-1 {
  @include heading-1();
}
.heading-2 {
  @include heading-2();
}
.heading-3 {
  @include heading-3();
}
.heading-4 {
  @include heading-4()
}
.heading-5 {
  @include heading-5();
}
.heading-6 {
  @include heading-6();
}

p {
  @include body-1();

  @media(min-width: $screen-large) {
    @include body-1-large();
  }
}

.passage > p {
  padding-top: 0;
  margin-bottom: 1rem;
  @media(max-width: $screen-large-max) {
    @include small();
  }
}

.passage > h4 {
  padding-top: 0;
  margin-bottom: 1rem;
  @media(max-width: $screen-large-max) {
    @include small();
  }
}

.intro {
  @include intro();

  @media(min-width: $screen-large) {
    @include intro-large();
  }
}

.small {
  @include small();
}

blockquote {
  @include baseline(
    $margin: .5,
    $above: 1,
    $below: 1.5
  );

  p, cite {
    @include body-1();
    font-style: oblique;
    display: inline;
  }

  p {
    &::before {
      content: "\2018";
    }
    &::after {
      content: "\2019";
    }
  }

  cite {
    &::before {
      content: "\2014"
    }
  }
}

.main-header nav a {
  @include body-1();

  @media(min-width: $screen-large) {
    @include body-1-large();
  }

  // Cascade over the previous ruleset's line-height
  @media(min-width: $screen-small) {
    line-height: 3rem;
  }
}

.image-link span {
  @include image-link-heading();

  color: $brand-color-4;
  counter-increment: default-counter;

  @media(max-width: $screen-smaller-max) {
    margin-top: 0;
  }

  &::before {
    content: counter(default-counter)" ";
    border-bottom: .14rem solid $brand-color-1;
    text-align: center;
    width: auto;
    margin-right: .5rem;
    padding-bottom: .25rem;
  }
}
