// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------
// Be warned, using flex removes collapsing margins therefore comparing 2 lots
// of text, 1 with and 1 without flex will drive you insane.
//

html {
  // font-size: 75%; // Set the html font-size to 12px.
  font-size: 87.5%; // Set the html font-size to 14px.
  // @media(min-width: 1366px) {
  //  font-size: 112.5%; // Sets html font size to 18px.
  // }
}

body {
 font-kerning: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
}
h1 {
  @include heading-1();
  @media(min-width: $screen-large) {
    @include heading-1-large();
  }
}
h2, h3, h4, h5, h6 {
  @include heading-6()
}

// Used to demonstrate the effects of applying these classes - scale and measure.
.heading-1 {
  @include heading-1();
}
.heading-2 {
  @include heading-2();
}
.heading-3 {
  @include heading-3();
}
.heading-4 {
  @include heading-4()
}
.heading-5 {
  @include heading-5();
}
.heading-6 {
  @include heading-6();
}

p {
  @include body-1();
  @media(min-width: $screen-large) {
    @include body-1-large();
  }
}

.intro {
  @include intro();
  @media(min-width: $screen-large) {
    @include intro-large();
  }
}

.small {
  @include small();
}

blockquote {
  @include baseline(
    $margin: .5,
    $above: 1,
    $below: 1.5
  );
  p, cite {
    @include body-1();
    font-style: oblique;
    display: inline;
  }
  p {
    &::before {
      content: "\2018";
    }
    &::after {
      content: "\2019";
    }
  }
  cite {
    &::before {
      content: "\2014"
    }
  }
}

aside .small {
  @include baseline(
    $font-size: $pica,
    $line-height: 1.25,
    $above: 0.1,
    $below: 2.5
  );
}

// Reset multicolumn <p> due to wrapping
.multicolumn p {
  margin: 0;
  padding: 0;
  &:not(:first-child) {
    text-indent: 1.62rem;
  }
}

@media(min-width: $screen-large) {
  .multicolumn {
    text-align: justify;
    hyphens: auto;
  }
}

figcaption {
  @include baseline(
    $font-size: $pica,
    $above: .25,
    $below: .25,
    $margin: -1
  );
  color: $mid-gray;
  text-align: right;
}

.main-header nav a {
  @include body-1();
  @media(min-width: $screen-large) {
    @include body-1-large();
  }
}
