// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------


//** Colours
//
// Brand colours (base colours)
$brand-color-1: #FF7070 !default;
$brand-color-2: #FFF !default;
$brand-color-3: #555 !default;
$brand-color-4: #000 !default;

// Colour variants
$nobg: transparent !default;
$brand-color-lightest: hsla(hue($brand-color-2),100,100,0.75) !default;
$brand-color-light: lighten($brand-color-1, 25) !default;
$brand-color-mid: hsla(hue($brand-color-1),100,85,0.2) !default;
$darkbg: $brand-color-3 !default;

// Grayscale
$base-gray: #000 !default;
$dark-gray: lighten($base-gray, 10%) !default;
$mid-gray: lighten($base-gray, 60%) !default;
$light-gray: lighten($base-gray, 90%) !default;

// Font colours
$font-color-1: $brand-color-1 !default;
$font-color-2: $brand-color-2 !default;
$font-color-3: $brand-color-3 !default;
$font-color-4: $brand-color-4 !default;

// Link colours
$link-color: $font-color-1 !default;

//** Borders
$light-border: 1px solid $brand-color-3 !default;
$mid-border: .15rem solid $brand-color-1 !default;

$posts-nav-border: $mid-border;

//** Footer
$footer-border-width: 1px !default;

//** Grid
$grid-color: $brand-color-1 !default;
$grid-bg: transparent !default;
$grid-bg-size: 100vw .5rem !default;

//** Fonts
//
// Default font units, required for functions amongst other things.
$font-base: 1rem !default;
$serif-cap-height: 0.66 !default

// Modular Scales - use map-get() to split modular scales up.
$golden-section: map-get($modular-scale, golden-section);
$fifth: map-get($modular-scale, fifth);
$major-third: map-get($modular-scale, major-third);
$minor-second: map-get($modular-scale, minor-second);

$golden-section-and-minor-second: map-get($modular-scales, golden-section-and-minor-second);

// Create individual font name variables from the modular scales
  $five-line-pica: map-get($golden-section-and-minor-second, five-line-pica);
  $canon: map-get($golden-section-and-minor-second, canon);
  $two-line-great-primer: map-get($golden-section-and-minor-second, two-line-great-primer);
  $double-great-primer: map-get($golden-section-and-minor-second, double-great-primer);
  $four-line-brevier: map-get($golden-section-and-minor-second, four-line-brevier);
  $two-line-english: map-get($golden-section-and-minor-second, two-line-english);
  $double-english: map-get($golden-section-and-minor-second, double-english);
  $two-line-pica: map-get($golden-section-and-minor-second, two-line-pica);
  $double-pica: map-get($golden-section-and-minor-second, double-pica);
  $paragon: map-get($golden-section-and-minor-second, paragon);
  $great-primer: map-get($golden-section-and-minor-second, great-primer);
  $augustin: map-get($golden-section-and-minor-second, augustin);
  $mittel: map-get($golden-section-and-minor-second, mittel);
  $english: map-get($golden-section-and-minor-second, english);
  $pica: map-get($golden-section-and-minor-second, pica);
  $philosophy: map-get($golden-section-and-minor-second, philosophy);

// html font size at 112.5%
$fibonacci-large: map-get($modular-scales, fibonacci-large);

  $double-english: map-get($fibonacci-large, double-english);
  $paragon: map-get($fibonacci-large, paragon);

// html font-size at 87.5%
$fibonacci-small: map-get($modular-scales, fibonacci-small);

  $double-english-small: map-get($fibonacci-small, double-english);
  $two-line-pica-small: map-get($fibonacci-small, two-line-pica);
  $double-pica-small: map-get($fibonacci-small, double-pica);
  $paragon-small: map-get($fibonacci-small, paragon);
  $great-primer-small: map-get($fibonacci-small, great-primer);
  $augustin-small: map-get($fibonacci-small, augustin);
  $mittel-small: map-get($fibonacci-small, mittel);
  $english-small: map-get($fibonacci-small, english);
  $pica-small: map-get($fibonacci-small, pica);
  $philosophy-small: map-get($fibonacci-small, philosophy);

// Measuring sticks - visual demonstration of modular scale units.
$measuring-stick-width: font-scale(1.5);
$measuring-stick-after-width: 2px;

//** Spacing
//
// Default spacing units
$grid-gutter: font-scale(2.5);
$header-margin: font-scale(2.5);

$column-gap: $grid-gutter/4;

$screen-whopper: 2000px !default;
$wrapper-width-large: $screen-whopper;

$grid-overlay-width: $wrapper-width-large;

$grid-bg-size: 100vw font-scale(1);

$container-gutter: font-scale(6);

$horizontal-space: $grid-gutter;
