body {
  font-family: $fs5;
  // Can make use of the colour arrangement by overlaying white and funky salmon CSS diagrams on top.
  background: $brandbg-light;
}

.home-link {
  text-decoration: none;
  p {
    @include baseline($fs-two-line-pica);
    margin-bottom: 0;
    padding: 0;
  }
}

.vh100-layout .intro  > p:first-of-type {
  @include border-with-content('introduction');
  //@include baseline($font-base, $line-height: 1.5, $above: .6, $below: 1);
  //@include baseline($fs-great-primer, $line-height: 1.35, $above: 1, $below: 1.5);
  @include baseline($fs-double-pica, $line-height: 1.15, $above: 1.1, $below: 2)
}


p {
 padding-right: $horizontal-offset;
}

[class*=cols-] p {
  padding-right: 0;
}
