body {
  font-family: $fs5;
  // Can make use of the colour arrangement by overlaying white and funky salmon CSS diagrams on top.
  background: $brandbg-light;
}

.home-link {
  text-decoration: none;
}
