body {
  font-family: $font-family-base;
  // Can make use of the colour arrangement by overlaying white and funky salmon CSS diagrams on top.
  background: $brandbg-light;
}

.vh100-layout {
  .intro > p:first-of-type {
   @include border-with-content('Foreword');
   @include baseline($line-height: 1.5, $above: 1.1, $below: .5, $margin: 3);
 }
  time {
    font-weight: $font-weight-border-with-content;
    @include baseline($fs-pica, $above: .6, $below: 0, $margin: -1.9);
    position: absolute;
    @media(min-width: $screen-large) {
      @include baseline($fs-pica, $below: 0, $above: 4, $padding-bottom: .4rem, $margin-bottom: 0);
    }
  }
  .intro h1 {
    width: cw(12);
  }
  p {
    padding-right: $horizontal-offset;
    @media(min-width: $screen-medium) {
      padding-right: $horizontal-offset-larger;
    }
  }
  .home-link p {
    padding-right: 0;
  }
}

.home-link {
  text-decoration: none;
  margin-top: .4rem;
  @media(min-width: $screen-large) {
    margin-top: .9rem;
    margin-bottom: .1rem;
  }
  p {
    @include baseline($fs-two-line-pica, $above: 0, $below: 0, $line-height: 1, $margin: -1);
  }
}
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5 {
  padding-right: $horizontal-offset;
  @media(min-width: $screen-medium) {
    padding-right: $horizontal-offset-larger;
  }
}

.grid {
  h2, h3, h4, h5, h6, p {
    padding-right: 0;
  }
}

.link-group {
  display: flex;
  flex-flow: column;
}
