<svg width="1172px" height="720px">
<g id="Largest">
	<g id="Placeholders">
		<g>
			<rect x="599.5" y="331.5" fill="#FFFFFF" width="548" height="213.6"/>
			<g>
				<path fill="#CCCCCC" d="M1145,334v208.6H602V334H1145 M1150,329H597v218.6h553V329L1150,329z"/>
			</g>
		</g>
		<g>
			<rect x="597" y="560.1" fill="#CCCCCC" width="243.2" height="6"/>
			<rect x="597" y="575.5" fill="#CCCCCC" width="265.5" height="6"/>
			<rect x="597" y="591" fill="#CCCCCC" width="243.2" height="6"/>
		</g>
		<g>
			<rect x="309.6" y="328.4" fill="#CCCCCC" width="265.5" height="6"/>
			<rect x="309.6" y="343.8" fill="#CCCCCC" width="243.2" height="6"/>
			<rect x="309.6" y="359.3" fill="#CCCCCC" width="265.5" height="6"/>
			<rect x="309.6" y="374.7" fill="#CCCCCC" width="243.2" height="6"/>
			<rect x="309.6" y="390.2" fill="#CCCCCC" width="265.5" height="6"/>
			<rect x="309.6" y="405.6" fill="#CCCCCC" width="243.2" height="6"/>
		</g>
		<g>
			<rect x="309.6" y="421" fill="#CCCCCC" width="265.5" height="6"/>
			<rect x="309.6" y="436.5" fill="#CCCCCC" width="243.2" height="6"/>
			<rect x="309.6" y="451.9" fill="#CCCCCC" width="265.5" height="6"/>
			<rect x="309.6" y="467.4" fill="#CCCCCC" width="243.2" height="6"/>
			<rect x="309.6" y="482.8" fill="#CCCCCC" width="265.5" height="6"/>
			<rect x="309.6" y="498.3" fill="#CCCCCC" width="243.2" height="6"/>
		</g>
		<g>
			<rect x="309.6" y="513.7" fill="#CCCCCC" width="265.5" height="6"/>
			<rect x="309.6" y="529.2" fill="#CCCCCC" width="243.2" height="6"/>
			<rect x="309.6" y="544.6" fill="#CCCCCC" width="265.5" height="6"/>
			<rect x="309.6" y="560.1" fill="#CCCCCC" width="243.2" height="6"/>
			<rect x="309.6" y="575.5" fill="#CCCCCC" width="265.5" height="6"/>
			<rect x="309.6" y="591" fill="#CCCCCC" width="243.2" height="6"/>
		</g>
		<g>
			<rect x="22" y="328.4" fill="#CCCCCC" width="265.5" height="6"/>
			<rect x="22" y="343.8" fill="#CCCCCC" width="243.2" height="6"/>
			<rect x="22" y="359.3" fill="#CCCCCC" width="265.5" height="6"/>
			<rect x="22" y="374.7" fill="#CCCCCC" width="243.2" height="6"/>
			<rect x="22" y="390.2" fill="#CCCCCC" width="265.5" height="6"/>
			<rect x="22" y="405.6" fill="#CCCCCC" width="243.2" height="6"/>
		</g>
		<g>
			<rect x="22" y="513.7" fill="#CCCCCC" width="265.5" height="6"/>
			<rect x="22" y="529.2" fill="#CCCCCC" width="243.2" height="6"/>
			<rect x="22" y="544.6" fill="#CCCCCC" width="265.5" height="6"/>
			<rect x="22" y="560.1" fill="#CCCCCC" width="243.2" height="6"/>
			<rect x="22" y="575.5" fill="#CCCCCC" width="265.5" height="6"/>
			<rect x="22" y="591" fill="#CCCCCC" width="243.2" height="6"/>
		</g>
		<g>
			<rect x="312" y="138.4" fill="#E6E6E6" width="835.5" height="31.1"/>
			<g>
				<path fill="#CCCCCC" d="M1145,140.9V167H314.5v-26.1H1145 M1150,135.9H309.5V172H1150V135.9L1150,135.9z"/>
			</g>
		</g>
		<g>
			<rect x="24.6" y="40.5" fill="#E6E6E6" width="260.4" height="16.1"/>
			<path fill="#CCCCCC" d="M282.5,43v11.1H27.1V43H282.5 M287.5,38H22.1v21.1h265.4V38L287.5,38z"/>
		</g>
		<g>
			<rect x="24.6" y="77.5" fill="#E6E6E6" width="199.6" height="16.1"/>
			<path fill="#CCCCCC" d="M221.6,80v11.1H27.1V80H221.6 M226.6,75H22.1v21.1h204.6V75H226.6z"/>
		</g>
		<g>
			<rect x="312" y="198.2" fill="#E6E6E6" width="747.5" height="31.1"/>
			<g>
				<path fill="#CCCCCC" d="M1057,200.7v26.1H314.5v-26.1H1057 M1062,195.7H309.5v36.1H1062V195.7L1062,195.7z"/>
			</g>
		</g>
		<g>
			<rect x="24.5" y="408.5" fill="#FFFFFF" width="260.5" height="108.7"/>
			<g>
				<path fill="#CCCCCC" d="M282.5,411v103.7H27V411H282.5 M287.5,406H22v113.7h265.5V406L287.5,406z"/>
			</g>
		</g>
	</g>
	<g id="Guides">
		<rect x="22" y="-11" fill="none" stroke="#FF7070" width="121.8" height="742"/>
		<rect x="165.8" y="-11" fill="none" stroke="#FF7070" width="121.8" height="742"/>
		<rect x="309.5" y="-11" fill="none" stroke="#FF7070" width="121.8" height="742"/>
		<rect x="453.2" y="-11" fill="none" stroke="#FF7070" width="121.8" height="742"/>
		<rect x="597" y="-11" fill="none" stroke="#FF7070" width="121.8" height="742"/>
		<rect x="740.8" y="-11" fill="none" stroke="#FF7070" width="121.8" height="742"/>
		<rect x="884.5" y="-11" fill="none" stroke="#FF7070" width="121.8" height="742"/>
		<rect x="1028.2" y="-11" fill="none" stroke="#FF7070" width="121.8" height="742"/>
	</g>
</g>
</svg>
