<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 16.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="576px"
	 height="720px" viewBox="0 0 576 720" enable-background="new 0 0 576 720" xml:space="preserve">
<g id="Small_2">
	<g id="Placeholders_2_">
		<g>
			<rect x="24.6" y="85.4" fill="#E6E6E6" width="527.5" height="15"/>
			<g>
				<path fill="#CCCCCC" d="M549.6,87.9v10H27.1v-10H549.6 M554.6,82.9H22.1v20h532.5V82.9L554.6,82.9z"/>
			</g>
		</g>
		<g>
			<rect x="24.6" y="30.5" fill="#E6E6E6" width="250.4" height="5.6"/>
			<path fill="#CCCCCC" d="M272.5,33v0.6H27.1V33H272.5 M277.5,28H22.1v10.6h255.4V28L277.5,28z"/>
		</g>
		<g>
			<rect x="24.6" y="118.5" fill="#E6E6E6" width="455.9" height="15"/>
			<g>
				<path fill="#CCCCCC" d="M478,121v10H27.1v-10H478 M483,116H22.1v20H483V116L483,116z"/>
			</g>
		</g>
		<g>
			<rect x="25" y="178.2" fill="#FFFFFF" width="526.2" height="268.3"/>
			<g>
				<path fill="#CCCCCC" d="M548.7,180.7V444H27.5V180.7H548.7 M553.7,175.7H22.5V449h531.2V175.7L553.7,175.7z"/>
			</g>
		</g>
		<g>
			<g>
				<rect x="22" y="572.2" fill="#CCCCCC" width="230.9" height="6"/>
				<rect x="22" y="587.6" fill="#CCCCCC" width="254" height="6"/>
				<rect x="22" y="618.2" fill="#CCCCCC" width="254" height="6"/>
				<rect x="22" y="603.1" fill="#CCCCCC" width="230.9" height="6"/>
			</g>
		</g>
		<g>
			<rect x="301.5" y="578.5" fill="#FFFFFF" width="249.5" height="108.7"/>
			<g>
				<path fill="#CCCCCC" d="M548.5,581v103.7H304V581H548.5 M553.5,576H299v113.7h254.5V576L553.5,576z"/>
			</g>
		</g>
		<g>
			<g>
				<rect x="22" y="633.5" fill="#CCCCCC" width="230.8" height="6"/>
				<rect x="22" y="649" fill="#CCCCCC" width="254" height="6"/>
				<rect x="22" y="679.6" fill="#CCCCCC" width="254" height="6"/>
				<rect x="22" y="664.4" fill="#CCCCCC" width="230.8" height="6"/>
			</g>
		</g>
		<g>
			<g>
				<rect x="22" y="463" fill="#CCCCCC" width="234.8" height="3.5"/>
				<rect x="22" y="472.1" fill="#CCCCCC" width="256.2" height="3.5"/>
				<rect x="22" y="481.2" fill="#CCCCCC" width="234.8" height="3.5"/>
			</g>
			<g>
				<rect x="22" y="490.2" fill="#CCCCCC" width="234.8" height="3.5"/>
				<rect x="22" y="499.3" fill="#CCCCCC" width="256.2" height="3.5"/>
				<rect x="22" y="508.4" fill="#CCCCCC" width="234.8" height="3.5"/>
			</g>
		</g>
	</g>
	<g id="Guides_2_">
		<rect x="22" y="-11" fill="none" stroke="#FF7070" width="116.5" height="742"/>
		<rect x="160.5" y="-11" fill="none" stroke="#FF7070" width="116.5" height="742"/>
		<rect x="299" y="-11" fill="none" stroke="#FF7070" width="116.5" height="742"/>
		<rect x="437.5" y="-11" fill="none" stroke="#FF7070" width="116.5" height="742"/>
	</g>
</g>
<g id="Small_1">
	<g id="Placeholders_1_">
	</g>
	<g id="Guides_1_">
	</g>
</g>
<g id="Largest">
	<g id="Placeholders">
	</g>
	<g id="Guides">
	</g>
</g>
<g id="Extras" display="none">
</g>
</svg>
