<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 16.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="576px" height="720px" viewBox="0 0 576 720" enable-background="new 0 0 576 720" xml:space="preserve">
<g id="Small_2">
	<g id="Placeholders_2_">
	</g>
	<g id="Guides_2_">
	</g>
</g>
<g id="Small_1">
	<g id="Placeholders_1_">
		<g>
			<rect x="298.5" y="513" fill="#CCCCCC" width="254.3" height="6"/>
			<rect x="298.5" y="528.4" fill="#CCCCCC" width="233" height="6"/>
			<rect x="298.5" y="543.9" fill="#CCCCCC" width="254.3" height="6"/>
			<rect x="298.5" y="559.3" fill="#CCCCCC" width="233" height="6"/>
			<rect x="298.5" y="574.8" fill="#CCCCCC" width="254.3" height="6"/>
			<rect x="298.5" y="590.2" fill="#CCCCCC" width="233" height="6"/>
		</g>
		<g>
			<rect x="298.5" y="605.6" fill="#CCCCCC" width="254.3" height="6"/>
			<rect x="298.5" y="621.1" fill="#CCCCCC" width="233" height="6"/>
			<rect x="298.5" y="636.5" fill="#CCCCCC" width="254.3" height="6"/>
			<rect x="298.5" y="652" fill="#CCCCCC" width="233" height="6"/>
			<rect x="298.5" y="667.4" fill="#CCCCCC" width="254.3" height="6"/>
			<rect x="298.5" y="682.9" fill="#CCCCCC" width="233" height="6"/>
		</g>
		<g>
			<rect x="22" y="513" fill="#CCCCCC" width="254.5" height="6"/>
			<rect x="22" y="528.4" fill="#CCCCCC" width="233.2" height="6"/>
			<rect x="22" y="543.9" fill="#CCCCCC" width="254.5" height="6"/>
			<rect x="22" y="559.3" fill="#CCCCCC" width="233.2" height="6"/>
			<rect x="22" y="574.8" fill="#CCCCCC" width="254.5" height="6"/>
			<rect x="22" y="590.2" fill="#CCCCCC" width="233.2" height="6"/>
		</g>
		<g>
			<rect x="25" y="266.1" fill="#FFFFFF" width="318.8" height="197.9"/>
			<g>
				<path fill="#CCCCCC" d="M341.2,268.6v192.9H27.5V268.6H341.2 M346.2,263.6H22.5v202.9h323.8L346.2,263.6L346.2,263.6z"/>
			</g>
		</g>
		<g>
			<g>
				<rect x="368.2" y="263.6" fill="#CCCCCC" width="169.7" height="3.5"/>
				<rect x="368.2" y="272.7" fill="#CCCCCC" width="185.2" height="3.5"/>
				<rect x="368.2" y="281.9" fill="#CCCCCC" width="169.7" height="3.5"/>
			</g>
			<g>
				<rect x="368.2" y="290.8" fill="#CCCCCC" width="169.7" height="3.5"/>
				<rect x="368.2" y="299.9" fill="#CCCCCC" width="185.2" height="3.5"/>
				<rect x="368.2" y="309" fill="#CCCCCC" width="169.7" height="3.5"/>
			</g>
		</g>
		<g>
			<rect x="24.6" y="138.4" fill="#E6E6E6" width="527.5" height="31.1"/>
			<g>
				<path fill="#CCCCCC" d="M549.6,140.9V167H27.1v-26.1H549.6 M554.6,135.9H22.1V172h532.5V135.9L554.6,135.9z"/>
			</g>
		</g>
		<g>
			<rect x="24.6" y="30.5" fill="#E6E6E6" width="180.2" height="16.1"/>
			<path fill="#CCCCCC" d="M202.2,33v11.1H27.1V33H202.2 M207.2,28H22.1v21.1h185.2L207.2,28L207.2,28z"/>
		</g>
		<g>
			<rect x="24.6" y="198.2" fill="#E6E6E6" width="455.9" height="31.1"/>
			<g>
				<path fill="#CCCCCC" d="M478,200.7v26.1H27.1v-26.1H478 M483,195.7H22.1v36.1H483V195.7L483,195.7z"/>
			</g>
		</g>
		<g>
			<rect x="24.5" y="578.5" fill="#FFFFFF" width="249.5" height="108.7"/>
			<g>
				<path fill="#CCCCCC" d="M271.5,581v103.7H27V581H271.5 M276.5,576H22v113.7h254.5V576L276.5,576z"/>
			</g>
		</g>
	</g>
	<g id="Guides_1_">
		<rect x="22" y="-11" fill="none" stroke="#FF7070" width="47.2" height="741.3"/>
		<rect x="91.2" y="-11" fill="none" stroke="#FF7070" width="47.2" height="741.3"/>
		<rect x="160.5" y="-11" fill="none" stroke="#FF7070" width="47.2" height="741.3"/>
		<rect x="229.8" y="-11" fill="none" stroke="#FF7070" width="47.2" height="741.3"/>
		<rect x="299" y="-11" fill="none" stroke="#FF7070" width="47.2" height="741.3"/>
		<rect x="368.2" y="-11" fill="none" stroke="#FF7070" width="47.2" height="741.3"/>
		<rect x="437.5" y="-11" fill="none" stroke="#FF7070" width="47.2" height="741.3"/>
		<rect x="506.8" y="-11" fill="none" stroke="#FF7070" width="47.2" height="741.3"/>
	</g>
</g>
<g id="Largest">
	<g id="Placeholders">
	</g>
	<g id="Guides">
	</g>
</g>
<g id="Extras" display="none">
</g>
</svg>
