.code-sample__modal {
  align-items: start;
  position: absolute;
  background: hsla(33.8, 85.2%, 55.1%, 0.89);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.code-sample__modal-button-open {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.code-sample__modal-button-close {
  position: absolute;
  z-index: 1;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
}

/* Should flex to screen width. */
.code-sample__modal-inner {
  grid-column: container-grid;
  margin-left: calc(0px - var(--modal-border-width));
  margin-right: calc(0px - var(--modal-border-width));
  position: relative;
  top: var(--code-sample-modal-offset, 0);
  max-width: 100%;

  @media (--iPadPro) {
    grid-column: 5 / span 7;
  }
}

.code-sample__modal-body {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: var(--white);
  box-shadow: .25rem 0.35rem hsla(0, 0%, 0.8%, 0.24);
  border: var(--modal-border-width) solid var(--black);
}

.code-sample__modal-body .code-sample {
  margin: var(--placeholder-padding);
}

