{% extends "../templates/doc-template.njk" %}

{% block main %}
  <section class="grid {{ main_classes }}">
    <div class="js-type-body type-body">
      <p>
      The web is constantly evolving, any list I create could eventually change
      and that may mean going back to the drawing board at a later date.
      What's worth noting is that my analysis of data—from the account of a large e-tailer—covered a period of 1 year &amp;
      1,000,000 users, during that period the most popular sizes did not change.
      </p>
      <p>The experience could be specifically tailored towards existing customers, 
      as opposed to users that probably won’t shop with us. 
    </div>
  </section>
{% endblock %}

{% block image_nav %}
  {% include "../partials/components/scroller-nav.njk" %}
{% endblock %}
