{% extends "../templates/doc-template.njk" %}

{% block main %}
  <section class="grid {{ main_classes }}">
    <p class="js-type-body type-body">Column width not only creates a definite structure for laying out documents, it aids legibility. 
    The well-known rule of 7-10 words per line can be used as a metric for deciding upon a suitable line-length for layout, after all, it aims to rid the fatigue reading long copy creates over time. 
    The combination of using non-fluid screen sizes, with columns based on line-length will also add a tremendous level of certainty.
  </section>

  {% set figureWrapperContent %}
    <figure class="figure figure_with-caption figure_without-counter figure_3-up-wide">
      <div class="placeholder-image placeholder-image_column-width">
        <img src="/images/Interior-graphics_Type-system-XR-small.svg" />
      </div>
      <figcaption class="figcaption type-small">
      Here we can see how well 12pt will read based on the line-length. It's not ideal for long copy due to it's size, 
      however I can use it for captions.
      </figcaption>
    </figure>
    <figure class="figure figure_with-caption figure_without-counter figure_3-up-wide">
      <div class="placeholder-image placeholder-image_column-width">
        <img src="/images/Interior-graphics_Type-system-XR-medium.svg" />
      </div>
      <figcaption class="figcaption type-small">
      Body copy is set to 16pt/24pt, the ideal line-length appears in the 3rd row. 
      This gives an overall idea of the kind of grid I want, and the font-sizes I can accommodate.
      </figcaption>
    </figure>
    <figure class="figure figure_with-caption figure_without-counter figure_3-up-wide">
      <div class="placeholder-image placeholder-image_column-width">
        <img src="/images/Interior-graphics_Type-system-XR-large.svg" />
      </div>
      <figcaption class="figcaption type-small">
      In this example the space between each line becomes noticably smaller, this is due to line-height and font-size increasing.</figcaption>
    </figure>
  {% endset %}
  {{ fw.figureWrapper(figureWrapperContent, innerClasses="figure-wrapper__inner_3-up-wide") }}

  <section class="grid {{ main_classes }}">
    <p class="js-type-body type-body">
      Selecting a column width that makes text pleasant to read is one of the most important typographic problems; 
      almost circular in nature, due to all of its factors (font-size, line-height &amp; column-width) needing consideration even though they may not appear in order.
     <br>Without going into great detail, the 7-10 words per line rule exists to prevent the reader’s eye from becoming tired.
     It is difficult to follow a long line of text, to its end, and then search for the start of the next line when you go past 10 words. 
     Equally frustrating can be the <a href="/pages/line-height.html">line-height</a>, too high and there is a very similar problem.</p>
  </section>

{% endblock %}


{% block image_nav %}
  {% include "../partials/components/scroller-nav.njk" %}
{% endblock %}
