{% extends "../templates/doc-template.njk" %}

{% block main %}
  <section class="grid {{ main_classes }}">
    <p class="type-body">The same level of detail applied to column width, to achieve desired line-length, should also be applied to line-height. If lines are too generously spaced apart, the same distraction occurs that you would get by not choosing suitable column width.</p>
  </section>

  {% set figureWrapperContent %}
    <figure class="figure figure_double figure_type">
      <div class="placeholder-image">
        <p class="placeholder-image__typeset">Deutsches Ipsum Dolor quo lucilius Apfelstrudel at, adhuc laboramus sadipscing per danke in mei ullum gloriatur. Id Mercedes Benz recteque accommodare sed. Id nec Zauberer argumentum, te melius erroribus vix. Volkswagen ut amet causae iriure, prodesset Bildung mea ut. Dicunt virtute suscipit Handschuh no. At nemore scaevola eum. Michael Schuhmacher regione malorum efficiendi ius. Deutsches Ipsum Dolor quo lucilius Apfelstrudel at, adhuc laboramus sadipscing per danke in mei ullum gloriatur. Id Mercedes Benz recteque accommodare sed.</p>
      </div>
      <div class="placeholder-image">
        <p class="placeholder-image__typeset placeholder-image__typeset_2">Deutsches Ipsum Dolor quo lucilius Apfelstrudel at, adhuc laboramus sadipscing per danke in mei ullum gloriatur. Id Mercedes Benz recteque accommodare sed. Id nec Zauberer argumentum, te melius erroribus vix. Volkswagen ut amet causae iriure, prodesset Bildung mea ut. Dicunt virtute suscipit Handschuh no. At nemore scaevola eum. Michael Schuhmacher regione malorum efficiendi ius. Deutsches Ipsum Dolor quo lucilius Apfelstrudel at, adhuc laboramus sadipscing per danke in mei ullum gloriatur. Id Mercedes Benz recteque accommodare sed.</p>
      </div>
      <figcaption class="figcaption type-small">Lines with 16-pt Helvetica Nueue, 24-pt and 36-pt line-height.</figcaption>
    </figure>

    <figure class="figure figure_double figure_type">
      <div class="placeholder-image">
        <p class="placeholder-image__typeset placeholder-image__typeset_3">Deutsches Ipsum Dolor quo lucilius Apfelstrudel at, adhuc laboramus sadipscing per danke in mei ullum gloriatur. Id Mercedes Benz recteque accommodare sed. Id nec Zauberer argumentum, te melius erroribus vix. Volkswagen ut amet causae iriure, prodesset Bildung mea ut. Dicunt virtute suscipit Handschuh no. At nemore scaevola eum. Michael Schuhmacher regione malorum efficiendi ius. Deutsches Ipsum Dolor quo lucilius Apfelstrudel at, adhuc laboramus sadipscing per danke in mei ullum gloriatur. Id Mercedes Benz recteque accommodare sed.</p>
      </div>
      <div class="placeholder-image">
        <p class="placeholder-image__typeset placeholder-image__typeset_4">Deutsches Ipsum Dolor quo lucilius Apfelstrudel at, adhuc laboramus sadipscing per danke in mei ullum gloriatur. Id Mercedes Benz recteque accommodare sed. Id nec Zauberer argumentum, te melius erroribus vix. Volkswagen ut amet causae iriure, prodesset Bildung mea ut. Dicunt virtute suscipit Handschuh no. At nemore scaevola eum. Michael Schuhmacher regione malorum efficiendi ius. Deutsches Ipsum Dolor quo lucilius Apfelstrudel at, adhuc laboramus sadipscing per danke in mei ullum gloriatur. Id Mercedes Benz recteque accommodare sed.</p>
      </div>
      <figcaption class="figcaption type-small">Lines with 22-pt Helvetica Nueue, 32-pt and 64-pt line-height.</figcaption>
    </figure>
  {% endset %}

  {{ fw.figureWrapper(figureWrapperContent) }}

  {% include "../partials/components/scroller-nav.njk" %}
{% endblock %}