{% extends "../templates/doc-template.njk" %}

{% block header_scripts %}
  {{ super() }}
  <script src="/blocks/code-sample/__modal/code-sample__modal.js" type="module"></script>
{% endblock %}

{% block main %}
  <section class="grid {{ main_classes }}">
    <div class="js-type-body type-body">
      <p>To decide upon a suitable range of media to design for, via Google Analytics, 
      I discovered the following sizes to be the most popular:</p>
      <ol class="list-number">
        <li>320x568</li>
        <li>360x640</li>
        <li>375x667</li>
        <li>414x736</li>
        <li>768x1024</li>
        <li>1366x768</li>
      </ol>
    <p>Some dimensions are considered <em>standard</em>, 
    such as an iPad (768x1024), or a standard Android device (360x640).</p>
    <p>With the dimensions I then created what I refer to as the <em>Container Grid</em>.</p>
</div>
  </section>

  {% set figureWrapperContent %}
    <figure class="figure figure_with-caption figure_without-counter figure_3-up-wide">
      <div class="placeholder-image placeholder-image_column-width stage">
        <div class="artboard"></div>
        <div class="container-grid-overlay"></div>
      </div>
      <figcaption class="figcaption type-small">
      Body copy is set to 16pt/24pt, the ideal line-length appears in the 3rd row. 
      This gives an overall idea of the kind of grid I want, and the font-sizes I can accommodate.
      </figcaption>
    </figure>
    <figure class="figure figure_with-caption figure_code-sample">
      <div class="js-placeholder-image placeholder-image placeholder-image_code-sample">
        {% include "../partials/code-samples/container-width.njk" %}
      </div>
      <figcaption class="figcaption type-small">Container widths are used to construct the grid, and have a direct imact on font-size.</figcaption>
    </figure>
  {% endset %}

  {{ fw.figureWrapper(figureWrapperContent) }}

  <section class="grid {{ main_classes }}">
  <div class="js-type-body type-body">
    <p>
    The web is constantly evolving, any list I create could eventually change
    and that may mean going back to the drawing board at a later date.
    What's worth noting is that my analysis of data—from the account of a large e-tailer—covered a period of 1 year &amp;
    1,000,000 users, during that period the most popular sizes did not change.
    </p>
    <p>The experience could be specifically tailored towards existing customers, 
    as opposed to users that probably won’t shop with us. 
    Users of screen sizes not in the list will also receive an excellent experience due to the strategy of including fluid elements [examples needed, 
    e.g. bleeding imagery fluid header and footer]. This gives us the benefits of designing for certainty, whilst creating the impression of fluidity.</p>
    </div>
    {# I COULD DO WITH LINKING TO A FILE WITH ARTBOARDS AND CRATING A CODE SAMPLE USING CUSTOM PROPERTIES #}
  </section>
{% endblock %}


{% block image_nav %}
  {% include "../partials/components/scroller-nav.njk" %}
{% endblock %}
