{% extends "../templates/doc-template.njk" %}

{% block header_scripts %}
  {{ super() }}
  <script src="/blocks/code-sample/__modal/code-sample__modal.js" type="module"></script>
{% endblock %}

{% block main %}
  <section class="grid {{ main_classes }}">
    <div class="js-type-body type-body">
      <p>To decide on a suitable range of media to design for, I start with viewport width. 
      I discovered the following to be the most popular:</p>
      <ol class="list-number list-number_body">
        <li>320x568</li>
        <li>360x640</li>
        <li>375x667</li>
        <li>414x736</li>
        <li>768x1024</li>
        <li>1366x768</li>
      </ol>
      <p>Some dimensions are considered <em>standard</em>, 
      such as an iPad (768x1024), or a typical Android device (360x640).</p>
      <p>With the dimensions I create what I refer to as a <em>Container Grid</em> (Fig. 1-4).</p>
    </div>
  </section>

  {% set figureWrapperContent %}
    <figure class="figure figure_with-caption">
      <div class="placeholder-image placeholder-image_span-4 stage">
        {% for item in range(1,16) %}
          <div class="stage__y-item" style="grid-column: {{ item }}"></div>
        {% endfor %}
        <div class="stage__counter-wrapper">
          {% for item in range(1,5) %}
            <div class="stage__counter" style="--stage-counter-grid-column: {{ item }}">
              <div class="stage__number">{{ item }}</div>
            </div>
          {% endfor %}
        </div>
        <div class="artboard"></div>
      </div>
      <figcaption class="figcaption type-small">
        <ol class="list-number">
          <li>Fluid-margin</li>
          <li>Margin</li>
          <li>Column</li>
          <li>Gutter</li>
        </ul>
      </figcaption>
    </figure>
    <figure class="figure figure_with-caption">
      <div class="placeholder-image placeholder-image_span-4 stage">
        <div class="artboard"></div>
        <div class="container-grid-overlay"></div>
      </div>
      <figcaption class="figcaption type-small">
        When content spans both margins it occupies the entire container.
      </figcaption>
    </figure>
  {% endset %}
  {{ fw.figureWrapper(figureWrapperContent) }}

{# I NEED TO FOCUS ON TEXT AND IMAGES, NOT CONTAINERS AS MUCH #}

  {% set figureWrapperContent2 %}
    <figure class="figure figure_with-caption">
      <div class="placeholder-image placeholder-image_span-4 stage">
        <div class="artboard artboard_span-container"></div>
        <div class="container-grid-overlay"></div>
      </div>
      <figcaption class="figcaption type-small">
        If content spans the the first and last columns (not margins) it occupies the entire container width, minus margins.
      </figcaption>
    </figure>
    <figure class="figure figure_with-caption">
      <div class="placeholder-image placeholder-image_span-4 stage">
        <div class="container-grid-overlay"></div>
        <div class="stage__placeholder stage__placeholder_span-fluid-margin" style="grid-row: 1 / span 2"></div>
        <div class="stage__placeholder stage__placeholder_span-half stage__placeholder_span-half_dummy-text">
          {% for item in range(1,6) %}
            <div class="dummy-text"></div>
          {% endfor %}
        </div>
        <div class="stage__placeholder stage__placeholder_span-half"></div>
        <div class="stage__placeholder stage__placeholder_span-container"></div>
      </div>
      <figcaption class="figcaption type-small">
        Sample layout consisting of a header spanning both fluid-margins, and content placed within both margins.
      </figcaption>
    </figure>
  {% endset %}
  {{ fw.figureWrapper(figureWrapperContent2) }}

  <section class="grid {{ main_classes }}">
    <div class="js-type-body type-body">
      <p>A container grid is a container, yet only constructed using CSS, not a range of <code>&lt;div&gt;</code> wrappers,
      although it can also be applied to that kind of structure.
      It's main purpose is to act as an overall guide that makes it easy to decide where to place content.<br>
      Between breakpoints, any content within the fluid-margin will have a fluid width, reflowing with the size of the viewport,
      whilst content placed across both margins will adhere absolutely to the width of a container.<br>
      If a viewport is wider than all columns, gutters and margins, fluid-margin can be utilised to solve a range of 
      design problems (Fig. 4).<br>
    </div>
  </section>

  {% set figureWrapperContent3 %}
    <figure class="figure figure_with-caption figure_code-sample">
      <div class="js-placeholder-image placeholder-image placeholder-image_code-sample placeholder-image_code-sample-large">
        {% include "../partials/code-samples/container-grid.njk" %}
      </div>
      <figcaption class="figcaption type-small">
        Container widths are used to construct the container-grid. View a  
        <a href="https://codepen.io/morganfeeney/pen/023adaff056fc2a288c8066cef2c01f1">working example</a>.
      </figcaption>
    </figure>
  {% endset %}
{# NEED TO ADD A CODE SAMPLE OF NAMED GRID LINES #}
  {{ fw.figureWrapper(figureWrapperContent3) }}

  <section class="grid {{ main_classes }}">
    <div class="js-type-body type-body">
      <p>Making use of CSS Grid and viewport units, e.g. <code>vw</code> results in less markup, yet provides freedom to span across
      different ranges of columns. Combining Grid Template Areas, media queries and custom properties make the process of
      spanning different numbers of columns trivial, [provide some codepen examples?]</p>

      <p>You can span all columns, across breakpoints without using media queries to re-declare in each 
      breakpoint how many columns to span when making use of spanning the marigns</p>

      <p>You can make the grid fluid by changing 100vw to 0vw</p>

      <p>You can make the grid snap to viewport widths by leaving as-is</p>
      
      <p>It also provides the benefits of designing for certainty, whilst creating the <em>impression</em> of fluidity.</p>
    </div>
  </section>
{% endblock %}

{% block image_nav %}
  {% include "../partials/components/scroller-nav.njk" %}
{% endblock %}
