{% extends "../templates/doc-template.njk" %}

{% block header_scripts %}
  {{ super() }}
  <script src="/blocks/code-sample/__modal/code-sample__modal.js" type="module"></script>
{% endblock %}

{% block main %}
  <section class="grid {{ main_classes }}">
    <div class="js-type-body type-body">
      <p>To decide upon a suitable range of media to design for, via Google Analytics, 
      I discovered the following viewport sizes to be the most popular:</p>
      <ol class="list-number list-number_body">
        <li>320x568</li>
        <li>360x640</li>
        <li>375x667</li>
        <li>414x736</li>
        <li>768x1024</li>
        <li>1366x768</li>
      </ol>
      <p>Some dimensions are considered <em>standard</em>, 
      such as an iPad (768x1024), or a typical Android device (360x640).</p>
      <p>With the dimensions I create what I refer to as a <em>Container Grid</em> see <em>fig.1-4.</em></p>
    </div>
  </section>

  {% set figureWrapperContent %}
    <figure class="figure figure_with-caption">
      <div class="placeholder-image placeholder-image_span-4 stage">
        {% for item in range(1,16) %}
          <div class="stage__y-item" style="grid-column: {{ item }}"></div>
        {% endfor %}
        <div class="stage__counter-wrapper">
          {% for item in range(1,5) %}
            <div class="stage__counter" style="--stage-counter-grid-column: {{ item }}">
              <div class="stage__number">{{ item }}</div>
            </div>
          {% endfor %}
        </div>
        <div class="artboard"></div>
      </div>
      <figcaption class="figcaption type-small">
        <ol class="list-number">
          <li>Fluid-margin</li>
          <li>Margin</li>
          <li>Column</li>
          <li>Gutter</li>
        </ul>
      </figcaption>
    </figure>
    <figure class="figure figure_with-caption">
      <div class="placeholder-image placeholder-image_span-4 stage">
        <div class="artboard"></div>
        <div class="container-grid-overlay"></div>
      </div>
      <figcaption class="figcaption type-small">
        When content spans both margins it occupies the entire viewport width.
      </figcaption>
    </figure>
  {% endset %}
  {{ fw.figureWrapper(figureWrapperContent) }}

{# I NEED TO FOCUS ON TEXT AND IMAGES, NOT CONTAINERS AS MUCH #}

  {% set figureWrapperContent2 %}
    <figure class="figure figure_with-caption">
      <div class="placeholder-image placeholder-image_span-4 stage">
        <div class="artboard artboard_span-container"></div>
        <div class="container-grid-overlay"></div>
      </div>
      <figcaption class="figcaption type-small">
        When content spans the the first and last columns it occupies the entire viewport width, minus margins.
      </figcaption>
    </figure>
    <figure class="figure figure_with-caption">
      <div class="placeholder-image placeholder-image_span-4 stage">
        <div class="container-grid-overlay"></div>
        <div class="stage__placeholder stage__placeholder_span-fluid-margin" style="grid-row: 1 / span 2"></div>
        <div class="stage__placeholder stage__placeholder_span-half stage__placeholder_span-half_dummy-text">
          {% for item in range(1,6) %}
            <div class="dummy-text"></div>
          {% endfor %}
        </div>
        <div class="stage__placeholder stage__placeholder_span-half"></div>
        <div class="stage__placeholder stage__placeholder_span-container"></div>
      </div>
      <figcaption class="figcaption type-small">
        Sample layout consisting of a header spanning both fluid-margins, and content placed within both margins.
      </figcaption>
    </figure>
  {% endset %}
  {{ fw.figureWrapper(figureWrapperContent2) }}

  <section class="grid {{ main_classes }}">
    <div class="js-type-body type-body">
      The Container Grid's purpose is to enable placement of content. 
      Between breakpoints, any content within the fluid-margin will have a fluid width, whilst content placed within both margins
      will adhere to the dimensions of a given viewport width.
      If a viewport is larger than the width of all columns, gutters and margins, excess space can be utilised to solve a range of 
      design problems. 
      Header, nav or image elements can span the entire viewport width beyond the bounds of the margins <em>fig. 4</em>.
    </div>
  </section>

  {% set figureWrapperContent3 %}
    <figure class="figure figure_with-caption figure_code-sample">
      <div class="js-placeholder-image placeholder-image placeholder-image_code-sample">
        {% include "../partials/code-samples/container-width.njk" %}
      </div>
      <figcaption class="figcaption type-small">Container widths are used to construct the grid, and have a direct imact on font-size.</figcaption>
    </figure>
        <figure class="figure figure_with-caption figure_code-sample">
      <div class="js-placeholder-image placeholder-image placeholder-image_code-sample">
        {% include "../partials/code-samples/container-width.njk" %}
      </div>
      <figcaption class="figcaption type-small">Container widths are used to construct the grid, and have a direct imact on font-size.</figcaption>
    </figure>
  {% endset %}
{# NEED TO ADD A CODE SAMPLE OF NAMED GRID LINES #}
  {{ fw.figureWrapper(figureWrapperContent3) }}

  <section class="grid {{ main_classes }}">
    <div class="js-type-body type-body">
      When it comes to re-creating a design using CSS and HTML it removes the need for markup, providing freedom to span across
      different ranges of columns.
      <br>
      It's important to note these terms are not related to CSS properties.
      achieving a range of possibilities due to the gutters also being columns.
      Users of screen sizes not in the list will also receive an excellent experience due to the strategy of including fluid elements [examples needed, 
      e.g. bleeding imagery fluid header and footer]. This gives us the benefits of designing for certainty, whilst creating the impression of fluidity.</p>
    </div>
  </section>
{% endblock %}

{% block image_nav %}
  {% include "../partials/components/scroller-nav.njk" %}
{% endblock %}
