{% extends "../templates/doc-template.njk" %}

{% block header_scripts %}
  {{ super() }}
  <script src="/blocks/code-sample/__modal/code-sample__modal.js" type="module"></script>
{% endblock %}

{% block main %}
  <section class="grid {{ main_classes }}">
    <p class="js-type-body type-body">Sizes within the typographic system are set in pt or <em>point</em>, the universal unit of measurement. I initially setup a Sketch library containing the sizes in fig.1, from there I translated them into CSS. 1rem equals 16pt in Sketch or 16px on the web.</p>
  </section>

  {% set figureWrapperContent %}
    <figure class="figure figure_with-caption">
      <div class="placeholder-image placeholder-image_typographic-system"></div>
      <figcaption class="figcaption type-small">Type sizes in 12 - 48pt, Helvetica Neue, as created in Sketch library (actual size). The lines indicate where ascenders and descenders should align.</figcaption>
    </figure>

    <figure class="figure figure_with-caption figure_code-sample">
      <div class="js-placeholder-image placeholder-image placeholder-image_code-sample">
        {% include "../partials/code-samples/typographic-system.njk" %}
      </div>
      <figcaption class="figcaption type-small">Type Sizes taken from the Sketch library, translated into CSS custom properties, which are also interchangeable.</figcaption>
    </figure>
  {% endset %}

  {{ fw.figureWrapper(figureWrapperContent) }}

  <section class="grid {{ main_classes }}">
    <p class="js-type-body type-body">The system functions across a range of screen sizes, font sizes are universally available and interchangable as and when required. With CSS this is achieved through the use of custom properties and media queries <em>fig. 2</em>.</p>
  </section>
{% endblock %}

{% block image_nav %}
  {% include "../partials/components/scroller-nav.njk" %}
{% endblock %}
