.doc-header {
  display: grid;
  grid-auto-rows: var(--row-height);
  grid-row-gap: var(--grid-row-gap);
  background: var(--grey-tint);
  grid-column: margin;
  grid-template-columns: var(--container-grid);
}

.doc-header__title {
  --doc-header-margin-top: -.4rem;
  --doc-header-title-grid-column: container-grid;
  margin-top: var(--doc-header-margin-top);
  grid-row: 2;
  grid-column: var(--doc-header-title-grid-column);
  font-weight: normal;

  @mixin global-large;

  @media (--iPhoneXR) {
    @mixin global-large-x;
    --doc-header-margin-top: -.7rem;
  }

  @media (--tablet) {
    @mixin global-headline;
    --doc-header-margin-top: -1rem;
  }

  @media (--iPadPro) {
    --doc-header-title-grid-column: 5 / span 9;
  }
}
