{% import "../macros/macro-image.njk" as images %}

{% macro postsmacro(post_title="", post_text="", image_size="360") %}
    <div class="post">
      <h3 class="post-title"><a href="">{{ post_title }}</a></h3>
      {{ images.image_placeholder(size=image_size) }}
      <p>{{ post_text }}</p>
    </div>
{% endmacro %}
