{% import "../macros/macro-image.njk" as images %}

{% macro postsmacro(posts) %}
  <section class="posts {{ posts_class }}">
    {% for post in posts %}
      <div class="post">
        <h3 class="post-title"><a href="">{{ post.title }}</a></h3>
        {{ images.image_placeholder(size=100) }}
        <p>{{ post.text }}</p>
      </div>
    {% endfor %}
  </section>
{% endmacro %}
