:root {
  --placeholder-padding-default: 2rem 1rem;
  --placeholder-padding-iPhoneXR: 2rem;
  --placeholder-padding: var(--placeholder-padding-default);

  @media (--iPhoneXR) {
    --placeholder-padding: var(--placeholder-padding-iPhoneXR);
  }
}

.placeholder-image {
  --placeholder-image-width: calcColumnWidth(4);
  --placeholder-image-height: calc((var(--row-height) * 3) + (var(--gutter-y) * 2));

  background-color: var(--grey-tint);
  width: var(--placeholder-image-width);
  height: var(--placeholder-image-height);

  @media (--iPhoneXR) {
    --placeholder-padding: var(--placeholder-padding-iPhoneXR);
    --placeholder-image-width: calcColumnWidth(3);
  }

  @media (--tablet) {
    --placeholder-image-width: calcColumnWidth(2);
    --placeholder-image-height: calc((var(--row-height) * 2) + (var(--gutter-y) * 1));
  }
}

.placeholder-image_no-bg {
  background: transparent;
}

.placeholder-image img {
  max-width: 100%;
  height: auto;
}

.placeholder-image_column-width {
  --placeholder-image-width: calcColumnWidth(4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;

  @media (--tablet) {
    align-items: flex-end;
  }

  & img {
    border: 1px solid var(--interior-orange);

    @media (--tablet) {
      height: calc(100% - var(--gutter-y));
      background: white;
      border: 1px solid var(--black);
      border-bottom: 0;
    }
  }
}

.placeholder-image_typographic-system {
  display: flex;
  align-items: center;
  background:
    url('/images/Interior-graphics_Typographic-system-1.svg') no-repeat 0 center,
    url('/images/Interior-graphics_Typographic-system-2.svg') no-repeat 8rem center,
    var(--grey-tint);
    background-size: auto 237px;
  &::before {
    content: "";
    width: 100%;
    height: 244px;
    margin-top: 4px;
    display: block;
    background:
      grad(0),
      grad(12px),
      grad(20px),
      grad(36px),
      grad(44px),
      grad(66px),
      grad(74px),
      grad(102px),
      grad(110px),
      grad(142px),
      grad(150px),
      grad(186px),
      grad(194px),
      grad(242px);
    background-repeat: no-repeat;
  }
}

.placeholder-image_code-sample {
  overflow: hidden;
  padding: var(--placeholder-padding);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background: linear-gradient(to top,var(--grey-tint) 0%, rgba(255, 255, 255, 0) 100%);
    left: 0;
    right: 0;
    height: 100%;
    bottom: 0;
    pointer-events: none;
  }

  @media (--iPhoneXR) {
    --placeholder-image-width: calcColumnWidth(4);
  }

  @media (--tablet) {
    --placeholder-image-width: calcColumnWidth(2);
  }

  @media (--iPadPro) {
    --placeholder-image-width: calcColumnWidth(3);
  }
}

.placeholder-image__typeset {
  @mixin global-body;
}

.placeholder-image__typeset_2 {
  line-height: 2.25rem;
  margin-top: -.75rem;
}

.placeholder-image__typeset_3 {
  @mixin global-large;
}

.placeholder-image__typeset_4 {
  @mixin global-large;
  line-height: 4rem;
  margin-top: -1.35rem;
}

.placeholder-image__typeset_heading {
  margin-bottom: 6.3rem;
}

.placeholder-image__typeset_heading-2 {
  font-size: 2.25rem;
  line-height: 3.125rem;
  white-space: nowrap;
  margin-bottom: 4.85rem;
  margin-top: -.5rem;
}

.placeholder-image__typeset_heading-3 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.placeholder-image__typeset_heading-4 {
  margin-top: 5.75rem;
  margin-bottom: 0.25rem;
  font-weight: bold;
}