:root {
  --placeholder-padding-default: 2rem 1rem;
  --placeholder-padding-iPhoneXR: 2rem;
  --placeholder-padding: var(--placeholder-padding-default);

  @media (--iPhoneXR) {
    --placeholder-padding: var(--placeholder-padding-iPhoneXR);
  }
}

.placeholder-image {
  --placeholder-image-width: calc((var(--column-width) * 4) + (var(--grid-gap) * 3));
  --placeholder-image-height: calc((var(--row-height) * 3) + (var(--grid-row-gap) * 2));

  background-color: var(--grey-tint);
  width: var(--placeholder-image-width);
  height: var(--placeholder-image-height);

  @media (--iPhoneXR) {
    --placeholder-padding: var(--placeholder-padding-iPhoneXR);
    --placeholder-image-width: calc((var(--column-width) * 3) + (var(--grid-gap) * 2));
  }

  @media (--tablet) {
    --placeholder-image-width: calc((var(--column-width) * 2) + (var(--grid-gap) * 1));
    --placeholder-image-height: calc((var(--row-height) * 2) + (var(--grid-row-gap) * 1));
  }
}

.placeholder-image_typographic-system {
  display: flex;
  align-items: center;
  background:
    url('/images/Interior-graphics_Typographic-system-1.svg') no-repeat 0 center,
    url('/images/Interior-graphics_Typographic-system-2.svg') no-repeat 8rem center,
    var(--grey-tint);
    background-size: auto 237px;
  &::before {
    content: "";
    width: 100%;
    height: 244px;
    margin-top: 4px;
    display: block;
    background:
      grad(0),
      grad(12px),
      grad(20px),
      grad(36px),
      grad(44px),
      grad(66px),
      grad(74px),
      grad(102px),
      grad(110px),
      grad(142px),
      grad(150px),
      grad(186px),
      grad(194px),
      grad(242px);
    background-repeat: no-repeat;
  }
}

.placeholder-image_code-sample {
  overflow: hidden;
  padding: var(--placeholder-padding);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background: linear-gradient(to top,var(--grey-tint) 0%, rgba(255, 255, 255, 0) 100%);
    left: 0;
    right: 0;
    height: 100%;
    bottom: 0;
    pointer-events: none;
  }

  @media (--iPhoneXR) {
    --placeholder-image-width: calc((var(--column-width) * 4) + (var(--grid-gap) * 3));
  }

  @media (--tablet) {
    --placeholder-image-width: calc((var(--column-width) * 2) + (var(--grid-gap) * 1));
  }

  @media (--iPadPro) {
    --placeholder-image-width: calc((var(--column-width) * 3) + (var(--grid-gap) * 2));
  }
}
