{% extends "templates/prototype-template.njk" %}
{% set html_classes = "footer-at-end" %}
{% set body_classes = "design-principles-layout" %}
{# set these for dev purposes #}
{# {% set layout_classes = "grid-visible baseline-grid" %} #}
{% set cols = 60 %}

{% block linked_css %}
  {{ super() }}
  <link rel="stylesheet" href="/css/design-principles-layout.css">
{% endblock %}

{% block embedded_css %}
  {{ super() }}
  <style>
    h1 {
      grid-row: 1;
      margin-bottom: -.05rem;
    }
    .time {
      grid-template-columns: 2;
      grid-row: 2;
    }
  </style>
{% endblock %}

{% block date %}
{% endblock %}

{% block main %}
  {% block content %}
    <h1>{% if page_title %}{{ page_title }}{% else %}{{ title }}{% endif %}</h1>
  {% endblock %}
{% endblock %}
