{% extends "templates/prototype-template.njk" %}
{% set html_classes = "footer-at-end" %}
{% set body_classes = "design-principles-layout" %}
{# set these for dev purposes #}
{# {% set layout_classes = "grid-visible baseline-grid" %} #}
{% set cols = 60 %}

{% block linked_css %}
  {{ super() }}
  <link rel="stylesheet" href="/css/design-principles-layout.css">
{% endblock %}

{% block main %}
  {% block content %}
    <h1>{% if main_title %}{{ main_title }}{% else %}{{ title }}{% endif %}</h1>
  {% endblock %}
{% endblock %}
