{% extends "templates/prototype-template.njk" %}
{% set html_classes = "footer-at-bottom" %}
{% set body_classes = "docs-layout _6-column-grid-overlay" %}
{# set these for dev purposes #}
{% set layout_classes = "grid-visible baseline-grid" %}
{% set cols = 6 %}

{% block linked_css %}
  <link rel="stylesheet" href="/css/interior.css">
{% endblock %}

{% block main %}
  {% block intro %}
    <h1>{% if page_title %}{{ page_title }}{% else %}{{ title }}{% endif %}.</h1>
  {% endblock %}
  {% block section %}
    <section>
      {% block content %}{% endblock %}
    </section>
  {% endblock %}
  {% block bigmofo %}
  {% endblock %}
{% endblock %}
