{% extends "layouts/standard-layout.njk" %}

{% block embedded_css %}
<style>
  h2:first-of-type:before {
    content: "Main heading";
  }
</style>
{% endblock %}

{% block intro %}
  <h2>Documentation.</h2>
{% endblock %}


{% block main %}
  <section id="mixins">
    <h2>Mixin</h2>

    <div class="grid cols-2">
      <div>
        <h5>col</h5>
      </div>
      <div>
        {% include "../partials/cards/code/code-scss.njk" %}
      </div>
    </div>
  </section>
  <section id="">
  </section>
{% endblock %}

{% block aside %}{% endblock %}
