{% set base_path = ".." %}
{% set page_title = "Layouts home page" %}
{% set page_description = "TBA" %}
{% extends "templates/prototype-template.njk" %}

{% block main %}
  <h1>All about web layout</h1>
  <p>This page links to all of the different layouts created to demonstrate the potential of the Interior system.</p>
  <h4>Examples built using Interior</h4>
<ul>
  {% for layout in layouts %}
  {# Check to see if the current page matches a link #}
    {% if layout == file %}
      <li><a style="color: black" href="{{ layout }}">{{ layout | capitalize | replace("-", " ") | replace(".html", "") }}</a></li>
    {% else %}
        <li><a href="{{ layout }}">{{ layout | capitalize | replace("-", " ") | replace(".html", "") }}</a></li>
    {% endif %}
  {% endfor %}
</ul>

{% endblock %}
