{% set base_path = ".." %}
{% set page_title = "Layouts home page" %}
{% set page_description = "TBA" %}
{% extends "layouts/standard-layout.njk" %}

{% block embedded_css %}
<style>
  h1::before {
    content: "blah"
  }
  h2::before {
    content: "blah"
  }
</style>
{% endblock %}

{% block intro %}
  <h1>All about web layout</h1>
{% endblock %}

{% block main %}
  <h2>Examples built with Interior</h2>
  <p>This page links to all of the different layouts created to demonstrate the potential of the Interior system.</p>
  <ul>
    {% for layout in layouts %}
    {# Check to see if the current page matches a link #}
      {% if layout == file %}
        <li><a style="color: black" href="{{ layout }}">{{ layout | capitalize | replace("-", " ") | replace(".html", "") }}</a></li>
      {% else %}
          <li><a href="{{ layout }}">{{ layout | capitalize | replace("-", " ") | replace(".html", "") }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

{% endblock %}
