{% extends "templates/prototype-template.njk" %}

{% block header %}
  <div class="grid grid-main">
    <div class="content-header">
      {% block header_intro %}
        <h1>{{ page | capitalize | replace("-", " ") }}</h1>
        <p>{{ data.dummy_text.paragraph_short }}</p>
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block main %}
  {% block gallery %}
    <!-- Gallery -->
    {{ galleries.gallery(image_size="300") }}
    <!-- /Gallery -->
  {% endblock %}
{% endblock %}

{% block main_aside %}{% endblock %}
