{% set base_path = ".." %}
{% set page_title = "Layouts home page" %}
{% set page_description = "TBA" %}
{% extends "templates/prototype-template.njk" %}
{# {% set body_classes="layout-thin" %} #}

{# {% block header %}
  <h1>Interior Layouts</h1>
{% endblock %} #}

{% block main %}
  <h1>Layouts</h1>
  <h2>Hello world, thanks for visiting.</h2>
  <p>This page links to all of the different layouts created to demonstrate the potential of the Interior system.</p>
  <h3>Layouts</h3>
<ul>
  {% for layout in layouts %}
  {# Check to see if the current page matches a link #}
    {% if layout == file %}
      <li><a style="color: black" href="{{ layout }}">{{ layout | capitalize | replace("-", " ") | replace(".html", "") }}</a></li>
    {% else %}
        <li><a href="{{ layout }}">{{ layout | capitalize | replace("-", " ") | replace(".html", "") }}</a></li>
    {% endif %}
  {% endfor %}
</ul>

{% endblock %}
