{% extends "templates/prototype-template.njk" %}
{% set html_classes = "footer-at-bottom" %}
{% set body_classes = "index-layout _6-column-grid-overlay" %}
{# set these for dev purposes #}
{% set layout_classes = "grid-visible baseline-grid" %}
{% set cols = 30 %}
{# CSS variables & gradients for the win here!! #}

{% block linked_css %}
  <link rel="stylesheet" href="/css/interior.css">
{% endblock %}

{% block main %}
  <div class="grid">
    <section>
      {% block column1 %}
        <h1>{% if page_title %}{{ page_title }}{% else %}{{ title }}{% endif %}</h1>
      {% endblock %}
    </section>
    <section>
      {% block column2 %}
      {% endblock %}
    </section>
  </div>
{% endblock %}
