{% extends "templates/prototype-template.njk" %}
{% set html_classes = "footer-at-end" %}
{% set body_classes = "index-layout" %}
{# set these for dev purposes #}
{% set layout_classes = "grid-visible baseline-grid" %}
{% set cols = 30 %}

{% block linked_css %}
  {{ super() }}
  <link rel="stylesheet" href="/css/index-layout.css">
{% endblock %}

{% block main %}
  {% block content %}
    <h1>{% if page_title %}{{ page_title }}{% else %}{{ title }}{% endif %}</h1>
  {% endblock %}
{% endblock %}
