{% extends "templates/prototype-template.njk" %}
{% set html_classes = "footer-at-bottom" %}
{% set body_classes = "index-layout _6-column-grid-overlay" %}
{# set these for dev purposes #}
{# {% set layout_classes = "grid-visible baseline-grid" %} #}
{% set cols = 6 %}

{% block linked_css %}
  <link rel="stylesheet" href="/css/interior.css">
{% endblock %}

{% block main %}
  <section>
    <div class="grid">
      <div class="column-1">
        {% block column1 %}
          <h1>{% if page_title %}{{ page_title }}{% else %}{{ title }}{% endif %}.</h1>
        {% endblock %}
      </div>
      <div class="column-2">
        {% block column2 %}
        {% endblock %}
      </div>
    </div>
  </section>
{% endblock %}
