{% extends "templates/prototype-template.njk" %}
{% set body_classes = "standard-layout baseline-grid" %}

{% block linked_css %}
  <link rel="stylesheet" href="/css/modular-man-layout.css">
{% endblock %}

{% block header_content %}
  <div class="intro">
    {% block intro %}
      <h1>{% if page_title %}{{ page_title }}{% else %}{{ title }}{% endif %}.</h1>
    {% endblock %}
  </div>
{% endblock %}

{% block main %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block main_footer %}
{% endblock %}
