{% set post_page = true %}
{% set body_classes = "aside-layout" %}
{% extends "templates/aside-template.njk" %}

{% block header %}
  {% block header_intro %}
    <h1>{{ page | capitalize | replace("-", " ") }}</h1>
    <p>{{ data.dummy_text.paragraph_short }}</p>
  {% endblock %}
  {% block header_hero %}
    <!-- Hero image -->
    {{ images.image_placeholder(
      size="1200x600",
      text="HERO IMAGE",
      class="image-hero")
    }}
  <!-- /Hero image -->
  {% endblock %}
{% endblock %}

{% block main %}
    {% block content_main_1 %}
      <h2>{{ data.dummy_text.title_medium }}</h2>
      <p>{{ data.dummy_text.paragraph_short }} <a href="#">get in touch</a>.</p>
      {{ images.image_placeholder(
        size="800x400",
        text="SMALLER IMAGE"
        )
      }}

      <h3>{{ data.dummy_text.title_short }}</h3>
      <p>{{ data.dummy_text.paragraph_medium }}</p>
    {% endblock %}
    {% block content_sub_1 %}{% endblock %}

    {% block content_main_2 %}
        {% block gallery %}
          <!-- Gallery -->
          {{ galleries.gallery(image_size="300") }}
          <!-- /Gallery -->
        {% endblock %}
        <h3>{{ data.dummy_text.title_long }}</h3>
        <p>{{ data.dummy_text.paragraph_medium }}</p>
        <blockquote>
          <p>
            {{ data.dummy_text.title_long }}
          </p>
        </blockquote>
        <h4>{{ data.dummy_text.title_short }}</h4>
        <p>{{ data.dummy_text.paragraph_long }}</p>
        {% include "../partials/code-samples/col-scss.njk" %}
        <p>{{ data.dummy_text.paragraph_medium }}</p>
        <blockquote>
          <p>
            {{ data.dummy_text.title_long }}
          </p>
        </blockquote>
        <p>{{ data.dummy_text.paragraph_medium }}</p>
    {% endblock %}
    {% block content_sub_2 %}{% endblock %}

{% endblock %}
  {% block aside_content %}
  {{
    posts.posts_feed (
      posts=data.post_feed,
      posts_class="posts-feed",
      image_size="350x150"
    )
  }}
  <div class="grid">
    <dl class="dl-horizontal dl-page-meta">
      <dt>Date</dt><dd>22/05/2016</dd>
    </dl>
    <dl class="dl-horizontal dl-page-meta">
      <dt>Category</dt><dd>Design</dd>
    </dl>
    <dl class="dl-horizontal dl-page-meta">
      <dt>Client</dt><dd>Moi</dd>
    </dl>
    <dl class="dl-horizontal dl-disciplines">
      <dt>Disciplines</dt>
      <dd>Design</dd>
      <dd>Front-end development</dd>
      <dd>CSS</dd>
    </dl>
    <dl class="dl-horizontal dl-languages">
      <dt>Languages</dt>
      <dd>Less</dd>
      <dd>Nunjucks</dd>
      <dd>CSS</dd>
      <dd>HTML</dd>
    </dl>
    <dl class="dl-horizontal dl-test">
      <dt>Really long title for test purposes</dt>
      <dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry</dd>
      <dd>It is a long established fact that a reader will be distracted by the readable content</dd>
      <dd>CSS</dd>
      <dd>HTML</dd>
    </dl>
{% endblock %}
