<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ page_title }}</title>
		<meta name="description" content="{{ page_description }}">
		<link rel="stylesheet" href="{{ base_path }}/css/prototypes/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block header_scripts %}
			{% include "partials/head-scripts.njk" %}
		{% endblock %}
	</head>
	<body class="{{ page }} {{ body_classes }}">
		<article>
			<aside>
				<div class="container">
					{% include "partials/components/nav-main.njk" %}
				</div>
			</aside>
			<header id="main-header" class="container-full-width {{ main_header_classes }}">
		    <div class="container">
					{% block header %}{% endblock %}
		    </div>
			</header>
			<section id="main-section" class="container-full-width {{ main_section_classes }}">
				<div class="container">
					{% block main %}{% endblock %}
				</div>
			</section>
			<footer id="main-footer" class="container-full-width {{ main_footer_classes }}">
				<div class="container">
					{% block footer %}
						{% include "partials/footer.njk" %}
					{% endblock %}
				</div>
			</footer>
		</article>
		<script src="http://localhost:35729/livereload.js"></script>
	</body>
</html>
