<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ page_title }}</title>
		<meta name="description" content="{{ page_description }}">
		<link rel="stylesheet" href="{{ base_path }}/css/prototypes/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block header_scripts %}
			{% include "partials/head-scripts.njk" %}
		{% endblock %}
	</head>
	<body class="{{ body_classes }}">
		<article>
			<aside>
				<div class="container-max-width">
					{% include "partials/components/nav-main.njk" %}
				</div>
			</aside>
			<header id="main-header" class="container {{ main_header_classes }}">
		    <div class="container-max-width">
					{% block header %}{% endblock %}
		    </div>
			</header>
			<section class="container">
				<div class="container-max-width">
					{% block main %}{% endblock %}
				</div>
			</section>
			<footer id="main-footer" class="container {{ main_footer_classes }}">
				<div class="container-max-width">
					{% block footer %}
						{% include "partials/footer.njk" %}
					{% endblock %}
				</div>
			</footer>
		</article>
		<script src="http://localhost:35729/livereload.js"></script>
	</body>
</html>