{% extends "templates/prototype-template.njk" %}
{# {% set body_classes="layout-thin" %} #}
{% set post_page = true %}
{% set body_classes = "vh100-layout" %}

{% block header %}
  {{ super() }}
  <div class="intro">
    <h1>Things are what they used to be</h1>
    <p>The way things are built on the web changes frequently. New succeeds old, things (supposedly) get faster.
      To enable a less-restricted level of creativity, whilst accommodating web, <i>must succeed</i>.
      However... It's important we remember that before the web there was a wealth of layout design.</p>
  </div>
{% endblock %}

{% block main %}
  <h2>{{ data.dummy_text.title_medium }}</h2>
  <p>{{ data.dummy_text.paragraph_short }} <a href="#">get in touch</a>.</p>
  <h3>{{ data.dummy_text.title_short }}</h3>
  <p>{{ data.dummy_text.paragraph_medium }}</p>

  {% block content_main_2 %}
    <h3>{{ data.dummy_text.title_long }}</h3>
    <p>{{ data.dummy_text.paragraph_medium }}</p>
    <h4>{{ data.dummy_text.title_short }}</h4>
    <p>{{ data.dummy_text.paragraph_long }}</p>
    <blockquote class="outset-right">
      <p>
        {{ data.dummy_text.title_long }}
      </p>
    </blockquote>
    <p>{{ data.dummy_text.paragraph_medium }}</p>
    <blockquote>
      <p>
        {{ data.dummy_text.title_long }}
      </p>
    </blockquote>
    <p>{{ data.dummy_text.paragraph_medium }}</p>
  {% endblock %}
  <div class="grid cols-2">
    <div>
      <h5>{{ data.dummy_text.title_long }}</h5>
      <p>{{ data.dummy_text.paragraph_medium }}</p>
    </div>
    <div>
      <h5>{{ data.dummy_text.title_short }}</h5>
      <p>{{ data.dummy_text.paragraph_medium }}</p>
    </div>
  </div>
  <div class="grid cols-3">
    <div>
      <h6>{{ data.dummy_text.title_long }}</h5>
      <p>{{ data.dummy_text.paragraph_medium }}</p>
    </div>
    <div>
      <h6>{{ data.dummy_text.title_short }}</h5>
      <p>{{ data.dummy_text.paragraph_medium }}</p>
    </div>
    <div>
      <h6>{{ data.dummy_text.title_short }}</h5>
      <p>{{ data.dummy_text.paragraph_medium }}</p>
    </div>
  </div>
{% endblock %}

{% block aside %}{% endblock %}
