{% set base_path = ".." %}
{% set page_title = "Thin layout" %}
{% set page_description = "TBA" %}
{% extends "templates/prototype-template.njk" %}
{% set body_classes="layout-thin" %}
{% set post_page = true %}

{% block header %}
  {% block header_intro %}
    <h1>{{ page_title }}</h1>
    <p>{{ dummy_text.paragraph_short }}</p>
  {% endblock %}
{% endblock %}

{% block main %}
  {% block content_main_1 %}
    <h2>{{ dummy_text.title_medium }}</h2>
    <p>{{ dummy_text.paragraph_short }} <a href="#">get in touch</a>.</p>
    {{ images.image_placeholder(
      size="800x400",
      text="SMALLER IMAGE"
      )
    }}

    <h3>{{ dummy_text.title_short }}</h3>
    <p>{{ dummy_text.paragraph_medium }}</p>
  {% endblock %}

  {% block content_main_2 %}
    <h3>{{ dummy_text.title_long }}</h3>
    <p>{{ dummy_text.paragraph_medium }}</p>
    <blockquote class="outset">
      <p>
        {{ dummy_text.title_long }}
      </p>
    </blockquote>
    <h4>{{ dummy_text.title_short }}</h4>
    <p>{{ dummy_text.paragraph_long }}</p>
    {% include "../partials/cards/code/code-scss.njk" %}
    <p>{{ dummy_text.paragraph_medium }}</p>
    <blockquote>
      <p>
        {{ dummy_text.title_long }}
      </p>
    </blockquote>
    <p>{{ dummy_text.paragraph_medium }}</p>
  {% endblock %}
{% endblock %}
