{% extends "templates/prototype-template.njk" %}
{# {% set body_classes="layout-thin" %} #}
{% set post_page = true %}
{% set body_classes = "vh100-layout" %}

{% block header %}
  {{ super() }}
  <div class="intro">
    <h1>Web layout design is evolving.</h1>
    <p>Something <u>big</u> is happening, specificaton is pushing the web forward in an unprecedented way.
      Those ready to embrace change are on the verge of a new era.
      <i>However</i>, we mustn't forget that beyond the web is a wealth of layout design resource to learn from.</p>
  </div>
{% endblock %}

{% block main %}
  <h5>Web and print are different beasts</h5>
  <p>Paper can fold yet it doesn't shrink. You needn't worry about a paper layout bursting at the seams when it is rotated.
  The fluidity of web alone presents a unique set of challenges, the world of print won't experience.</p>
  <p>The transition/translation from print to web is challenging, you can't apply that 'pretty' layout you created in Illustrator to the browser, whilst solving issues surounding content reflow. Besides... we've been limited by browser capability, we still are but we're <i>moving forward</i>.</p>
  <p>The capability of browsers has lead to unreliable hacks, javascript frameworks for presentation, and float based grid systems for scaffolding. They are <i>workarounds</i>, are problematic, and will eventually break if you push (or scroll) too hard. We've wanted to be able to create those lovely designs yet until now haven't had the tools.</p>
{% endblock %}

{% block aside %}{% endblock %}
