{% extends "templates/prototype-template.njk" %}
{% set body_classes = "standard-layout" %}

{% block header_content %}
  {{ super() }}
  <div class="intro">
    {% block intro %}
      <h1>{% if page_title %}{{ page_title }}{% else %}{{ title }}{% endif %}.</h1>
    {% endblock %}
  </div>
{% endblock %}

{% block main %}
{% endblock %}
