{% extends "layouts/design-principles-layout.njk" %}
{% set page_description = "Baseline is a tool for aligning copy to the baseline using CSS. Learn about how it works here." %}
{% set post_page = true %}

{% block content %}
<section>
  {{ super() }}

  <picture class="main-image">
    <source media="(min-width: {{ screens.sizes["large"] }})" srcset="/images/page-illustrations_main-image-05.svg">
    <source media="(min-width: {{ screens.sizes["medium"] }})" srcset="/images/page-illustrations_main-image-medium-06.svg">
    <img src="/images/page-illustrations_main-image-medium.svg" alt="Visual representation of a typographic measuring system—inspired by Bröckman" srcset="/images/page-illustrations_main-image-medium.svg">
  </picture>

  <div class="passage">
    <h2>Why?</h2>

    <p>The Baseline Grid and Modular Scale go hand-in-hand, for instance; the baseline grid is used to visually align text by indicating the location of the baseline, its proportions are created using the same proportions the text styles are created with. Interior makes full use of the grid by altering it’s proportions using percentages on the HTML element. This way a single rem unit (the measurement used for incrementally traversing the baseline grid) will be relative to the percentage inherited throughout the entire document. It eventually makes life easy.</p>

  </div>
</section>
{% endblock %}

{% block aside %}{% endblock %}
