{% extends "layouts/docs-layout.njk" %}
{% set page_description = "Baseline is a tool for aligning copy to the baseline using CSS. Learn about how it works here." %}
{% set post_page = true %}

{% block content %}
  <div class="grid">
    <h2>Usage</h2>
    <p>The <code class="code-inline language-scss">baseline()</code> mixin is a vertical text-alignment tool. It accepts a variety of arguments, automating baseline alignment with as few restrictions as possible. Use of arguments is necessary with a variety of <code class="code-inline language-scss">font-size</code> and <code class="code-inline language-scss">line-height</code> values.</p>
    <h5>Arguments</h5>
    <p>There are <strong>no</strong> required arguments.</p>
  </div>
  <div class="grid">
    <dl class="dl-horizontal">
      <dt><code class="code-inline language-scss">$font-size</code></dt>
      <dd>Assigns a value to the font size. I use a range of variables based upon a <a href="typography.html">typographic scale</a>.</dd>
    </dl>
    <dl class="dl-horizontal">
      <dt><code class="code-inline language-scss">$unit</code></dt>
      <dd>Multiply the scale of line-height x2, x3 etc, x1 is the default.</dd>
    </dl>
    <dl class="dl-horizontal">
      <dt><code class="code-inline language-scss">$line-height</code></dt>
      <dd>Apply line-height, I've used unitless however should work otherwise.</dd>
    </dl>
    <dl class="dl-horizontal">
      <dt><code class="code-inline language-scss">$margin</code></dt>
      <dd>Adds a <code class="code-inline language-css">margin-top</code> for additional vertical alignment where needed.</dd>
    </dl>
    <dl class="dl-horizontal">
      <dt><code class="code-inline language-scss">$above</code></dt>
      <dd>Increases the padding above the text, works in conjunction with <code class="code-inline language-scss">$below</code>.</dd>
    </dl>
    <dl class="dl-horizontal">
      <dt><code class="code-inline language-scss">$below</code></dt>
      <dd>The amount of <code class="code-inline language-css">margin-bottom</code> to apply.</dd>
    </dl>
    {% include "../partials/code-samples/baseline-scss-required.njk" %}
  </div>
{% endblock %}

{% block aside %}{% endblock %}
