{# {% extends "layouts/docs-layout.njk" %} #}
{% set page_description = "The method behind Interior has completely changed, the focus is on using mixins to create columns & gutters, Flexbox does the layout." %}
{% set post_page = true %}

{% block content %}
  <div class="grid">
    <p class="intro">I wrote <a href="http://codepen.io/morganfeeney/post/dont-build-bootstrap-style-grid-systems-with-flexbox" target="_blank">this article</a>
     to document and explain what I learnt during previous iterations of Interior. The main lesson was to question <em>everything</em>.</p>
      <h5>Possibilities</h5>
    <p>There's point in the article where I state that I will be documenting standards, the idea there was not to get too bogged down with specifics <em>such as naming conventions</em>,
      but more along the lines of suggesting possibilities, not prescribing specific layouts—a demonstration of something different.</p>
  </div>
{% endblock %}
{% block bigmofo %}
<figure class="bigmofo">
  <p class="small">This is a bit of information about the image</p>
  <img class="example-1" src="/images/grid-system_grid-1.svg" alt="">
</figure>
<figure class="bigmofo">
  <p class="small">This is a bit of information about the image</p>
  <img class="example-2" src="/images/grid-system_grid-1.svg" alt="">
  <p class="small">This is a bit of information about the image</p>
  <img class="example-3" src="/images/grid-system_grid-1.svg" alt="">
</figure>
{% endblock %}
{% block closing_content %}

{% endblock %}

{% block aside %}{% endblock %}
