{% extends "layouts/design-principles-layout.njk" %}
{% set page_description = "An explanation of what a Grid System is and how it can be used with CSS Grid, Adobe Illustrator and browsers." %}
{% set post_page = true %}

{% block content %}
<section>
  {{ super() }}

  <picture class="main-image">
    <source media="(min-width: {{ screens.sizes["large"] }})" srcset="/images/main-image/grid-system-large.svg">
    <source media="(min-width: {{ screens.sizes["medium"] }})" srcset="/images/main-image/grid-system-medium.svg">
    <img src="/images/main-image/grid-system-medium.svg" alt="Visual representation of a Grid System—inspired by Brockmann" srcset="/images/main-image/grid-system-medium.svg">
  </picture>

  <time class="hidden" datetime="2017-11-06T00:35:09.100Z" title="Published: Mon Nov 06 2017">Mon Nov 06 2017</time>

  <div class="passage">
    <h2>Why?</h2>

    <blockquote cite="Josef Müller Brockmann">
      <p>The question of column width is not merely one of design or of format; the question of legibility's of equal importance.</p>
    </blockquote>

    <p>Use of a visual grid as a design tool isn't a new concept, however the use of it on the web isn’t commonplace.
      Sometimes, the term “Grid System” is confusing; documentation tends to focus on code, not the purpose of a grid as a design aid,
      or the principles of grid layout as it is known in Graphic Design. The result is an influx of predictable web layouts.</p>

    <p>The Grid System used with Interior is an interpretation of the method detailed in the book: <em>Grid Systems in Graphic Design</em> by Josef Müller Brockmann.
      This incarnation of Interior is only possible due the new <a href="https://www.w3.org/TR/css-grid-1/" target="_blank">CSS grid spec</a>.
      Without which, the layout options would be minimal, painfully difficult to create; and simply workarounds. </p>
  </div>
</section>

<section>
  <div class="passage">
    <h3>Criteria</h3>

    <p>In order to create my Grid System I wrote down the following criteria to help me decide what I needed from it; in note form.</p>

    <br>

    <ul>
      <li><span>How much content a design will consume, and it's inherent nature—this can dictate style, quantity of images and their sizes,
          volume of copy—the layout should be designed around the content.</li></span>
      <li><span>How much variation is required for a range of different layouts? For example a grid with 3 horizontal cells may not provide enough variation as 4.</li></span>
      <li><span>Layout widths—the cells used are not always fluid I therefore chose cell widths that are divisible within each layout width.</li></span>
      <li><span>The grid system is visual, it’s purpose is for visually understanding the available space in layout.</li></span>
      <li><span>A combined use of pen &amp; paper, Adobe Illustrator, HTML &amp; CSS (and a dash of JS) aids the design process.
          For example due to the defined layout widths the results are predictable, and useful—less content reflow.</li></span>
      <li><span>The ultimate goal is legibility, therefore opt for column widths that enable it.</li></span>
      <li><span>Select the 3 most popular screen widths (according to stats counter), and apply some content;
          in order to understand the column widths required for the typography.</li></span>
      <li><span>It’s an ongoing process and, as tradition would have it, was not expected to be a task that was over and done with without revisiting and adjusting the design to accommodate all that comprises it.
        It's a slow process, however once a layout is established re-use should be possible.</li></span>
    </ul>

  </div>
  <figure class="figure-layout-1">
    <picture>
      <img src="/images/supporting-image/layout-widths.svg" alt="Illustration detaling 3 different layout widths with varying grid cells per width.">
    </picture>
    <figcaption>Illustration detaling 3 different layout widths with varying grid cells per width.</figcaption>
  </figure>
</section>

<section>
  <div class="passage">
    <h3>Process</h3>

    <h4>Calculating width</h4>

    <h6>Font sizes</h6>

    <p>The font sizes should be compatible with the measure</p>

    <h6>Line length</h6>
    <p>The measure suggests 7-10 words per line, therefore a single column width should allow the same at the sizes defined by the measuring system,
        if a larger font is used more columns will be occupied.</p>

    <h6>Layout width</h6>

    <p>I decided up on a series of layout widths based upon the most popular screen resulutions from the results available on statscounter;
        they dictated how many grid-cells could be used, which fed directly into the decision on a suitable column width.</p>
    <p>The grid I implemented on this website works for 4 static layouts and 1 unavoidable fluid layout.</p>

    <h6>Column width</h6>
    <p>I analysed how effective the column width would be by meeting the previous criteria and making any necessary adjustments.</p>
</div>

  <figure class="figure-layout-1">
    <picture>
      <img src="/images/supporting-image/column-width.svg" alt="Illustration detaling 3 different layout widths with varying grid cells per width.">
    </picture>
    <figcaption>Illustration of interplay between grid-cells and <em>the measure</em>.</figcaption>
  </figure>
</section>

<section>
  <div class="passage">
  <h4>Height</h4>

<p>Initially I decided upon computed grid-cell dimensions of 296x296px, this was adjusted to 288x288px for large screens and 288x138px for small to accommodate the Baseline Grid (multiples of 1rem),
    which the cells must align to on the vertical axis.</p>

<p>After this task was complete I could then establish a very practical Grid System.</p>

<h4>Create a grid from grid-cells</h4>

<p>Grid creation was loosely based upon what I decided I would need in order to have enough flexibility to be practical yet creative.
    I took direct influence from <em>Grid Systems in Graphic Design</em>—which I referred to—learning from examples I was able to better understand how important the amount of cells would be as part of the creative process.</p>

<h4>Use for design</h4>

    <p>I applied a true representation of CSS styles to working design files;
        enabling me to go back and forth between the browser and <em>Illustrator</em> by providing continuity.</p>

  </div>
</section>
{% endblock %}

{% block aside %}{% endblock %}
