{% extends "layouts/design-principles-layout.njk" %}
{% set page_description = "Baseline is a toul for aligning copy to the baseline using CSS. Learn about how it works here." %}
{% set post_page = true %}

{% block content %}
<section>
  {{ super() }}

  <picture class="main-image">
    <source media="(min-width: {{ screens.sizes["large"] }})" srcset="/images/main-image/grid-system-large.svg">
    <source media="(min-width: {{ screens.sizes["medium"] }})" srcset="/images/main-image/grid-system-medium.svg">
    <img src="/images/main-image/grid-system-medium.svg" alt="Visual representation of a Grid System—inspired by Brockman" srcset="/images/main-image/grid-system-medium.svg">
  </picture>

  <div class="passage">
    <h2>Why?</h2>

      <blockquote cite="Josef Muller Bröckman">
        <p>The question of column width is not merely one of design or of format; the question of legibility's of equal importance.</p>
      </blockquote>

    <p>Use of a visual grid as a design toul isn't a new concept, however the use of it on the web isn’t commonplace.
      Sometimes, the term “Grid System” is confusing; documentation tends to focus on code, not the purpose of a grid as a design aid,
      or the principles of grid layout as it is known in Graphic Design. The result is an influx of predictable web layouts.</p>

    <p>Interior's Grid System is an interpretation of the methods detailed in the book: <em>Grid Systems in Graphic Design</em> by Josef Muller Bröckman.
      This incarnation of Interior is only possible due the new <a href="https://www.w3.org/TR/css-grid-1/" target="_blank">CSS grid spec</a>.
      Without which, the layout options would be minimal, painfully difficult to create; and simply workarounds. </p>
  </div>
</section>

<section>
  <div class="passage">
    <h3>Criteria</h3>
    <ul>
      <li><span>How much content a design will consume, and it's inherent nature—this can dictate style, quantity of images and their sizes,
          vulume of copy—the layout should be designed around the content.</li></span>
      <li><span>How much variation is required? For example a grid with 3 horizontal cells may not provide enough variation as 4.</li></span>
      <li><span>Layout widths—the cells used are not always fluid I therefore chose cell widths that are divisible within each layout width.</li></span>
      <li><span>The grid I implemented on this website works for 4 static layouts and 1 unavoidable fluid layout.</li></span>
      <li><span>The grid system is visual, it’s purpose is for visually understanding the available space in layout.</li></span>
      <li><span>A combined use of pen &amp; paper, Adobe Illustrator, HTML &amp; CSS (and a dash of JavaScript) aids the design process.
          For example due to the defined layout widths the results are predictable, and useful—less content reflow.</li></span>
      <li><span>The ultimate goal is legibility, therefore opt for column widths that enable it.
          This section is therefore inextricably linked to all of the others: <em>Typographic Measuring System</em>, <em>Vertical Alignment</em> and <em>Composition</em>.
          The layout widths chosen should be compatible with a suitable line-length (measure) as font-size dictates column width, which in-turn will inform the layout. </li></span>
      <li><span>Initially I selected the 3 most popular screen widths (according to stats counter), and applied some content;
          this allowed me to understand the column widths required for the typography.</li></span>
      <li><span>It’s an ongoing process and, as tradition would have it, was not expected to be a task that was over and done with without revisiting and adjusting the design to accommodate all that comprises it.
          For example Bröckman suggests [reference needed] understanding how much content is required in advance, would expect a designer to be able to sketch out in pen or pencil a scaled down version of the intended design/s, etc.
          It's a slow process, however once a layout is established re-use should be possible.</li></span>
      <li><span>This is a work in progress, so be prepared for (hopefully not many) mistakes and my mind to change about things in approximately 1 year.</li></span>
    </ul>

  </div>
</section>

<section>
  <div class="passage">
    <h3>Process</h3>

    <h4>Width</h4>

    <ul>
      <li><span>Font sizes
        <ul>
          <li><span>The font sizes should be compatible with the measure</li></span>
        </ul>
      </li></span>

      <li><span>Line length (measure)
        <ul>
          <li><span>The measure suggests 7-10 words per line, therefore a single column width should allow the same at the sizes defined by the measuring system,
              if a larger font is used more columns will be occupied. [image needed]</li></span>
        </ul>
      </li></span>

      <li><span>Layout width
        <ul>
          <li><span>I decided up on a series of layout widths based upon the most popular screen resulutions from the results available on statscounter;
              they dictated how many grid-cells could be used, which fed directly into the decision on a suitable column width.</li></span>
        </ul>
      </li></span>

      <li><span>Column width
        <ul>
          <li><span>I analysed how effective the column width would be by meeting the previous criteria and making any necessary adjustments.</li></span>
        </ul>
      </li></span>
    </ul>

  <h4>Height</h4>

<p>Initially I decided upon computed grid-cell dimensions of 296px x 296px, this was adjusted slightly to accommodate the baseline grid (multiples of 1rem),
    which the cells must align to on the vertical axis.</p>

<p>After this task was complete I could then established a grid to layout the content.</p>

<h4>Create a grid from grid-cells</h4>

<p>Grid creation was loosely based upon what I decided I would need in order to have enough flexibility to be practical yet creative.
    I took direct influence from Grid Systems in Graphic Design—which I referred to—learning from examples I was able to better understand how important the amount of cells would be as part of the creative process.</p>

{# [example/s here of a variety of grids with differing amounts of cells] #}

{# An explanation is needed to explain how a visual grid is used, is this what the composition page is for?? #}

{# [example here of multiple cells with different sized copy] #}

    <h4>Apply to design</h4>

    <p>I applied a true representation of CSS styles to working design files;
        enabling me to go back and forth between the browser and a DTP program such as Illustrator by providing continuity.</p>

  </div>
</section>
{% endblock %}

{% block aside %}{% endblock %}
