{% extends "layouts/index-layout.njk" %}
{% set page_title = "Design system" %}
{% set page_description = "Read the documentation on how to use Interior" %}
{% block embedded_css %}
  <style>
    .baseline-grid::before {
        background: linear-gradient(to bottom, #00FFFF 0, transparent 1px) 0 0 / 100vw 1rem,
                    linear-gradient(to bottom, #007323 1px, transparent 0) 0 6rem / 100vw 20rem,
                    linear-gradient(to bottom, #007323 1px, transparent 0) 0 7rem / 100vw 20rem
    }
    .baseline-grid .master-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 1rem;
    }
    /* Over-riding some CSS here for exeperminetal reasons. */
    ._6-column-grid-overlay .grid-overlay > div {
        width: auto;
        margin: 0;
        padding: 0;
    }
    /*.baseline-grid .master-grid::before {
        content: "";
        width: 100%;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
        background: linear-gradient(90deg, #000 1px, transparent 0) 0 0 / 100vh 1rem,
                    linear-gradient(90deg, #000 1px, transparent 0) 1rem 0 / 100vh 1rem
    }*/
  </style>
{% endblock %}

  {% block column1 %}
    {{ super() }}
    <p>Whilst using Interior, and simultaneously writing up how it should be used,
      it occurred to me that I can’t always keep up with the development of new specifications.
      Not only that but what if I want to switch methodologies? Apply helper classes one day or the
      separation of concerns on another? Why tie thing down? Therefore separating the fundamental
      design system—which can apply to a design created with any spec—from the ever-changing is not
      only logical, but efficient.</p>
  {% endblock %}
  {% block column2 %}
    <div>
      <h5>Constants</h5>
      <p>These are the fundamentals of Interior; they are constant—and consistent—and can be applied regardless of transients.</p>
      {% if design_system %}
        <nav role="navigation">
          {% for item in design_system %}
            <a href="{{ item }}">{{ item | capitalize | replace("-", " ") | replace(".html", "") }}</a>
          {% endfor %}
        </nav>
      {% endif %}
    </div>
    <div>
      <h5>Transients</h5>
      <p>Due to the nature of technology constantly evolving, constants are not dependant upon transients.</p>
      <nav role="navigation">
        <a href="#">Specifications</a>
        <a href="#">Methodologies</a>
      </nav>
    </div>
  {% endblock %}
