{% extends "layouts/index-layout.njk" %}
{% set page_title = "Design system" %}
{% set page_description = "Read the documentation on how to use Interior" %}
{% block embedded_css %}
{% endblock %}

  {% block column1 %}
    {{ super() }}
    <p>Whilst using Interior, and simultaneously writing up how it should be used,
      it occurred to me that I can’t always keep up with the development of new specifications.
      Not only that but what if I want to switch methodologies? Apply helper classes one day or the
      separation of concerns on another? Why tie thing down? Therefore separating the fundamental
      design system—which can apply to a design created with any spec—from the ever-changing is not
      only logical, but efficient.</p>
  {% endblock %}
  {% block column2 %}
    <div>
      <h5>Constants</h5>
      <p class="small">These are the fundamentals of Interior; they are constant—and consistent—and can be applied regardless of transients.</p>
      {% if design_system %}
        <nav role="navigation">
          {% for item in design_system %}
            <a href="{{ item }}">{{ item | capitalize | replace("-", " ") | replace(".html", "") }}</a>
          {% endfor %}
        </nav>
      {% endif %}
    </div>
    <div>
      <h5>Transients</h5>
      <p class="small">Due to the nature of technology constantly evolving, constants are not dependant upon transients.</p>
      <nav role="navigation">
        <a href="#">Specifications</a>
        <a href="#">Methodologies</a>
      </nav>
    </div>
  {% endblock %}
