{% extends "layouts/index-layout.njk" %}
{% set page_title = "Design system" %}
{% set page_description = "Read the documentation on how to use Interior" %}
{% set first_section_class = "preamble" %}
{% set second_section_class = "principles" %}

{% block embedded_css %}
{% endblock %}

  {% block column1 %}
    {{ super() }}
    {# This content will need revising after writing about how grid is now essential—duh! #}
    <p class="intro">Whilst using and documenting Interior simultaneously it became
      increasingly apparent that keeping up
      with the development of new specifications would be a never ending task.
      What's more, if I want to change methodologies I'd have to refactor lots of code,
      why tie things together? Separating the fundamental design system—which
      can apply to a design created with any spec—from the ever-changing is not
      only logical, but efficient.</p>
  {% endblock %}
  {% block column2 %}
    <div id="design-principles">
      <div class="section-info">
        <h5>Design principles</h5>
        <p class="small">The fundamentals of Interior. Each principle is essential in order to create of consistent and well laid out web designs.</p>
      </div>
      <a class="image-link" href="#">
        <img src="/images/illustrations-web-ready-01.svg" alt="grid system illustration">
        <span>Grid system</span>
      </a>
      <a class="image-link" href="#">
        <img src="/images/illustrations-web-ready-02.svg" alt="grid system illustration">
        <span>Modular scale</span>
      </a>
      <a class="image-link" href="#">
        <img src="/images/illustrations-web-ready-03.svg" alt="grid system illustration">
        <span>Composition</span>
      </a>
      <a class="image-link" href="#">
        <img src="/images/illustrations-web-ready-04.svg" alt="grid system illustration">
        <span>Baseline grid</span>
      </a>
    </div>
    <div id="development-considerations">
      <div class="section-info">
        <h5>Development considerations</h5>
        <p class="small">Due to the nature of technology constantly evolving, there are some useful considerations to think about and possibly plan into a layout focused workflow.</p>
      </div>
        <a class="image-link" href="#">
          <img src="/images/illustrations-web-ready-05.svg" alt="grid system illustration">
          <span>Methodologies</span>
        </a>
        <a class="image-link" href="#">
          <img src="/images/illustrations-web-ready-06.svg" alt="grid system illustration">
          <span>Specifications</span>
        </a>
    </div>
  {% endblock %}
