{% extends "layouts/design-principles-layout.njk" %}
{% set page_description = "Baseline is a toul for aligning copy to the baseline using CSS. Learn about how it works here." %}
{% set post_page = true %}

{% block content %}
<section>
  {{ super() }}

  <picture class="main-image">
    <source media="(min-width: {{ screens.sizes["large"] }})" srcset="/images/page-illustrations_main-image-05.svg">
    <source media="(min-width: {{ screens.sizes["medium"] }})" srcset="/images/page-illustrations_main-image-medium-06.svg">
    <img src="/images/page-illustrations_main-image-medium-06.svg" alt="Visual representation of a typographic measuring system—inspired by Bröckman" srcset="/images/page-illustrations_main-image-medium-06.svg">
  </picture>

  <div class="passage">
    <h2>Why?</h2>
    <p>I deliberately avoided focusing on code in each of the previous sections,
      but without code it would not be possible.</p>
    <p>The advancement of the CSS grid specification is one of the underlying reasons I decided to abandon a focus on code.
      I had also written about, albeit without completely understanding what would eventually happen,
      a new approach that I hadn't tried—previously to the grid spec arriving and being so revolutionary—which can be read <a href="https://codepen.io/morganfeeney/post/dont-build-bootstrap-style-grid-systems-with-flexbox" target="_blank">here</a>.</p>
  </div>
</section>

<section id="impact">
  <div class="passage">
    <h3>Impact</h3>
    <p>Interior has always been experimental and a way for me to implement and learn.
      It originally derived from Bootstrap 3.3.7 but addressed certain pet peeves; such as hard-coded default breakpoints.
    <p>Then the Flex spec arrived and enabled more possibilities, this meant re-writing Interior.</p>
    <p>And then, due to the time it took to re-write Interior to work with Flex,
      just when I was coming to the end of so much learning and re-writing (which really cut in to my free time)
      and thinking about how to use mixins (that seemed necessary with mocking Grid with Flex) to automate all the things, came Grid.</p>
    <p>I was trying to beat it to release, I convinced myself that a milestone in the progress of Interior would be a good thing to look back on,
      but Grid beat me to it and then my code immediately became obsolete.
      I knew it would—I was being very stubborn—I’m not quite sure me being so stubborn was a good thing but here I am;
      having gone through the aches and pains of learning first-hand about what are the best tools for web layout and the reasons why.</p>
  </div>
</section>

<section id="paradigm-shift">
  <div class="passage">
    <h3>Paradigm shift</h3>
    <p>In anticipation of the Grid spec, during the “Flex period”, I rationalised: due to the new abilities the Grid spec provides;
      I had better understand what a Grid System is. To me, this meant reading the definitive source: Grid Systems in Graphic Design by Joseph Müller-Brockmann.</p>
    <p>After studying it, the realisation of what Brockmann documented as being the right way hit me like a ton of bricks.</p>
    <p>I tried to apply the guidance using Flex, and to a point things worked,
      but getting to that point was so convoluted—in the end it couldn’t be achieved with the 1 dimensional Flex without the use of margins.</p>
    <p>I decided out of curiosity to see for myself why there was so much enthusiastic for Grid.
      That was it, my Flex code immediately became obsolete, to continue doing things the way I was doing them would have been an exercise in futility.</p>
  </div>
</section>

<section id="the-spec">
  <div class="passage">
    <h3>The spec is the framework</h3>
    <p>I’ve read several articles about how “the spec is the framework”, and agree with the sentiment.
      But what about underlying design principles? What about the very reason this thing exists in the first place?</p>
    <p>It originated in the realm of Graphic Design, yet now is its main purpose a development tool?
      <br>Who’s responsibility is it to detail design principles? Should there even be any?
      Is this something that the spec could or should even consider referring to from a historical and educational point of view?</p>
    <p>If we consider the number of articles that have been written recently about the design limitations of frameworks,
      and how web design trends lead to stagnant and unimaginative results, why not encourage practical design decisions that do more than apply a header,
      content area, sidebar and a footer?</p>
  </div>
</section>

<section id="design">
  <div class="passage">
    <h3>Could design lead the way?</h3>
    <p>I imagine the spec cannot be exclusive to designers if it is to be adopted by many people, I’m sure it’s daunting enough as it is.
      But how seriously should we take web design? How high is the bar set? Who is responsible for defining what is good? Who's today's answer to Jösef Muller Brockmann <em>and why aren't they involved?</em></p>
  </div>
</section>

{% endblock %}

{% block aside %}{% endblock %}
