{% extends "layouts/design-principles-layout.njk" %}
{% set page_description = "Read this now" %}
{% set page_title = "Typographic <br>measuring system" | safe %}
{% set post_page = true %}

{% block content %}
  <section>
    {{ super() }}

    <picture class="main-image">
      <source media="(min-width: {{ screens.sizes["large"] }})" srcset="/images/page-illustrations_main-image.svg">
      <source media="(min-width: {{ screens.sizes["medium"] }})" srcset="/images/page-illustrations_main-image-medium.svg">
      <img src="/images/page-illustrations_main-image-medium.svg" alt="Visual representation of a typographic measuring system—inspired by Bröckman" srcset="/images/page-illustrations_main-image-medium.svg">
    </picture>

    <div class="passage">
      <h2>Why?</h2>

      <p>Much has been written about the benefits of using a Typographic Measuring System, e.g. <em>Modular Scale</em>.
          What is described here demonstrates how some of that knowledge can be adapted for web use.</p>

      <p>A printed page is finite and does not change, with this in mind a designer may take the measurements and understand, from the dimensions and content, how a layout should be constructed.
          In this context a page is the starting point for calculating font size, grid system; and ultimately the layout.</p>

      <p>In the web browser some of these principles still apply—yet differently.
          For instance, Responsive Web Design introduces a unique design problem; the “page” dimensions can change, be infinite, and viewed on a myriad of devices.
          Another major difference is that the nature of a web page is by default more like a scroll.</p>

      <p>How do we begin to calculate the proportions of a layout? The vertical axis can’t logically be the starting point,
          as content could update regularly or—worse still—be of an unknown quantity; anyone can be a publisher.</p>

      <p>Without a font-size line-length can’t be established, without line-length column-width can’t be determined,
          unless the column-widths are understood the overall layout width is an unknown quantity—hence why this is the first step.</p>
    </div>
  </section>

  <section>
    <div class="passage">
      <h3>Choosing a suitable scale</h3>

      <p>Picking font sizes can be trial and error, the process may involve viewing examples of text on a range of devices, making adjustments where needed.</p>

      <p>To make the most use of a Typographic Measuring System; the HTML element can be scaled using percentages. This provides a level of granularity enabling fonts to be scaled proportionately whilst aligning to a range of vertical grids.</p>

      <p>The percentage used on the HTML element alters line-height—which depending upon the size of the font will have an effect upon legibility.</p>

      <p>All font sizes chosen for Interior were chosen to work with the column widths in the <a href="#">grid system</a>.</p>
    </div>

    <figure class="type-system">
      <picture class="secondary-image">
        <source media="(min-width: {{ screens.sizes["large"] }})" srcset="/images/page-illustrations_units.svg">
        <source srcset="/images/page-illustrations_units-small.svg">
        <img src="/images/page-illustrations_units.svg" alt="Computed pixel (px) font sizes, and rem units.">
      </picture>
      <figcaption>Figure 1 — Computed px size at a scale of 87.5%, set using rem units, Helvetica Neue.</figcaption>
    </figure>
  </section>

  <section>
    <div class="passage">
        <h3>Process</h3>

        <h4>Plan for the measure</h4>
        <p>Providing an optimal line-length for reading—the measure—is key to typographic layout. Selecting a range of font-sizes which aid legibility when combined with the column widths chosen for the grid; is the goal.</p>

        <p>I have intentionally made line-length static, otherwise the measure will be fluid; and constantly change. By introducing layout widths, which restrict the amount of columns, combined with a range of font-sizes used for spanning as many columns as needed, I am able to define a suitable measure of roughly 7-10 words per line.</p>

        <h4>Take it to the baseline</h4>

        <p>I highly recommend getting a suitable range of font-sizes set on a baseline grid as quickly as possible (in HTML and CSS) view the typography on mobile device/s and make adjustments until you get what you want.</p>

        <p>The sizes I’ve used were chosen to work with a variety of line-height applied across a series of layout widths, in other words; that work across a multitude of screen sizes or even device types.</p>

        <p>As described by Brockman:</p>
        <blockquote><p>The correct spaces between letters and words and the length and spacing of lines conducive to easy reading, does much to enhance the impression created</p>.</blockquote>

        <h4>Start designing</h4>

        <p>Once you have the desired legibility, transfer that scale to something like Illustrator and start designing. You’ll eventually make your way back to the browser. Not only will your designs be more accurate, you’ll have laid a solid foundation which you can return to; safe in the knowledge of it already being tried and tested.</p>
    </div>

  </section>

{% endblock %}
