{% extends "layouts/design-principles-layout.njk" %}
{% set page_description = "Understanding vertical alignment used in conjunction with Grid Systems." %}
{% set post_page = true %}

{% block content %}
<section>
  {{ super() }}

  <picture class="main-image">
    <source media="(min-width: {{ screens.sizes["large"] }})" srcset="/images/main-image/vertical-alignment-large.svg">
    <source media="(min-width: {{ screens.sizes["medium"] }})" srcset="/images/main-image/vertical-alignment-medium.svg">
    <img src="/images/main-image/vertical-alignment-medium.svg" alt="Visual representation of vertical alignment" srcset="/images/main-image/vertical-alignment-medium.svg">
  </picture>

  <div class="passage">
    <h2>Why?</h2>

    <p>In order to align parallel text blocks of varying sizes on the vertical axis using CSS;
      the distances measured to align with can be pre-determined.</p>

    <p>One tool I use to understand the distance is a <em>Baseline Grid</em>,
      it's a visual aid used to enable text alignment—comparable to ruled paper.
      The Baseline Grid and <a href="/design-system/typographic-measuring-system.html">Typographic Measuring System</a> are inextricably linked;
      the latter is used to automate calculations which align text blocks on the former; in conjunction with the <a href="/design-system/grid-system.html">Grid System</a>.</p>

    <p>I can squeeze even more use out of it by making a single rem equate to any computed value I want by applying percentages to the <code class="code-inline">&lt;html&gt;</code> element.
      This way a single rem (the measurement used for incrementally traversing the baseline grid) will yield a computed pixel <code class="code-inline">font-size</code> that suits.</p>

    <div class="unit-conversion">
        <p>75%</p>
        <p>=</p>
        <p>12px</p>
        <p>87.5%</p>
        <p>=</p>
        <p>14px</p>
        <p>112.5%</p>
        <p>=</p>
        <p>18px</p>
    </div>

    <p>If the base font-size is 12px, this means 1rem = 12px, this allows me to traverse/align to the baseline in multiples of 6—providing a suitable range of font-sizes and line-heights for layout.</p>
  </div>
</section>

<section>
  <div class="passage">
    <h3>Vertical rhythm</h3>

    <p>Everything I’ve learnt recently about typography leads towards units of measurement being the fundamental building blocks of order and harmony in design.
      A Baseline Grid, in conjunction with a Grid System, can assist by indicating what areas of a layout should accommodate text,
      and visa-versa.</p>

    <p><em>But can't we already create this level of precision with CSS?</em></p>

    <p>… yes, but it's far from straight forward. When we start to piece the various components of a web page together as part of a system and
      align blocks vertically, in a way that allows them to be re-assembled in any order,
      the current spec does not cater toward this way of working—not without working around it.
      One of the main reasons is there is no concept of cap-height;
      there are several articles which explain the problem in great detail, here <a href="https://medium.com/written-in-code/aligning-type-to-baseline-the-right-way-using-sass-e258fce47a9b" target="_blank">Razvan Onefri explains</a> it from his perspective.</p>
  </div>
  <figure class="figure-layout-1">
    <picture>
      <img src="/images/supporting-image/cap-height.svg" alt="Illustration if cap-height, based on Razvan Onefri's.">
    </picture>
    <figcaption>Illustration detailing cap-height, line-height and font-size.</figcaption>
  </figure>
</section>

<section>
  <div class="passage">
    <h3>Process</h3>

    <h4>Pick a font-stack</h4>

    <p>I've used Helvetica &amp; system fonts so didn't need to make many adjustments to the default cap-height settings in Interior.
      If you pick different fonts you’ll need to work out what the cap-height is and apply it.
      if you plan to use Interior there’s a variable for cap-height—it’s passed into the <code class="code-inline">baseline()</code> mixin.</p>

    <h4>Establish a unit for the baseline</h4>

    <p>Multiples of <code class="code-inline">.5rem</code> work really well, depending upon the document base font size, for several reasons:</p>
      <ol>
        <li><span>Granularity—the measure is affected by font size and column width which impacts line-height;
          using <code class="code-inline">.5rem</code> allows more variety of font sizes, without having to keep resizing the entire document using percentages
          as the columns get wider—which is another way to vary the baseline grid (and line-heght).</span></li>
          <li><span>Unit-less values are incorrectly computed in some cases, which can lead to a lot of head scratching,
            it almost seems counter-intuitive to go for a static unit of measurement but in this case the solution works.</span></li>
          <li><span>Simplicity—you only need to be concerned with multiples of <code class="code-inline">.5rem</code>, nothing more in terms of line-height.</span></li>
      </ol>

    <h4>Make adjustments</h4>

    <p>Possibly most time consuming—and tricky—part and what the visual baseline grid is for.
      To align text to “sit” on the baseline I need to see things in action,
      so I open up a browser window and view text on a baseline grid,
      if it doesn’t quite sit right I make adjustments until it does and then track my progress using Git.</p>

    <p>What I found of most use to get this correct was creating sample pages with varying degrees of content,
      paragraphs, headings, block-quotes, citations, images, figures with captions etc.
      then adding and removing things—every element has an impact on it's neighbor.</p>

    <h4>Use for design</h4>

    <p>As stated on the previous page, if you want to apply an accurate representation of CSS styles to a working design,
      for the sake of continuity this method will allow it. Enabling you to work back and forth between the browser and a DTP program such as <em>Illustrator</em>.</p>

  </div>
</section>
{% endblock %}

{% block aside %}{% endblock %}
