:root {
  --font-size-mobile-small: 0.750rem; /* 12px */
  --font-size-global-small: 0.750rem; /* 12px */
  --font-size-global-body: 1rem; /* 16px */
  --font-size-global-large: 1.375rem; /* 22px */
  --font-size-android-large: 1.375rem; /* 22px */
  --font-size-android-large-x: 1.75rem; /* 28px */
  --font-size-global-large-x: 2.25rem;  /* 36px */
  --font-size-global-headline: 3rem; /* 48px */

  --line-height-global-small: 1rem; /* 16px */
  --line-height-mobile-small: 1.125rem; /* 18px */
  --line-height-global-body: 1.5rem; /* 24px */
  --line-height-global-code: 1.5rem; /* 24px */
  --line-height-android-large: 1.875rem; /* 30px */
  --line-height-global-large: 2rem; /* 32px */
  --line-height-android-large-x: 2.5rem; /* 40px */
  --line-height-global-large-x: 3.125rem; /* 50px */
  --line-height-global-headline: 4.375rem; /* 70px */

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: var(--root-line-height, var(--line-height-global-body));
}



@define-mixin mobile-small {
  font-size: var(--font-size-mobile-small);
  line-height: var(--line-height-mobile-small);
}

@define-mixin global-small {
  font-size: var(--font-size-global-small);
  line-height: var(--line-height-global-small);
}

@define-mixin global-body {
  font-size: var(--font-size-global-body);
  line-height: var(--line-height-global-body);
}

@define-mixin global-large {
  font-size: var(--font-size-global-large);
  line-height: var(--line-height-global-large);
  font-weight: normal;
}

@define-mixin android-large {
  font-size: var(--font-size-android-large);
  line-height: var(--line-height-android-large);
}

@define-mixin android-large-x {
  font-size: var(--font-size-android-large-x);
  line-height: var(--line-height-android-large-x);
}

@define-mixin global-large-x {
  font-size: var(--font-size-global-large-x);
  line-height: var(--line-height-global-large-x);
}

@define-mixin global-headline {
  font-size: var(--font-size-global-headline);
  line-height: var(--line-height-global-headline);
}
