.code-sample {
  --code-sample-font-family: Menlo, Courier;
  font-family: var(--code-sample-font-family);
  line-height: var(--line-height-global-code);
}

.code-sample__code {
  font-family: inherit;
}

.code-sample__comment {
  color: var(--grey-5);
}

.code-sample__property {
  color: var(--grey-4);
}

.code-sample__value {
  color: var(--interior-orange);
}

.code-sample__selector {
  color: var(--interior-orange);
}

.code-sample__at-rule {
  color: var(--interior-orange);
}

.code-sample__modal {
  position: absolute;
  left: 0;
  background: var(--dark-overlay);
  top: 0;
  width: 100vw;
  bottom: 0;
  margin: 0;
  display: flex;
  padding: .5rem;
  align-items: center;
  flex-flow: column;
}

.code-sample__modal-button {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  border: none;
  padding: 1rem;
  width: 100%;
  -webkit-appearance: none;
  background: var(--interior-orange, red);
  color: var(--white);
  margin: 0;
  @extend .global-large;
}

.code-sample__modal-body {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: var(--white);
  border-radius: 1rem;
  max-width: 100%; // Should flex to screen width.
  position: relative;
  top: var(--code-sample-modal-offset, 0);
}

.code-sample__modal-body .code-sample {
  margin: 2rem;
}

.modal-open {
  // overflow: hidden;
  // position: fixed;
}
