.code-sample {
  --code-sample-font-family: Menlo, Courier;
  font-family: var(--code-sample-font-family);
  line-height: var(--line-height-global-code);
}

.code-sample__code {
  font-family: inherit;
}

.code-sample__comment {
  color: var(--grey-5);
}

.code-sample__property {
  color: var(--grey-4);
}

.code-sample__value {
  color: var(--interior-orange);
}

.code-sample__selector {
  color: var(--interior-orange);
}

.code-sample__at-rule {
  color: var(--interior-orange);
}

.code-sample__modal {
  position: fixed;
  left: 0;
  background: var(--grey-tint);
  width: 100vw;
  top: 0;
  bottom: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  padding: 1rem;
}

.code-sample__modal-button {
  position: fixed;
  bottom: 0;
  padding: 1rem;
  width: 100%;
}

.code-sample__modal-body {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.modal-open {
  overflow: hidden;
  position: fixed;
}
