/* ==============================================================
   Variables
   ============================================================== */

// Units
$bp1: 580px;
$bp2: 700px;
$cols: 12;
$vspace: 3rem;
$hspace: 1rem;
$vspace: 1.17rem;
$grid-gutter: $hspace;
$m: $hspace;
$wrapper-width--large: 80rem;

// Colours
$brand-color-1: #FF7070;
$brand-color-2: #FFF;
$brand-color-3: #555;
$brand-color-4: #000;
$brandbg: $brand-color-1;
$lightbg: $brand-color-2;
$nobg: transparent;
$brandbg--light: #FFD4D4;
$darkbg: $brand-color-3;

// Fonts
$fs1: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;