/* ==============================================================
   Base
   ============================================================== */

// Reset
*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

// Base styles
body {
  background: $brandbg-light;
  font-family: $fs1;
}

%grid-container {
  // Align non-grid content with grid columns
  margin-left: -$grid-gutter;
  margin-right: -$grid-gutter;
}

.container {
  // Overcome collapsing margins... somehow.
  display: flex;
  flex-flow: column;
  max-width: $wrapper-width-large;
  padding: 0 $grid-gutter;
  margin: auto;
  background: $brand-color-2;
}

a {
  &,
  &:link,
  &:focus,
  &:hover {
    color: $font-color-1;
  }
}