/* ==============================================================
   Base
   ============================================================== */

// Reset
*, *:before, *:after {
  box-sizing: border-box;
}

html,
body,
figure {
  margin: 0;
  padding: 0;
}

// HOPEFULLY THIS CAN BE A THING OF THE PAST SOOOOON,
// Commenting out until further notice.
//
// // Base styles
// %grid-container {
//   // Align non-grid content with grid columns
//   margin-left: -$grid-gutter;
//   margin-right: -$grid-gutter;
// }

%container {
  // Overcome collapsing margins... somehow.
  display: flex;
  flex-flow: row wrap;
  max-width: $wrapper-width-large;
  margin: auto;
  background: $brand-color-2;
  justify-content: space-between;
}

.container {
  @extend %container;
  padding: 0 $grid-gutter;
}

a {
  &,
  &:link,
  &:focus,
  &:hover {
    color: $font-color-1;
  }
}
