/* ==============================================================
   Gallery
   ============================================================== */

.gallery {
  display: flex;
  flex-flow: row wrap;
  @extend %container;
  margin-top: $vertical-space;
  margin-bottom: $vertical-space;
}
.gallery-item {
  @include col(4);
  margin-bottom: $grid-gutter;
  @media(min-width: $bp2) {
    @include col(3);
  }
  img {
    @extend %fluid-img;
  }
}
