/* ==============================================================
   Image
   ============================================================== */

%fluid-img {
  max-width: 100%;
  height: auto;
  display: block;
}
img {
  @extend %fluid-img;
}
.container > img {
  align-self: center;
}

.image-hero {
  @extend %fluid-img;
  figcaption {
    margin-bottom: $vertical-space;
  }
}

figure {
  margin-bottom: $vertical-space;
}

figcaption {
  background: $light-gray;
  padding: inherit;
}
