/* ==============================================================
   Image
   ============================================================== */

%fluid-img {
  max-width: 100%;
  height: auto;
  display: block;
}
img {
  @extend %fluid-img;
}
.container > img {
  align-self: center;
}

.image-hero {
  @extend %fluid-img;
}
