/* ==============================================================
   Layout
   ============================================================== */

 %container {
   max-width: $wrapper-width-large;
   margin: auto;
   background: $brand-color-2;
 }

 %flex-container {
   // Overcome collapsing margins... somehow.
   display: flex;
   flex-flow: row wrap;
 }

 .container {
   @extend %container;
   padding: 0 $grid-gutter;
 }

 .grid {
   @extend %flex-container;
   margin-left: -$horizontal-space-small;
   margin-right: -$horizontal-space-small;
 }

 .grid-main {
   justify-content: space-between;
 }

.content-main {
  @include col(12);
  @media(min-width: $bp1) {
    @include col(7);
  }
}

.content-sub {
  @include col(12);
  @media(min-width: $bp1) {
    @include col(4);
  }
}

.content-header {
  @include col(12);
}

.layout-thin {
  .content-header,
  .content-main {
    @media(min-width: $bp1) {
      @include col(9);
      margin: auto;
    }
  }
}

.dl-horizontal {
  @extend %flex-container;
  justify-content: flex-end;
  align-content: flex-start;
  @include col(12);
  &:last-child {
    margin-bottom: $vertical-space;
  }
  dt {
    @include text-col(4, $min: true);
    font-weight: bold;
    margin-right: auto;
    padding-right: 1rem;
  }
  dd {
    @include text-col(8);
    margin: 0 0 .75rem;
    &:last-child {
      margin: 0;
    }
  }
}

dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
