.posts {
  @extend %flex-container;
}
.post {
  @include col(6);
  @media(min-width: $bp2) {
    @include col(4);
  }
}
// Post layouts
%post-thumb-right {
  img {
    float: right;
    max-width: 120px;
    padding-left: 20px;
    padding-bottom: 20px;
  }
}

.post-layouts-1 {
  .post {
    @extend %post-thumb-right;
  }
}
