/* ==============================================================
   Variables
   ============================================================== */

// Units
$bp1: 580px;
$bp2: 700px;
$cols: 12;
$horizontal-space: 3rem;
$horizontal-space-small: $horizontal-space/2;
$vertical-space: 4rem;
$vertical-space-small: $vertical-space / 4;
$grid-gutter: $horizontal-space;
$m: $horizontal-space;
$wrapper-width-large: 120rem;
$g: $cols*$cols/100;

//** Colours
//
// Brand colours (base colours)
$brand-color-1: #FF7070;
$brand-color-2: #FFF;
$brand-color-3: #555;
$brand-color-4: #000;

// Colour variants
$brandbg: $brand-color-1;
$lightbg: $brand-color-2;
$nobg: transparent;
$brandbg-light: lighten($brandbg, 20);
$darkbg: $brand-color-3;

// Grayscale
$base-gray: #000;
$dark-gray: lighten($base-gray, 10%);
$mid-gray: lighten($base-gray, 50%);
$light-gray: lighten($base-gray, 90%);

// Font colours
$font-color-1: $brand-color-1;
$font-color-2: $brand-color-2;
$font-color-3: $brand-color-3;
$font-color-4: $brand-color-4;

// Fonts
$fs1: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fs2: "Helvetica Neue", Helvetica, Arial, sans-serif;

//** Vertical rythm
//

// Rivers


// Islands
