.scroller {
  grid-column: margin;
  overflow-x: auto;
  display: grid;
  grid-template-columns: var(--container-grid-template);
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.scroller__inner {
  --scroller-inner-grid-column: container-grid;
  grid-column: var(--scroller-inner-grid-column);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  grid-column-gap: var(--gutter-x);

  @media (--iPadPro) {
    --figure-wrapper-inner-grid-column: 5 / span 9;
  }
}

.scroller__item {
  display: grid;
  scroll-snap-align: center;
  grid-auto-flow: column;
  height: var(--row-height);

  &:last-child {
    /* only works if we don't use grid gap due to a gap being added between this
     * and the content.
     */
    &::after {
      content: "";
      /* align the last-child to the edge of the overflowing container. */
      width: calc((100vw - var(--container-width)) / 2);
      background: transparent;
    }
  }

  & img {
    width: calcColumnWidth(2);
    object-fit: cover;
    height: 100%;
  }
}