<aside>
  <header>
    <img id="logo" src="http://placehold.it/160/FFF1F1/FF7070?text=<LOGO>" alt="" />
  </header>
  <nav>
    <a href="#">Home</a>
    <a href="#">Work</a>
    <a href="#">Design</a>
    <a href="#">Blog</a>
    <a href="#">Contact</a>
  </nav>
</aside>