{% import "../../../blocks/scroller/scroller.njk" as scr %}

{{ scr.scroller(
    items=[
      {
        imgSrc:'/images/Interior-graphics_Column-width-2.svg',
        href: '/column-width.html',
        itemAlt: 'Column width image'
      },
      {
        imgSrc:'/images/Interior-graphics_Column-width-2.svg',
        href: '/column-width.html',
        itemAlt: 'Column width image'
      },
      {
        imgSrc:'/images/Interior-graphics_screens.svg',
        href: '/srceens.html',
        itemAlt: 'Screens image'
      }
    ]
  ) 
}}