.stage {
  --artboard-width: 330px;
  --gutter-width: 12px;
  --column-width: 16.667%;
  display: grid;
  grid-template-columns: 1fr [artboard-start] var(--artboard-width) [artboard-end] 1fr;
}

.artboard {
  grid-column: artboard;
  background: var(--white);
  border: 2px solid var(--black);
  border-bottom: 0;
  height: calc(100% - var(--gutter-y));
  display: grid;
  grid-row: 1;
}

.container-grid-overlay {
  grid-row: 1;
  z-index: 1;
  height: 100%;
  grid-column: artboard;
  display: grid;
  &::before,
  &::after {
    width: calc(100% - var(--gutter-width));
    height: 100%;
    display: block;
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    border-right: 1px solid var(--interior-orange);
  }

  &::before {
    content: "";
    margin-left: var(--gutter-width);
    justify-self: center;
    background: repeating-linear-gradient(
      to right,
      var(--interior-orange),
      var(--interior-orange) 1px,
      transparent 1px,
      transparent var(--column-width)
    )
  }
  &::after {
    content: "";
    background: repeating-linear-gradient(
      to right,
      var(--interior-orange),
      var(--interior-orange) 1px,
      transparent 1px,
      transparent var(--column-width)
    )
  }
}
