.stage {
  --stage-grid-template-columns:    
  [fluid-margin-start]
  var(--fluid-margin) 
  [margin-start]
  var(--m) 
  [container-start] 
  var(--c) repeat(var(--container-column-count), var(--g) var(--c))
  [container-end] 
  var(--m) 
  [margin-end] 
  var(--fluid-margin)
  [fluid-margin-end];
  --gutter-width: 13px;
  --column-width: 25%;
  --m: var(--gutter-width);
  --g: var(--gutter-width);
  --c: 1fr;
  --container-column-count: 3;
  --fluid-margin: 2fr;
  --placeholder-image-height: calcRowHeight(2);
  position: relative;
  display: grid;
  align-items: end;
  grid-template-columns: var(--stage-grid-template-columns);
    grid-template-rows: [container-start] var(--gutter-y) repeat(3, 1fr) 0 [container-end];
    row-gap: 1rem;

    @media(--tablet) {
      --gutter-width: 18px;
      --fluid-margin: 3fr;
      --column-width: 16.667%;
      --container-column-count: 5;
      --placeholder-image-height: calcRowHeight(2);
    }
}

.artboard {
  grid-column: margin;
  background: var(--white);
  border: 2px solid var(--black);
  border-bottom: 0;
  height: calc(100% - var(--gutter-y));
  display: grid;
  grid-row: container;
}

.container-grid-overlay {
  grid-row: container;
  z-index: 1;
  height: 100%;
  grid-column: margin;
  display: grid;
  &::before,
  &::after {
    width: calc(100% - var(--gutter-width));
    height: 100%;
    display: block;
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    border-right: 1px solid var(--interior-orange);
  }
  &::before {
    content: "";
    margin-left: var(--gutter-width);
    justify-self: center;
    background: repeating-linear-gradient(
      to right,
      var(--interior-orange),
      var(--interior-orange) 1px,
      transparent 1px,
      transparent var(--column-width)
    )
  }
  &::after {
    content: "";
    background: repeating-linear-gradient(
      to right,
      var(--interior-orange),
      var(--interior-orange) 1px,
      transparent 1px,
      transparent var(--column-width)
    )
  }
}

.stage__y-item {
  grid-row: container;
  height: 100%;
  background: #ED1C24;
  opacity: 0.175;
  &:nth-child(even) {
    background: #00FFFF;
  }
  &:nth-child(2),
  &:nth-child(14) {
    background: #FFFF00;
  } 
  &:nth-child(1),
  &:nth-child(15) {
    background: #FF00FF;
  }

  @media(--tablet-max) {
    &:nth-child(10) {
      background: #FFFF00;
    }
    &:nth-child(11) {
      background: #FF00FF;
    }
    &:nth-child(12),
    &:nth-child(13),
    &:nth-child(14),
    &:nth-child(15) {
      display: none;
    }
  }
}

.stage__counter {
  --counter-size: 0.4rem;
  z-index: 1;
  display: flex;
  align-items: center;
  position: relative;
  grid-column: 1 / span var(--stage-counter-grid-column);

  &::before {
    content: "";
    width: calc(100% - calcColumnWidth(.65));
    margin-right: var(--counter-size);
    right: 0;
    position: absolute;
    height: 2px;
    background: var(--black);
  }
  &::after {
    content: "";
    right: calc((var(--g) / 2) - (var(--counter-size) / 2));
    position: absolute;
    width: var(--counter-size);
    height: var(--counter-size);
    border-radius: 50%;
    background: var(--black);
  }
}

.stage__counter-wrapper {
  grid-column: fluid-margin;
  grid-row: container;
  align-self: center;
  display: grid;
  row-gap: 1rem;

  grid-template-columns: var(--stage-grid-template-columns);

  @supports(grid-template-columns: subgrid) {
    grid-template-columns: subgrid;
  }

  @media(--tablet) {
    row-gap: 2rem;
  }
}

.stage__number {
  width: 1.25rem;
  height: 1.25rem;
  font-size: var(--font-size-global-small);
  line-height: 1.25rem;
  border-radius: 50%;
  background: var(--black);
  color: var(--white);
  text-align: center;
  margin-left: calcColumnWidth(.5);
  z-index: 1;
  position: relative;

  @media(--tablet) {
    width: 2rem;
    height: 2rem;
    @mixin global-body;
    line-height: 2rem;
  }
}

.stage__placeholder {
  background: #e6e6e6;
  height: 100%;
}

.stage__placeholder_span-fluid-margin {
  grid-column: fluid-margin;
  grid-row: 2;
}

.stage__placeholder_span-container {
  grid-column: container;
  grid-row: 4;
}

.stage__placeholder_span-half {
  grid-column: 3 / span 3;
  grid-row: 3;

  @media(--tablet) {
    grid-column: 9 / span 5;
  }
}

.stage__placeholder_span-half_dummy-text {
  grid-column: 7 / span 3;
  @media(--tablet) {
    grid-column: 3 / span 5;
  }
}

.artboard_span-fluid-margin {
  grid-column: fluid-margin;
  grid-row: 1/3;
  z-index: 1;
  border-bottom: 2px solid;
}

.artboard_span-margin {
  grid-column: margin;
  grid-row: 3/6;
}

.artboard_span-container {
  grid-column: container;
}