body {
  --color: #FF7070;

  --background-baseline: repeating-linear-gradient(
    to bottom,
    var(--color),
    var(--color) 1px,
    transparent 1px,
    transparent var(--baseline)
  )
}

.baseline-grid::before {
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    mix-blend-mode: multiply;
    background: linear-gradient(#FF7070 0,transparent 1px) 0 0/100vw var(--baseline) repeat-y,linear-gradient(rgba(255,112,112,0.5) 0,transparent 1px) 0 var(--baseline-wut)/100vw var(--baseline-wut) repeat-y;
    pointer-events: none;
    background: var(--background-baseline);
}
