/* ==============================================================
   Column mixin
   ============================================================== */

@mixin col(
  $col,
  $nested-sibling: $grid-gutter + $grid-gutter,
  $width: 100% / $cols * $col,
  $nested-siblings: false,
  $gutter: $grid-gutter,
  $fg: 1,
  $fs: 1
){
  @if $nested-siblings == true {
    // $n stands for Nested sibling offset
    flex: $fg $fs calc(
      #{$width} - #{$nested-sibling}
    );
    margin: $gutter / 2;
    padding: $gutter / 2;
    // min-width to stop Safari being a dick.
    min-width: calc(
      #{$width} - #{$nested-sibling}
    );
  } @else {
    flex: $fg $fs calc(
      #{$width} - #{$gutter}
    );
    // min-width to stop Safari being a dick.
    min-width: calc(
      #{$width} - #{$gutter}
    );
    margin: $gutter / 2;
    padding: $gutter / 2;
  }
}