/* ==============================================================
   Column mixin
   ============================================================== */

@mixin col(
  $col,
  $width: 100% / $cols * $col,
  $gutter: $grid-gutter
){
  width: calc(#{$width} - #{$gutter});
}
