/* ==============================================================
   Column mixin
   ============================================================== */

@mixin col(
  $col,
  $width: 100% / $cols * $col,
){
  width: calc(#{$width} - #{$grid-gutter});
  margin: 0 $grid-gutter/2;
}

// For Definition lists only at the time of writing
@mixin text-col(
  $col,
  $width: 100% / $cols * $col,
  $max: false
){
  @if $max != false {
    min-width: #{$width};
  } @else {
    min-width: #{$width};
    max-width: #{$width};
  }
}
