{% extends "layouts/free-format-layout.njk" %}

{% block intro %}
  <h1>Contents</h1>
{% endblock %}

{% block main %}
<aside>
  <h2>Regular features</h2>
  <h3>Editorial - 23</h3>
  <p>One of the greatest</p>
  <h3>New music - 27</h3>
  <p>From the periphery</p>
  <h3>Reviews - 65</h3>
  <p>Festival reports, product reviews and our verdict on the latest releases in film and music</p>
  <h3>Turning points: Altern 8's Mark Archer - 87</h3>
  <p>Following the 25th anniversary of the debut album from the rave scene's quintessential masked marauders, Mark Archer reminisces on mischief with Theo Kotz</p>
  <h3>20 Questions: Ho99o9 - 89</h3>
  <p>One half of the New Jersey noise-rap duo talks PBJ sandwiches and the case for disrobing with Jason Hunter</p>
  <h3>Perspective: The Subversive Stride of Mykki Blanco - 90</h3>
  <p>The fearlessly progressive performance artist and musician has restrung categorisations of hip-hop and helped push radical queer ideas toward the mainstream. Here, he refelcts on the freedom this platform has granted him</p>
</aside>
<div class="layout-contents">
  <div class="item">
    <img src="/images/Bjorkcoverphoto-large.jpg" alt="Björk - credits: crack magazine">
    <div>
      <h4>Björk: With all the earth’s electricity - 28</h4>
      <p>Offering unique ways to connect with her artistry with her <em>Björk Digital Exhibition</em>, the Icelandic icon takes one step further into unchartered dimensions.
speaking to Jazz Monroe, Björk explores the harmonioous balance to be found with nature and technology</p>
    </div>
  </div>
  <div class="item">
    <div>
      <h4>Björk Collaborator Andrew Huang threads together the symbolism of dreams - 54</h4>
      <p>Throughout the abstract visions and characters he creates, the LA filmmaker mines the reality-distorting potential of the dream state. By Augustin Macarelli</p>
    </div>
    <div>
      <h4>Show me the body: Take it to the streets - 42</h4>
      <p>Increasing displays of police brutality, art spaces on the nbrink of extinction and the erosion of New York City's creative essence fuel Show Me The Body's undiluted hardcore. Tom Watson finds out how the band are rallying rebels</p>
    </div>
  </div>
  <div class="item">
    <img src="/images/get-together-large.jpg" alt="Photo of 'cool' party people - credits: crack magazine">
    <div>
      <h4>Get together: How collectives are building dance music's Better Future - 36</h4>
      <p>As restorative as dancefloors are, they can also be an unsafe place for some. Sirin Kale gets to know the collectives that are doing away with unbalanced power srtuctures and concentrating directly on the party</p>
    </div>
  </div>
  <div class="item">
    <div>
      <h4>Japanese breakfast: Spiritual healing - 44</h4>
      <p>Michelle Zauner's solo project Japanese Breakfast pools emotions into a swirl of shoegaze nostalgia. She expounds on change, sentiment and whitewashing with Gunseli Yalcinkaya</p>
    </div>
    <div>
      <h4>Go slow: Calm &amp; Collected's synergic platform for woozy design - 48</h4>
      <p>The duo behind art and design practice Calm &amp; Collected shun the furious scrolling of internet trends to embrace the IRL pleasures of their Peckham base</p>
    </div>
  </div>
  <div class="item">
    <img src="/images/ScHoolboy-q-large.jpg" alt="Photo of ScHoolboy Q - credits: crack magazine">
    <div>
      <h4>Aesthetic: ScHoolboy Q - 58</h4>
      <p>The black Hippy raper flaunts his hippy charisma for our darkly psychedelic shoot</p>
    </div>
  </div>
</div>
{% endblock %}
