{% set base_path = ".." %}
{% set page_title = "Examples" %}
{% set page_description = "Example layouts created with Interior." %}
{% extends "layouts/standard-layout.njk" %}

{% block embedded_css %}
<style>
  h1::before {
    content: "Examples"
  }
  h2::before {
    content: "Navigation"
  }
</style>
{% endblock %}

{% block main %}
  <h2>Title about this page</h2>
  <p>This page links to all of the different layouts created to demonstrate the potential of the Interior system.</p>
  <ul>
    {% for example in examples %}
    {# Check to see if the current page matches a link #}
      {% if example == file %}
        <li><a style="color: black" href="{{ example }}">{{ example | capitalize | replace("-", " ") | replace(".html", "") }}</a></li>
      {% else %}
          <li><a href="{{ example }}">{{ example | capitalize | replace("-", " ") | replace(".html", "") }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

{% endblock %}
