{% extends "layouts/scale-measure-layout.njk" %}

{% block header %}
{% endblock %}

{% block main %}
  {% set golden_section = {
      "canon": "18.96",
      "double great primer": "11.10",
      "four line brevier": "6.86",
      "two line pica": "4.24",
      "double pica": "2.62",
      "great primer": "1.62",
      "english": "1",
      "pica": ".617"
    }
  %}
  {% set fifth = {
      "canon": "16.5",
      "double-great-primer": "10.5",
      "four-line-brevier": "6.5",
      "two-line-pica": "4",
      "double-pica": "2.5",
      "great-primer": "1.5",
      "english": "1",
      "pica": ".667"
    }
  %}
  <aside class="measuring-sticks">
    <div class="golden-section-stick">
      {% for scale, scales in golden_section %}
        <div id="{{ loop.index }}">
          <span>{{ scales }}</span>
        </div>
      {% endfor %}
    </div>
    <div class="fifth-stick">
      {% for scale, scales in fifth %}
        <div id="{{ loop.index }}">
          <span>{{ scales }}</span>
        </div>
      {% endfor %}
    </div>
  </aside>
  <section>
    <h1>Pack my box with five dozen liquor jugs.</h1>
    <h2>Pack my box with five dozen liquor jugs.</h2>
    <h3>Pack my box with five dozen liquor jugs.</h3>
    <h4>Pack my box with five dozen liquor jugs.</h4>
    <h5>Pack my box with five dozen liquor jugs.</h5>
    <h6>Pack my box with five dozen liquor jugs.</h6>
  </section>
{% endblock %}
