{% extends "layouts/scale-measure-layout.njk" %}

{% block header %}
{% endblock %}

{% block main %}
  <section class="multiple-measures">
    <aside>
      <div class="double-stick golden-section-and-minor-second-stick">
        {% for scale, scales in data.modular_scales.golden_section_and_minor_second %}
          <div id="{{ loop.index }}">
            <span>{{ scales }}</span>
          </div>
        {% endfor %}
      </div>
    </aside>
  </section>
  <section>
    <h1>Pack my box with five dozen liquor jugs.</h1>
    <h2>Pack my box with five dozen liquor jugs.</h2>
    <h3>Pack my box with five dozen liquor jugs.</h3>
    <h4>Pack my box with five dozen liquor jugs.</h4>
    <h5>Pack my box with five dozen liquor jugs.</h5>
    <h6>Pack my box with five dozen liquor jugs.</h6>
    <p>I slit the sheet, the sheet I slit; and on the slitted sheet I sit.</p>
  </section>
{% endblock %}
