{% extends "layouts/scale-measure-layout.njk" %}
{% block header %}

{% endblock %}
{% block main %}
{% set specimins = ["canon","double great primer","four line brevier","two line pica","double pica"] %}
<aside class="measuring-stick">
  {% for specimin in specimins %}
    <div id="{{ loop.index }}">
      <span>{{ specimin }}</span>
    </div>
  {% endfor %}
</aside>
  <section>
    <h1>Pack my box with five dozen liquor jugs.</h1>
    <h2>Pack my box with five dozen liquor jugs.</h2>
    <h3>Pack my box with five dozen liquor jugs.</h3>
    <h4>Pack my box with five dozen liquor jugs.</h4>
    <h5>Pack my box with five dozen liquor jugs.</h5>
    <h6>Pack my box with five dozen liquor jugs.</h6>
  </section>
{% endblock %}
